<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBISTE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="/chicadmin/ckeditor/ckeditor.js"></script>
<script language="Javascript"><!--
function VF_add(){ //v2.0

	var theForm			= document.change_password;
	var dte_startRE		= /^(0[1-9]|[12][0-9]|3[01])\-(0[1-9]|1[012])\-(19|20)\d\d$/;
	var errMsg			= "";
	var setfocus		= "";


	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}

//-->
</script>

<form action="image_add.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_add();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	เพิ่มรูปใน Catalog : เพิ่มรูปใน Catalog เรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "image_list.php?id=$id";}, 2000);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	เพิ่มรูปใน Catalog : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-resource">ข้อมูล </a></li>
                    </ul>
                    <div id="tabs-resource">
                      <p>&nbsp;</p>
<table width="100%" border="0" cellpadding="5" cellspacing="0">
  <tr>
    <td>
	<p class="padding10">รูป 1<br />
      <input type="file" name="resource_imagecontent1" id="resource_imagecontent1" />
	</p>
	<p class="padding10">รูป 2<br />
	  <input type="file" name="resource_imagecontent2" id="resource_imagecontent2" />
	  </p>
	<p class="padding10">รูป 3<br />
	  <input type="file" name="resource_imagecontent3" id="resource_imagecontent3" />
	  </p>
	<p class="padding10">รูป 4<br />
	  <input type="file" name="resource_imagecontent4" id="resource_imagecontent4" />
	</p>
	<p class="padding10">รูป 5<br />
	  <input type="file" name="resource_imagecontent5" id="resource_imagecontent5" />
	</p>
	  	  
	  
	  </td>
    <td>
	<p class="padding10">รูป 6<br />
      <input type="file" name="resource_imagecontent6" id="resource_imagecontent6" />
      </p>
	<p class="padding10">รูป 7<br />
	  <input type="file" name="resource_imagecontent7" id="resource_imagecontent7" />
	  </p>
	<p class="padding10">รูป 8<br />
	  <input type="file" name="resource_imagecontent8" id="resource_imagecontent8" />
	  </p>
	<p class="padding10">รูป 9<br />
	  <input type="file" name="resource_imagecontent9" id="resource_imagecontent9" />
	  </p>
	<p class="padding10">รูป 10<br />
	  <input type="file" name="resource_imagecontent10" id="resource_imagecontent10" />
	  <br />
	</p>

    </td>
  </tr>
</table>
<p class="padding10">** รูปขนาด 1474 × 1020 (resize ให้อัตโนมัติ)</p>   
<div class="clear"></div>
</div>

	</div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_add();" class="submit button large ui-corner-all">เพิ่มรูป</a> 
</div>

<input name="action" type="hidden" id="action" value="add" />
<input name="id" type="hidden" id="id" value="$id" />

<!--/SiXhEaD:STAFF_FORM-->




</form>
