<!--SiXhEaD:CSS-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>$TITLE_WEBISTE</title>
    
    <!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
    <!-- End JQuery UI CSS Framework -->
	
    <!-- Styles specific for current page -->
    <link rel="stylesheet" type="text/css" href="/chicadmin/js/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" type="text/css" href="/chicadmin/js/markitup/sets/html/style.css" />
    <link rel="stylesheet" type="text/css" href="/chicadmin/js/jqplot/jquery.jqplot.css" />
     <!-- END Specific Styles -->
    
    <!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="/chicadmin/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="/chicadmin/css/commons.css" />
    <link rel="stylesheet" type="text/css" href="/chicadmin/css/plugins.css" />
    <!-- END General Styles -->
    
    <!-- Current Theme styles. These are changed via theme switcher -->	
	<link rel="stylesheet" id="active-theme-globals" type="text/css" href="/chicadmin/themes/clean-grey/css/globals.css" />
	<link rel="stylesheet" id="active-theme-commons" type="text/css" href="/chicadmin/themes/clean-grey/css/commons.css" />
	<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="/chicadmin/themes/clean-grey/css/plugins.css" />
	<!-- END Current Theme styles -->



<!--/SiXhEaD:CSS-->
<style>
.resource_block{
	display:block;
	float:left;
	width:250px;
	height:200px;
	padding:3px;
	text-align:center;
	background-color:#E8E8FF;
	padding-top:20px;
	margin:5px;
	padding-left:5px;
	padding-right:5px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}
</style>
<script type="text/javascript">
function image_delete(id) {   


		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการลบอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="window.location.href=\'image_del.php?id='+id+'\';">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );
}
</script>
              <div style="margin:10px 15px 20px 10px; text-align:right;">
                	<a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">เพิ่มรูป</a>
                </div>

<!--SiXhEaD:MEMBER_LIST-->	  
		<!--SUB:1-->	  
<div id="" class="resource_block">
<img src="../../_files/catalog/thumb/$catalog_cover" /><br/>
<span class="bold">$resource_name</span><br/>
<a href="$UP_LINK_HTML" class="up-record"><img src='../images/icons/arrow_left.png'></a>&nbsp;&nbsp;
<a href="$DEL_LINK_HTML" class="delete-record"><img src='../images/icons/delete.png'></a>&nbsp;
<a href="$DOWN_LINK_HTML" class="down-record"><img src='../images/icons/arrow_right.png'></a>
</div>
		<!--/SUB:1-->
<!--/SiXhEaD:MEMBER_LIST-->	  
   <div class="clear"></div> 
              <div id="pagination"> $pagelink </div>
              