<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="$BASEURL/chicadmin/ckeditor/ckeditor.js"></script>
<script language="Javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,textarea,name,content_intro,required,true,errMsg,กรุณาระบุรายละเอียด-->
<!--type,text,name,content_name,required,true,errMsg,กรุณาระบุชื่องาน-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var errMsg = "";
	var setfocus = "";

	if (theForm['content_intro'].value == ""){
		errMsg = "กรุณาระบุรายละเอียด";
		setfocus = "['content_intro']";
	}
	if (theForm['content_name'].value == ""){
		errMsg = "กรุณาระบุชื่องาน";
		setfocus = "['content_name']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>

<form action="edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	แก้ไข : แก้ไขข้อมูลเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "index.php?t=$t";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	แก้ไข : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-catalog">ข้อมูล</a></li>
                    </ul>
                    <div id="tabs-catalog">
                      <table width="100%" border="0" cellpadding="5" cellspacing="0">
                        <tr>
                          <td><p class="padding10">ชื่องาน<br/>
                            <input name="content_name" type="text" id="content_name" value="$content_name"  maxlength="400" style="width:700px;" />
                          </p></td>
                        </tr>
                        <tr>
                          <td><p class="padding10">รายละเอียด<br/>
                            <textarea name="content_intro" rows="4" id="content_intro" style="width:700px;">$content_intro</textarea>
                          </p></td>
                        </tr>
                        <tr>
                          <td><p class="padding10"><img src="../../_files/catalog/thumb/$file1temp" style="padding-top:5px; padding-bottom:5px;" />
                            <br />
                            รูปปกแนวตั้งขนาด 211 x 296 (resize ให้อัตโนมัติ)<br />
                              <input type="file" name="file1" id="file1" />
                            <input name="file1temp" type="hidden" id="file1temp" value="$file1temp" />
                          </p></td>
                        </tr>
                        <tr>
                          <td><span class="padding10">File ที่ให้ Download<br />
                            <input type="file" name="file3" id="file3" />
                          <input name="file3temp" type="hidden" id="file3temp" value="$file3temp" />
$file3download</span></td>
                        </tr>
                        <!--
                        <tr>
                          <td><span class="padding10">File 3<br />
                              <input type="file" name="file3" id="file3" />
                          <input name="file3temp" type="hidden" id="file3temp" value="$file3temp" />
                          $file3download</span></td>
                          <td><span class="padding10">File 4<br />
                              <input type="file" name="file4" id="file4" />
                          <input name="file4temp" type="hidden" id="file4temp" value="$file4temp" />
                          $file4download</span></td>
                        </tr>
                        -->
                        <tr>
                          <td height="70"><span class="padding10">
                          file ประเภท .png, .jpg, .zip, .pdf เท่านั้น<br />
                          ระบบจะไม่ rename ชื่อให้ กรุณาตั้งชื่อ file เป็นภาษาไทย</span></td>
                        </tr>
                        <tr>
                          <td><span class="padding10">
                            <input name="content_status" type="checkbox" id="content_status" value="Y" $content_status_y />
แสดงผล</span></td>
                        </tr>
                      </table>
                      <div class="clear"></div>
                  </div>
    </div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">แก้ไข</a> 
</div>

<input name="action" type="hidden" id="action" value="edit" />

<!--/SiXhEaD:STAFF_FORM-->




<input name="id" type="hidden" id="id" value="$id" />
</form>
