<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->



<form action="edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_edit();return false;" >

              <div style="margin:10px 15px 20px 10px; text-align:right;">
                	<a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">แก้ไขข้อมูล</a>
                </div>


                <div id="tabs">
                  <ul>
                        <li><a href="#tabs-news">ข้อมูล</a></li>
                        <li><a href="#tabs-content">รายละเอียด</a></li>          
                        <li><a href="#tabs-schedule">ตารางออกอากาศ</a></li>                                                          
                    <li><a href="#tabs-seo">SEO</a></li>
                    </ul>
                  <div id="tabs-news">
                    <p class="padding10"><span class="bold">ประเภทรายการ</span><br/>
                      $PROGRAM_TYPE_HTML
                    </p>
                    <p class="padding10"><span class="bold">ช่องออกอากาศ</span><br/>
                      $CHANNEL_HTML
                    </p>
                    <p class="padding10"><span class="bold">อยู่ใน Package</span><br />
                    $PACKAGE_HTML</p>
                    <p class="padding10"><span class="bold">รูปปกขนาดใหญ่ด้านบน 978 × 340 (resize ให้อัตโนมัติ)</span><br />
                      <img src="../../_files/images/thumb/$program_cover1" style="padding-top:5px; padding-bottom:5px;" />
                      <input name="pic_temp_cover1" type="hidden" id="pic_temp_cover3" value="$program_cover1" />
                    </p>
                    <p class="padding10"><span class="bold">รูปปกแนวตั้งขนาด 291 × 349 (resize ให้อัตโนมัติ)</span><br />
                      <img src="../../_files/images/thumb/$program_cover2" style="padding-top:5px; padding-bottom:5px;" />
                      <input name="pic_temp_cover2" type="hidden" id="pic_temp_cover4" value="$program_cover2" />
                    </p>
                    <p class="padding10"><span class="bold">รูปปก Highlight หน้า Homepage ขนาด 250 x 215  (resize ให้อัตโนมัติ)</span><br />
                      <img src="../../_files/images/thumb/$program_cover3" style="padding-top:5px; padding-bottom:5px;" />
                      <input name="pic_temp_cover3" type="hidden" id="pic_temp_cover5" value="$program_cover3" />
                    </p>
                    <p class="padding10"><span class="bold">รูปปก Highlight หน้า Homepage  250 x 215 (สีเทา resize ให้อัตโนมัติ)</span><br />
                      <img src="../../_files/images/thumb/$program_cover4" style="padding-top:5px; padding-bottom:5px;" />
                      <input name="pic_temp_cover4" type="hidden" id="pic_temp_cover6" value="$program_cover4" />
                    </p>
                    <p class="padding10"><span class="bold">รูปปก Highlight หน้า Program ขนาด 137 x 118 (resize ให้อัตโนมัติ)</span><br />
                      <img src="../../_files/images/thumb/$program_cover5" style="padding-top:5px; padding-bottom:5px;" />
                      <input name="pic_temp_cover5" type="hidden" id="pic_temp_cover7" value="$program_cover5" />
                    </p>
                    <p class="padding10">
                      <input name="highlight_home" type="checkbox" id="highlight_home" value="Y" $highlight_home_y / disabled="disabled" >
                      แสดง Highlight หน้า Homepage&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input name="highlight_program" type="checkbox" id="highlight_program" value="Y" $highlight_program_y />
                      แสดง Highlight หน้า Program &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input name="program_status" type="checkbox" id="program_status" value="Y" $program_status_y />
                      แสดงผล </p>
                    <div class="clear"></div>
                  </div>
                  <div id="tabs-content">
                  	<p class="padding10">
                    <span class="bold">ชื่อรายการ</span><br/>
                    $program_name
                    </p>
                  	<p class="padding10">
                    <span class="bold">เกริ่นนำ</span><br/>
                    $program_intro
                    </p>                    
                    <p class="padding10"><span class="bold">เนื้อหา</span><br/>$program_content
                    </p>
                    <p class="padding10"><span class="bold">Youtube ID (ถ้ามี)</span><br/>$program_youtube
                    </p>
                    <div class="clear"></div>
                  </div>
                  <div id="tabs-image">
<!--SiXhEaD:IMAGE_LIST-->	  
		<!--SUB:1-->	 
      <div class="image_block_list"><img src="../../_files/images/full/$image_pic"  width="160" height="106" /></div>
		<!--/SUB:1-->
<!--/SiXhEaD:IMAGE_LIST-->	 
<div class="clear"></div>
</div>        
        
                  <div id="tabs-schedule">
                    <table  border="0" cellspacing="0" cellpadding="5"  class="list-table" style="width:300px;">
                      $PACKAGE_SCHEDULE_HTML
                    </table>
<div class="clear"></div>
                  </div>
                  
                  <div id="tabs-seo">

                            <div class="form-left">
                              <label for="seo_title">SEO URL : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            $seo_url
                            </div>

                            <div class="form-left">
                              <label for="seo_title">SEO Title : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            $seo_title
                            </div>
                            
                            <div class="form-left">
                              <label for="seo_discription">SEO Description : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                             $seo_description
                            </div>    
                        
                            <div class="form-left">
                              <label for="seo_keyword">SEO Keyword : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              $seo_keyword
                            </div>        
                            <div class="form-left">
                              <label for="seo_image">SEO Image : <span class="required">*</span></label>
                            </div>
                      <div class="form-right">
                        <img src="../../_files/images/thumb/$seo_image" style="padding-bottom:10px;" /></div>          
       
                            
                            <div class="clear"></div>    
                  </div>
	</div>
  <input name="action" type="hidden" id="action" value="edit" />
<input name="id" type="hidden" id="id" value="$id" />






</form>
