<!--SiXhEaD:CSS-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>$TITLE_WEBSITE</title>
    
    <!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
    <!-- End JQuery UI CSS Framework -->
	
    <!-- Styles specific for current page -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
     <!-- END Specific Styles -->
    
    <!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
    <!-- END General Styles -->
    
    <!-- Current Theme styles. These are changed via theme switcher -->	
	<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
	<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
	<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
	<!-- END Current Theme styles -->



<!--/SiXhEaD:CSS-->
<script type="text/javascript">
function page_delete(id) {   


		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการลบอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="window.location.href=\'del.php?id='+id+'\';">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );
}
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}

</script>


                 <form name="form" id="form">            <div style="margin:10px 15px 20px 10px; text-align:right;">
              <div style="display:block; float:left; width:700px; text-align:left; height:50px;">
 ดูตามประเภท
                  <select name="jumpMenu" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)">
                    $PROGRAM_TYPE_HTML
                  </select>
                
              </div>
              <div style="display:block;float:left; width:200px; text-align:right; height:50px;"><a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">เพิ่มรายการ</a></div>              
                	
               	<!-- <a href="repic.php?t=$t" id="add-page" class="submit button large ui-corner-all">Gen รูปใหม่</a> -->
                </div></form>
                <p class="clear"></p>

              <table class="list-table">
            	<thead>
  <tr >
    <th width="4%" style="text-align:center;">ID</th>
    <th width="7%" style="text-align:center;">รูป</th>
    <th width="22%" colspan="2" >ชื่อ</th>
    <th width="5%" style="text-align:center;">Highlight Homepage </th>
    <th width="5%" style="text-align:center;">Highlight<br />
      Program</th>
    <th style="text-align:center;">Highlight<br />
      Program<br /></th>
    <th colspan="2" style="text-align:center;">การแก้ไข</th>
  </tr>
</thead>
                <tbody>
<!--SiXhEaD:MEMBER_LIST-->	  
		<!--SUB:1-->	  
  <tr>
    <td rowspan="3" style="text-align:center;">$i.</td>
    <td rowspan="3" ><a href="detail.php?id=$ID" class="nopad"><img src="../../_files/images/thumb/$news_cover" /></a></td>
    <td colspan="2" ><a href="detail.php?id=$ID" class="nopad"><span class="bold">$news_name</span></a><br/>
$link_html</td>
    <td rowspan="3" align="center" ><a href="set_status.php?id=$ID&amp;t=homepage&amp;p=$p" class="nopad">$HIGH_HOME</a></td>
    <td rowspan="3" align="center" ><a href="set_status.php?id=$ID&amp;t=program&amp;p=$p" class="nopad">$HIGH_PRO</a></td>
    <td rowspan="3" align="center" ><span style="text-align:center;"><a href="set_status.php?id=$ID&amp;t=show&amp;p=$p" class="nopad">$STATUS</a></span></td>
    <td rowspan="3" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
    <td width="5%" rowspan="3" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
    </tr>
  <tr>
    <td width="22%" style="font-size:9px;padding:5px;">Create</td>
    <td width="42%" style="font-size:9px;padding:5px;"><span class="bold">$C_USERNAME</span> $C_TIME</td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">Update</td>
    <td style="font-size:9px;padding:5px;"><span class="bold">$L_USERNAME</span> $L_TIME</td>
    </tr>

		<!--/SUB:1-->
		<!--SUB:2-->	  
  <tr>
    <td rowspan="3" style="text-align:center;">$i.</td>
    <td rowspan="3" ><a href="detail.php?id=$ID" class="nopad"><img src="../../_files/images/thumb/$news_cover" /></a></td>
    <td colspan="2" ><a href="detail.php?id=$ID" class="nopad"><span class="bold">$news_name</span></a><br/>
      $link_html</td>
    <td rowspan="3" align="center" ><a href="set_status.php?id=$ID&amp;t=homepage&amp;p=$p" class="nopad">$HIGH_HOME</a></td>
    <td rowspan="3" align="center" ><a href="set_status.php?id=$ID&amp;t=program&amp;p=$p" class="nopad">$HIGH_PRO</a></td>
    <td rowspan="3" align="center" ><span style="text-align:center;"><a href="set_status.php?id=$ID&amp;t=show&amp;p=$p" class="nopad">$STATUS</a></span></td>
    <td rowspan="3" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
    <td width="5%" rowspan="3" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
    </tr>
  <tr>
    <td width="22%" style="font-size:9px;padding:5px;">Create</td>
    <td width="42%" style="font-size:9px;padding:5px;"><span class="bold">$C_USERNAME</span> $C_TIME</td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">Update</td>
    <td style="font-size:9px;padding:5px;"><span class="bold">$L_USERNAME</span> $L_TIME</td>
    </tr>
		<!--/SUB:2-->
<!--/SiXhEaD:MEMBER_LIST-->	  
                </tbody>
</table>
              <div id="pagination"> $pagelink </div>
              