<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="$BASEURL/chicadmin/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
function schedule_confirm(id) {   


		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการลบอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="schedule_delete('+id+');">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );
}
function schedule_delete(id){

	$("#dialog-message").dialog("close");


		$.post("schedule_delete.php", "id="+id, function(data){
			$("#SCHEDULE_HTML").html(data);
//			alert(data);
		});

}


</script>
<script type="text/javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,textarea,name,seo_keyword,required,true,errMsg,กรุณาระบุ SEO Keyword-->
<!--type,textarea,name,seo_description,required,true,errMsg,กรุณาระบุ SEO Description-->
<!--type,text,name,seo_title,required,true,errMsg,กรุณาระบุ SEO Title-->
<!--type,text,name,seo_url,required,true,errMsg,กรุณาระบุ SEO URL-->
<!--type,text,name,program_name,required,true,errMsg,กรุณาระบุชื่อรายการ-->
<!--type,select,name,program_channel,isDefault,errMsg,กรุณาระบุช่องออกอากาศ-->
<!--type,select,name,program_type,isDefault,errMsg,กรุณาระบุประเภทรายการ-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var sFlg_program_channel = false;
	var sFlg_program_type = false;
	var errMsg = "";
	var setfocus = "";

	for(var s1=0;s1<theForm['program_channel'].length;s1++){if(theForm['program_channel'].options[s1].selected){if(theForm['program_channel'].options[s1].text==theForm['program_channel'].options[0].text)sFlg_program_channel=true;}}
	for(var s0=0;s0<theForm['program_type'].length;s0++){if(theForm['program_type'].options[s0].selected){if(theForm['program_type'].options[s0].text==theForm['program_type'].options[0].text)sFlg_program_type=true;}}

	if (theForm['seo_keyword'].value == ""){
		errMsg = "กรุณาระบุ SEO Keyword";
		setfocus = "['seo_keyword']";
	}
	if (theForm['seo_description'].value == ""){
		errMsg = "กรุณาระบุ SEO Description";
		setfocus = "['seo_description']";
	}
	if (theForm['seo_title'].value == ""){
		errMsg = "กรุณาระบุ SEO Title";
		setfocus = "['seo_title']";
	}
	if (theForm['seo_url'].value == ""){
		errMsg = "กรุณาระบุ SEO URL";
		setfocus = "['seo_url']";
	}
	if (theForm['program_name'].value == ""){
		errMsg = "กรุณาระบุชื่อรายการ";
		setfocus = "['program_name']";
	}
	if (sFlg_program_channel){
		errMsg = "กรุณาระบุช่องออกอากาศ";
		setfocus = "['program_channel']";
	}
	if (sFlg_program_type){
		errMsg = "กรุณาระบุประเภทรายการ";
		setfocus = "['program_type']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}
function youtubedel(id) {   
		
		$.post("edit_youtube_del.php", "yt_id="+id+"&id=$id", function(data){
			$("#youtube_block").html(data);
		});

}

function imagedel(id) {   
		
		$.post("edit_image_del.php", "img_id="+id+"&id=$id", function(data){
			$("#image_block").html(data);
			alert(data);
		});

}
//-->
</script>


<form action="edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	แก้ไขรายการ : แก้ไขรายการเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "detail.php?id=$id";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	แก้ไขรายการ : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-news">ข้อมูล</a></li>
                        <li><a href="#tabs-content">รายละเอียด</a></li>                    
                        <li><a href="#tabs-schedule">ตารางออกอากาศ</a></li>                                                    
                        <li><a href="#tabs-seo">SEO</a></li>
                    </ul>
                    <div id="tabs-news">
                    <p class="padding10">ประเภทรายการ<br/>
                      <select name="program_type" id="program_type">
                        
$PROGRAM_TYPE_HTML
  
                      </select>
                    </p>
                    <p class="padding10">ช่องออกอากาศ<br/>
                      <select name="program_channel" id="program_channel">
                        
    $CHANNEL_HTML
  
  
                      </select>
                    </p>
                    <p class="padding10">อยู่ใน Package<br />
                      $PACKAGE_HTML</p>
                    <p class="padding10">รูปปกขนาดใหญ่ด้านบน 978 × 340 (resize ให้อัตโนมัติ)<br />
                      <img src="../../_files/images/thumb/$program_cover1" style="padding-top:5px; padding-bottom:5px;" />                      
                      <input name="pic_temp_cover1" type="hidden" id="pic_temp_cover3" value="$program_cover1" />
                      <br/>
                      <input type="file" name="program_cover1" id="program_cover1" />
                    </p>
                    <p class="padding10">รูปปกแนวตั้งขนาด 291 × 349 (resize ให้อัตโนมัติ)<br />
                      <img src="../../_files/images/thumb/$program_cover2" style="padding-top:5px; padding-bottom:5px;" />
                      <input name="pic_temp_cover2" type="hidden" id="pic_temp_cover4" value="$program_cover2" />
<br/>
                      <input type="file" name="program_cover2" id="program_cover2" />
                    </p>
                    <p class="padding10">รูปปก Highlight หน้า Homepage ขนาด 250 x 215  (resize ให้อัตโนมัติ)<br />
                      <img src="../../_files/images/thumb/$program_cover3" style="padding-top:5px; padding-bottom:5px;" />
                      <input name="pic_temp_cover3" type="hidden" id="pic_temp_cover5" value="$program_cover3" />
<br/>
                      <input type="file" name="program_cover3" id="program_cover3" />
                    </p>
                    <p class="padding10">รูปปก Highlight หน้า Homepage  250 x 215 (สีเทา resize ให้อัตโนมัติ)<br />
                      <img src="../../_files/images/thumb/$program_cover4" style="padding-top:5px; padding-bottom:5px;" />
                      <input name="pic_temp_cover4" type="hidden" id="pic_temp_cover6" value="$program_cover4" />
<br/>
                      <input type="file" name="program_cover4" id="program_cover4" />
                    </p>
                    <p class="padding10">รูปปก Highlight หน้า Program ขนาด 137 x 118 (resize ให้อัตโนมัติ)<br />
                      <img src="../../_files/images/thumb/$program_cover5" style="padding-top:5px; padding-bottom:5px;" />
                      <input name="pic_temp_cover5" type="hidden" id="pic_temp_cover7" value="$program_cover5" />
<br/>
                      <input type="file" name="program_cover5" id="program_cover5" />
                    </p>
                    <p class="padding10">
                      <input name="highlight_home" type="checkbox" id="highlight_home" value="Y" $highlight_home_y />
                      แสดง Highlight หน้า Homepage&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input name="highlight_program" type="checkbox" id="highlight_program" value="Y" $highlight_program_y />
                      แสดง Highlight หน้า Program &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input name="program_status" type="checkbox" id="program_status" value="Y" $program_status_y />
                      แสดงผล                    </p>
                    <div class="clear"></div>
                    </div>
                    <div id="tabs-content">
<p class="padding10">ชื่อรายการ<br/>
                      <input name="program_name" type="text" id="program_name" value="$program_name" size="80" maxlength="100" />
                      </p>
<p class="padding10">เกริ่นนำ<br/>
  <textarea name="program_intro" cols="80" rows="8" id="program_intro">$program_intro</textarea>
</p>
<p class="padding10">$program_intro_show</p>                      
                      <p class="padding10">เนื้อหา<br/>
                        <textarea id="program_content" name="program_content" class="ckeditor">$program_content</textarea>
                        <script>


			CKEDITOR.replace( 'program_content', {

				// แต่งสี
				uiColor		: '#A8A8A8',

				// ภาษา
				 language	: 'th',
				
				// กว้างยาว 
				height		: 500,
				width		: 800,

				// แก้ html ทั้งหน้า
				//fullPage: true,

				// แต่งปุ่ม 
				toolbar : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
					{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
					{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
					{ name: 'styles', items: [  'Format', 'Font', 'FontSize' ] },
					{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
					{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
					{ name: 'others', items: [ '-' ] },
					{ name: 'about', items: [ 'About' ] }
				],

				// Toolbar groups configuration.
				toolbarGroups : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
					{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
					{ name: 'forms' },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
					{ name: 'links' },
					{ name: 'insert' },
					'/',
					{ name: 'styles' },
					{ name: 'colors' },
					{ name: 'tools' },
					{ name: 'others' },
					{ name: 'about' }
				],


			 filebrowserBrowseUrl : '../ckfinder/ckfinder.html',
			 filebrowserImageBrowseUrl : '../ckfinder/ckfinder.html?Type=Images',
			 filebrowserFlashBrowseUrl : '../ckfinder/ckfinder.html?Type=Flash',
			 filebrowserUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
			 filebrowserImageUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
			 filebrowserFlashUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'

			});

		                </script>
                      </p>
                      <p class="padding10">Youtube ID (ถ้ามี)<br/>
                        <input name="program_youtube" type="text" id="program_youtube" value="$program_youtube" size="80" maxlength="100" />
                      </p>
                      <div class="clear"></div>
                    </div>
                    
                  <div id="tabs-schedule">
                  <div id="SCHEDULE_HTML">
                    <table  border="0" cellspacing="0" cellpadding="5"  class="list-table" style="width:300px;">
                      $PACKAGE_SCHEDULE_HTML
                    </table>   
                 
                   </div>               
<Br/>
<p class="padding10">เพิ่มุวันเวลาที่ออกอากาศ</p>

<p class="padding10" style="display:block; float:left; width:300px; height:30px; text-align:right; ">
1. 
<input name="program_date1" type="text" id="program_date1" value="$program_date1" class="datepicker" />
<select name="program_hour1" id="program_hour1" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
</select>
:
<select name="program_min1" id="program_min1" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
</select>
                      
                      
</p>
<p class="clear"></p>
<p class="padding10" style="display:block; float:left; width:300px; height:30px; text-align:right; ">
2. 
<input name="program_date2" type="text" id="program_date2" value="$program_date2" class="datepicker" />
<select name="program_hour2" id="program_hour2" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
</select>
:
<select name="program_min2" id="program_min2" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
</select>
                      
                      
</p>
<p class="clear"></p>
<p class="padding10" style="display:block; float:left; width:300px; height:30px; text-align:right; ">
3. 
<input name="program_date3" type="text" id="program_date3" value="$program_date3" class="datepicker" />
<select name="program_hour3" id="program_hour3" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
</select>
:
<select name="program_min3" id="program_min3" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
</select>
                      
                      
</p>
<p class="clear"></p>
<p class="padding10" style="display:block; float:left; width:300px; height:30px; text-align:right; ">
4. 
<input name="program_date4" type="text" id="program_date4" value="$program_date4" class="datepicker" />
<select name="program_hour4" id="program_hour4" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
</select>
:
<select name="program_min4" id="program_min4" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
</select>
                      
                      
</p>
<p class="clear"></p>
<p class="padding10" style="display:block; float:left; width:300px; height:30px; text-align:right; ">
5. 
<input name="program_date5" type="text" id="program_date5" value="$program_date5" class="datepicker" />
<select name="program_hour5" id="program_hour5" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
</select>
:
<select name="program_min5" id="program_min5" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
</select>
                      
                      
</p>
<p class="clear"></p>
<p class="padding10" style="display:block; float:left; width:300px; height:30px; text-align:right; ">
6. 
<input name="program_date6" type="text" id="program_date6" value="$program_date6" class="datepicker" />
<select name="program_hour6" id="program_hour6" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
</select>
:
<select name="program_min6" id="program_min6" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
</select>
                      
                      
</p>
<p class="clear"></p>
<p class="padding10" style="display:block; float:left; width:300px; height:30px; text-align:right; ">
7. 
<input name="program_date7" type="text" id="program_date7" value="$program_date7" class="datepicker" />
<select name="program_hour7" id="program_hour7" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
</select>
:
<select name="program_min7" id="program_min7" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
</select>
                      
                      
</p>
<p class="clear"></p>
<p class="padding10" style="display:block; float:left; width:300px; height:30px; text-align:right; ">
8. 
<input name="program_date8" type="text" id="program_date8" value="$program_date8" class="datepicker" />
<select name="program_hour8" id="program_hour8" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
</select>
:
<select name="program_min8" id="program_min8" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
</select>
                      
                      
</p>
<p class="clear"></p>
<p class="padding10" style="display:block; float:left; width:300px; height:30px; text-align:right; ">
9. 
<input name="program_date9" type="text" id="program_date9" value="$program_date9" class="datepicker" />
<select name="program_hour9" id="program_hour9" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
</select>
:
<select name="program_min9" id="program_min9" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
</select>
                      
                      
</p>
<p class="clear"></p>
<p class="padding10" style="display:block; float:left; width:300px; height:30px; text-align:right; ">
10. 
<input name="program_date10" type="text" id="program_date10" value="$program_date10" class="datepicker" />
<select name="program_hour10" id="program_hour10" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
</select>
:
<select name="program_min10" id="program_min10" style="width:50px;">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
</select>
                      
                      
</p>

<div class="clear"></div>
                    </div>                    
                    
                    <div id="tabs-seo">
                            <div class="form-left">
                              <label for="seo_url">SEO URL : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            <input name="seo_url" type="text" style="width:400px;" id="seo_url" value="$seo_url" size="80" maxlength="100" />
                            </div>
                            <div class="form-left">
                              <label for="seo_title">SEO Title : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            <input name="seo_title" type="text" style="width:400px;" id="seo_title" value="$seo_title" size="80" maxlength="100" />
                            </div>
                            
                            <div class="form-left">
                              <label for="seo_discription">SEO Description : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              <textarea name="seo_description" cols="80" rows="4" style="width:600px; height:120px;" id="seo_description">$seo_description</textarea>
                            </div>    
                        
                            <div class="form-left">
                              <label for="seo_keyword">SEO Keyword : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              <textarea name="seo_keyword" cols="80" rows="4" style="width:600px; height:120px;" id="seo_keyword">$seo_keyword</textarea>
                            </div>        
                            <div class="form-left">
                              <label for="seo_image">SEO Image : <span class="required">*</span></label>
                            </div>
                      <div class="form-right">
						<img src="../../_files/images/thumb/$seo_image" style="padding-bottom:10px;" /><br />
						<input type="file" name="seo_image" id="seo_image" />
						<input name="seo_image_temp" id="seo_image_temp" type="hidden" value="$seo_image" />
						<br />
						- รูปขนาด 400 x 400 ชนิด jpg,png<br />
					  - ระบบ Resize รูปให้อัตโนมัติ </div>          
       
                            
                            <div class="clear"></div>    
                  </div>
	</div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">แก้ไขเนื้อหา</a> 
</div>

<input name="action" type="hidden" id="action" value="edit" />

<!--/SiXhEaD:STAFF_FORM-->




<input name="id" type="hidden" id="id" value="$id" />
</form>
