<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="$BASEURL/chicadmin/ckeditor/ckeditor.js"></script>
<script language="Javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,channel_id,required,true,isNum,errMsg,ระบุหมายเลขช่อง-->
<!--type,text,name,channel_name,required,true,errMsg,ระบุชื่อ Channel-->
<!--type,file,name,channel_cover1,required,true,errMsg,กรุณาระบุรูป Logo-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var numRE = /^\d+$/;
	var errMsg = "";
	var setfocus = "";

	if (!numRE.test(theForm['channel_id'].value)){
		errMsg = "ระบุหมายเลขช่อง";
		setfocus = "['channel_id']";
	}
	if (theForm['channel_name'].value == ""){
		errMsg = "ระบุชื่อ Channel";
		setfocus = "['channel_name']";
	}
	if (theForm['channel_cover1'].value == ""){
		errMsg = "กรุณาระบุรูป Logo";
		setfocus = "['channel_cover1']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}

//-->
</script>

<form action="channel_add.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	เพิ่ม Channel : เพิ่ม Channel เรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "channel.php";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	เพิ่ม Channel : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-news">ข้อมูล Channel</a></li>
                    </ul>
                    <div id="tabs-news">
                      <p class="padding10">รูป Logo<br/>
<input type="file" name="channel_cover1" id="channel_cover1" />
</p>
                      <p class="padding10">ชื่อ Channel<br/>
                        <input name="channel_name" type="text" id="channel_name" value="$channel_name" size="80" maxlength="100" />
                      </p>
<p class="padding10">หมายเลขช่อง<br/>
  <input name="channel_id" type="text" id="channel_id" value="$channel_id" size="10" maxlength="3" />
</p>
<div class="clear"></div>
</div>
	</div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">เพิ่มเนื้อหา</a> 
</div>

<input name="action" type="hidden" id="action" value="add" />
<input name="t" type="hidden" id="t" value="$t" />

<!--/SiXhEaD:STAFF_FORM-->




</form>
