/************ LOGIN PAGE *************/

#login-body{
	background:#FEFEFE url('/2014/chicadmin/themes/abstract-blue/images/login_bg.png') repeat-x;
}

#login-form #wrapper{
	background-image: url('/2014/chicadmin/themes/abstract-blue/images/inner_header.png');
}

#login-title h1{
	background-image:url('/2014/chicadmin/themes/abstract-blue/images/logo.png');
}

#login-form{
	
}

/************************************/

