
	@font-face {
        font-family: "TH SarabunPSK";
        src: url('722167969-THSarabun.eot');
        src: url('722167969-THSarabun.eot?#iefix') format('embedded-opentype'),
        url('722167969-THSarabun.svg#TH SarabunPSK') format('svg'),
        url('722167969-THSarabun.woff') format('woff'),
        url('722167969-THSarabun.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }