<!--SiXhEaD:CSS-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>$TITLE_WEBSITE</title>
    
    <!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
    <!-- End JQuery UI CSS Framework -->
	
    <!-- Styles specific for current page -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
     <!-- END Specific Styles -->
    
    <!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
    <!-- END General Styles -->
    
    <!-- Current Theme styles. These are changed via theme switcher -->	
	<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
	<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
	<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
	<!-- END Current Theme styles -->



<!--/SiXhEaD:CSS-->
<script type="text/javascript"><!--
function VF_form_search(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,k,required,true,errMsg,กรุณาระบุคำค้นหา-->
<!--end_of_saved_settings-->
	var theForm = document.form_search;
	var errMsg = "";
	var setfocus = "";

	if (theForm['k'].value == ""){
		errMsg = "กรุณาระบุคำค้นหา";
		setfocus = "['k']";
	}
	if (errMsg != ""){
		
		
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");		
		
	}
	else theForm.submit();
}

function page_delete(id) {   


		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการลบอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="window.location.href=\'del.php?p=$p&id='+id+'\';">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );
}

function page_group_delete(){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการลบอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="document.form_delete_group.submit();">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );	
}

//-->
</script>
<!--

-->
              <div style="margin:10px 15px 20px 10px; text-align:right;">
              <div style="display:block; float:left; width:50%; text-align:left; height:50px;">
                	<a href="$DEL_GROUP_LINK_HTML" id="add-page" class="submit button large ui-corner-all">ลบ Email ที่เลือก</a>
              </div>
              <div style="display:block;float:left; width:50%; text-align:right; height:50px;">                            
                	<a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">เพิ่ม Email</a>&nbsp;&nbsp;
                	<a href="$EXPORT_LINK_HTML" id="add-page" class="submit button large ui-corner-all">Export ข้อมูล</a>                    
                    </div>
                </div>
    <p class="clear"></p>                    
    
                  <div style="margin:10px 15px 20px 10px; text-align:right;">
                              <form action="index.php" method="get" name="form_search" id="form_search" onsubmit="VF_form_search();return false;">
                                <p>
                                  <input name="t" type="hidden" id="t" value="$t" />
                                  ค้นหา Email 
                                  <input name="k" type="text" id="k" style="width:280px; height:25px;" value="$k" maxlength="100"/>
  <a href="javascript:VF_form_search();" id="add-page" class="submit button large ui-corner-all">ค้นหา</a></p>
                </form>
</div>
    <p class="clear"></p>                        
              <form id="form_delete_group" name="form_delete_group" method="post" action="del_group.php">
                <table class="list-table">
                  <thead>
                    <tr >
                      <th width="2%" style="text-align:center;"><input type="checkbox" name="master_all" id="master_all" /></th>
                      <th width="2%" style="text-align:center;">ID</th>
                      <th colspan="2" >Email</th>
                      <th colspan="2" style="text-align:center; " width="20%">การแก้ไข</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!--SiXhEaD:MEMBER_LIST-->
                    <!--SUB:1-->
                    <tr>
                      <td style="text-align:center;"><input name="email_id[]" type="checkbox" id="email_id[]" value="$ID" class="master_check" /></td>
                      <td style="text-align:center;">$ID.</td>
                      <td colspan="2" ><p><span class="bold">$content_question</span><br/>
                      </p></td>
                      <td align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
                      <td align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
                    </tr>
                    <!--/SUB:1-->
                    <!--SUB:2-->
                    <tr>
                      <td style="text-align:center;"><input name="email_id[]" type="checkbox" id="email_id[]" value="$ID" class="master_check" /></td>
                      <td style="text-align:center;">$ID.</td>
                      <td colspan="2" ><p><span class="bold">$content_question</span></p></td>
                      <td align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
                      <td align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
                    </tr>
                    <!--/SUB:2-->
                    <!--/SiXhEaD:MEMBER_LIST-->
                  </tbody>
                </table>
              </form>
              <div id="pagination"> $pagelink </div>
              
<script type="text/javascript">
	$(document).ready(function() {              
			$('#master_all').click(function(){
				if($(this).attr('checked') == true){
					$('.master_check').attr('checked','checked');
				}else{
					$('.master_check').removeAttr('checked');
				}
				
				$("input").uniform();
							
			});              									
	});		
</script>  			