<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="/css/globals.css" />
<link rel="stylesheet" type="text/css" href="/css/commons.css" />
<link rel="stylesheet" type="text/css" href="/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="/themes/abstract-blue/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="/themes/abstract-blue/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="/themes/abstract-blue/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script language="Javascript"><!--
function VF_profile_edit(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,mobile,required,true,errMsg,กรุณาระบุเบอร์โทรศัพท์มือถือ-->
<!--type,text,name,email,required,true,isEmail,errMsg,กรุณาระบุ Email ให้ถูกต้อง-->
<!--type,text,name,nickname,required,true,errMsg,กรุณาระบุชื่อเล่น-->
<!--type,text,name,surname,required,true,errMsg,กรุณาระบุนามสกุล-->
<!--type,text,name,name,required,true,errMsg,กรุณาระบุชื่อ-->
<!--end_of_saved_settings-->
	var theForm = document.profile_edit;
	var emailRE = /^([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+$/;
	var errMsg = "";
	var setfocus = "";

	if (theForm['mobile'].value == ""){
		errMsg = "กรุณาระบุเบอร์โทรศัพท์มือถือ";
		setfocus = "['mobile']";
	}
	if (!emailRE.test(theForm['email'].value)){
		errMsg = "กรุณาระบุ Email ให้ถูกต้อง";
		setfocus = "['email']";
	}
	if (theForm['nickname'].value == ""){
		errMsg = "กรุณาระบุชื่อเล่น";
		setfocus = "['nickname']";
	}
	if (theForm['surname'].value == ""){
		errMsg = "กรุณาระบุนามสกุล";
		setfocus = "['surname']";
	}
	if (theForm['name'].value == ""){
		errMsg = "กรุณาระบุชื่อ";
		setfocus = "['name']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>

<form action="profile_edit.php" method="post" enctype="multipart/form-data" name="profile_edit" id="profile_edit" onsubmit="VF_profile_edit();return false;">

<!--SiXhEaD:PROFILE_SUCCESS-->
<br/>
            <div class="status success width600"><br/>
            	แก้ไขข้อมูลส่วนตัว : ระบบได้แก้ไขข้อมูลส่วนตัวเรียบร้อยแล้ว<br/>
            <br/></div><br/>
<!--/SiXhEaD:PROFILE_SUCCESS-->

<!--SiXhEaD:PROFILE_ERROR-->
<br/>
            <div class="status error width600"><br/>
            	แก้ไขข้อมูลส่วนตัว : ผิดพลาดกรุณาตรวจสอบข้อมูลอีกครั้ง<br/>
           <br/> </div><br/>
<!--/SiXhEaD:PROFILE_ERROR-->

<!--SiXhEaD:PROFILE_INFO--><br/>
            <div class="status info width600"><br/>
            	แก้ไขข้อมูลส่วนตัว : กรุณาระบุข้อมูลส่วนตัวให้ครบถ้วน<br/>
           <br/> </div><br/>
<!--/SiXhEaD:PROFILE_INFO-->

<!--SiXhEaD:PROFILE_FORM-->
  <div class="form-left">
        <label for="name" style="padding-top:15px;"><h1>$username : <span class="required">*</span></h1> </label>
    </div>
        <div class="form-right">
       <img src="../_files/member/$pictemp" width="64" height="64" vspace="2" align="absmiddle" class="padding_v3"/>
              <input name="file" type="file" id="file" size="20" />
              <input name="pictemp" type="hidden" id="pictemp" value="$pictemp" />
   	</div>

    <div class="form-left">
        <label for="name">ชื่อ : <span class="required">*</span></label>
    </div>
	<div class="form-right">
		<input name="name" type="text" id="name" value="$name" size="25" maxlength="100" autocomplete="off" class="width240" />
	</div>
    <div class="form-left">
        <label for="name">นามสกุล : <span class="required">*</span></label>
    </div>
	<div class="form-right">
		<input name="surname" type="text" id="surname" value="$surname" size="25" maxlength="100" autocomplete="off" class="width240" />
	</div>
    <div class="form-left">
        <label for="name">ชื่อเล่น : <span class="required">*</span></label>
    </div>
	<div class="form-right">
		<input name="nickname" type="text" id="nickname" value="$nickname" size="25" maxlength="100" autocomplete="off" class="width240" />
	</div>
    <div class="form-left">
        <label for="name">Email : <span class="required">*</span></label>
    </div>
	<div class="form-right">
		<input name="email" type="text" id="email" value="$email" size="25" maxlength="100" autocomplete="off" class="width240" />
	</div>

    <div class="form-left">
        <label for="name">โทรศัพท์มือถือ : <span class="required">*</span></label>
    </div>
	<div class="form-right">
		<input name="mobile" type="text" id="mobile" value="$mobile" size="25" maxlength="100" autocomplete="off" class="width240" />
	</div>
    <div class="form-left">
        <label for="name">เพศ : <span class="required">*</span></label>
    </div>
	<div class="form-right">
        <input type="radio" name="sex" id="sex_m"  value="M" $select_m />
		ชาย
        <input type="radio" name="sex" id="sex_f"  value="F" $select_f />
 หญิง               
  </div>

    <div class="clear" style="text-align:right; width:418px; padding-top:30px;">
    	<a href="javascript:VF_profile_edit();" class="submit button large ui-corner-all">แก้ไขข้อมูลส่วนตัว</a> 
   	</div>
	
	<input name="action" type="hidden" id="action" value="edit" />
<!--/SiXhEaD:PROFILE_FORM-->
</form>

