<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="/css/globals.css" />
<link rel="stylesheet" type="text/css" href="/css/commons.css" />
<link rel="stylesheet" type="text/css" href="/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="/themes/abstract-blue/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="/themes/abstract-blue/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="/themes/abstract-blue/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script language="Javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,password,name,pass2,required,true,isEqualTo,pass1,errMsg,กรุณายืนยันรหัสใหม่ให้ตรงกัน-->
<!--type,password,name,pass1,required,true,errMsg,กรุณาระบุรหัสผ่านใหม่-->
<!--type,password,name,oldpass,required,true,errMsg,กรุณาระบุรหัสผ่านเดิม-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var errMsg = "";
	var setfocus = "";

	if (theForm['pass2'].value == "" || (theForm['pass2'].value != theForm['pass1'].value)){
		errMsg = "กรุณายืนยันรหัสใหม่ให้ตรงกัน";
		setfocus = "['pass2']";
	}
	if (theForm['pass1'].value == ""){
		errMsg = "กรุณาระบุรหัสผ่านใหม่";
		setfocus = "['pass1']";
	}
	if (theForm['oldpass'].value == ""){
		errMsg = "กรุณาระบุรหัสผ่านเดิม";
		setfocus = "['oldpass']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>

<form action="profile_password.php" method="post" name="change_password" id="change_password" onsubmit="VF_change_password();return false;">

<!--SiXhEaD:PASSWORD_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	การเปลี่ยนรหัสผ่าน : เรียบร้อยแล้วคุณสามารถออกจากระบบเพื่อเริ่มใช้งานรหัสผ่านใหม่ได้ทันที<br/>
            <br/></div><br/>
<!--/SiXhEaD:PASSWORD_SUCCESS-->

<!--SiXhEaD:PASSWORD_ERROR--><br/>
            <div class="status error width600"><br/>
            	การเปลี่ยนรหัสผ่าน : ผิดพลาดกรุณาตรวจสอบข้อมูลอีกครั้ง<br/>
           <br/> </div><br/>
<!--/SiXhEaD:PASSWORD_ERROR-->

<!--SiXhEaD:PASSWORD_INFO--><br/>
            <div class="status info width600"><br/>
            	การเปลี่ยนรหัสผ่าน : กรุณาระบุรหัสผ่านเดิมและรหัสผ่านใหม่ที่ต้องการ<br/>
           <br/> </div><br/>
<!--/SiXhEaD:PASSWORD_INFO-->

<!--SiXhEaD:PASSWORD_FORM-->
    <div class="form-left">
        <label for="name">รหัสผ่านเดิม : <span class="required">*</span></label>
    </div>
        <div class="form-right">
        <input name="oldpass" type="password" id="oldpass" maxlength="100" autocomplete="off" />
   	</div>
    <div class="form-left">
        <label for="name">รหัสผ่านใหม่ : <span class="required">*</span></label>
    </div>
        <div class="form-right">
        <input name="pass1" type="password" id="pass1" maxlength="100" autocomplete="off" />
   	</div>
    <div class="form-left">
        <label for="name">ยืนยันรหัสใหม่ : <span class="required">*</span></label>
    </div>
        <div class="form-right">
        <input name="pass2" type="password" id="pass2" maxlength="100" autocomplete="off" />
   	</div>

    <div class="clear" style="text-align:right; width:418px; padding-top:30px;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">เปลี่ยนรหัสผ่าน</a> 
   	</div>
                <input name="action" type="hidden" id="action" value="change" />
<!--/SiXhEaD:PASSWORD_FORM-->                
</form>
