<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="/css/globals.css" />
<link rel="stylesheet" type="text/css" href="/css/commons.css" />
<link rel="stylesheet" type="text/css" href="/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="/themes/abstract-blue/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="/themes/abstract-blue/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="/themes/abstract-blue/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<form action="staff_add.php" method="post" enctype="multipart/form-data" name="form_staff_add" id="form_staff_add" onsubmit="VF_form_staff_add();return false;">


<br/>
            <div class="status success width600"><br/>
            	เข้าระบบ : เข้าระบบเรียบร้อยแล้ว กรุณาเลือกเมนูด้านบนเพื่อใช้งาน<br/>
				
            <br/></div><br/>


</form>

