<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script language="Javascript"><!--
function VF_login_form(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,image_key,required,true,fLen,5,5,errMsg,กรุณาระบุรูปยืนยันให้ถูกต้อง-->
<!--type,password,name,password,required,true,errMsg,กรุณาระบุ Password.-->
<!--type,text,name,username,required,true,errMsg,กรุณาระบุ Username.-->
<!--end_of_saved_settings-->
	var theForm = document.login_form;
	var errMsg = "";
	var setfocus = "";

	if (theForm['image_key'].value.length < 5 || theForm['image_key'].value.length > 5){
		errMsg = "กรุณาระบุรูปยืนยันให้ถูกต้อง";
		setfocus = "['image_key']";
	}
	if (theForm['password'].value == ""){
		errMsg = "กรุณาระบุ Password\.";
		setfocus = "['password']";
	}
	if (theForm['username'].value == ""){
		errMsg = "กรุณาระบุ Username\.";
		setfocus = "['username']";
	}
	if (errMsg != ""){
//		alert(errMsg);
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}

//-->
</script>

	
    <form action="login.php" method="post" name="login_form" id="login_form" onsubmit="VF_login_form();return false;">
        <div id="login-inner">
            <div id="wrapper">
                <p>กรุณา Login เข้าระบบ</p>
            </div>
            <div class="field-separator">
                <label for="username">Username</label>
                <input name="username" type="text" class="txt" id="username" value="" maxlength="50" />
            </div>
            <div class="field-separator">
                <label for="password">Password</label>
                <input name="password" type="password" class="txt" id="password" value="" maxlength="50" />
            </div>
            <div class="field-separator">
                <label for="image_key">ระบุรูปยืนยัน<img src="$BASEURL/_modules/captcha/image.php" name="img_captcha" height="25" align="absmiddle" id="img_captcha" style="padding:3px 3px 3px 3px;"> <a href="javascript:reloadcaptcha();" title="ดูไม่ออกขอใหม่อีกรอบ"><img src="images/icons/arrow_refresh.png" alt="ดูไม่ออกขอใหม่อีกรอบ" width="16" height="16" align="absmiddle" /></a></label>
                <input name="image_key" type="text" class="txt" id="image_key" value="" maxlength="5" />
            </div>
            <div id="login-bottom">
              <input name="action" type="hidden" id="action" value="login" />
              <a href="javascript:VF_login_form();" class="submit button large ui-corner-all" style="margin-top:5px;display:block;float:right;">เข้าระบบ</a> 
              <div style="clear: both"></div>
            </div>
        </div>
    </form>
    
    
<div id="dialog-message" title="พบข้อผิดพลาด">
$ERROR_MSG
</div>

<script type="text/javascript">
	$(function() {

		$( "#dialog-message" ).dialog({
			autoOpen: $dialog_open,
			modal: true,
			show: "fade",
			hide: "fade",
			width:  350,
			height: 200
		});

		$( "#opener" ).click(function() {
			$( "#dialog-message" ).dialog( "open" );
			return false;
		});

		$( "#dialog-message" ).dialog({
			modal: true,
			show: "fade",
			hide: "fade",
			width:  350,
			height: 200
/*
			buttons: {
				Ok: function() {
					$( this ).dialog( "close" );
					$( "#dialog-message" ).html("");
				}
			}
*/

		});
	});
</script>
    
