<!--SiXhEaD:CSS-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>$TITLE_WEBSITE</title>
    
    <!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
    <!-- End JQuery UI CSS Framework -->
	
    <!-- Styles specific for current page -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
     <!-- END Specific Styles -->
    
    <!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
    <!-- END General Styles -->
    
    <!-- Current Theme styles. These are changed via theme switcher -->	
	<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
	<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
	<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
	<!-- END Current Theme styles -->



<!--/SiXhEaD:CSS-->
<script type="text/javascript">
function page_delete(id) {   


		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการลบอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="window.location.href=\'map_del.php?id='+id+'\';">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );
}

function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}


</script>

                <form action="map.php" method="get" name="form" id="form" ><div style="margin:10px 15px 20px 10px; text-align:right; width:95%">
              <div style="display:block; float:left; width:80%; text-align:left; height:50px;">
  ดูตาม พื้นที่
                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)">

                    $MAP_TYPE_HTML
                  </select>

                
              </div>
              <div style="display:block;float:left; width:20%; text-align:right; height:50px;"><a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">เพิ่มเนื้อหา</a></div>              
                <p class="clear"></p>                	
               	<!-- <a href="repic.php?t=$t" id="add-page" class="submit button large ui-corner-all">Gen รูปใหม่</a> -->
                </div>
                </form>

              <table class="list-table">
            	<thead>
  <tr >
    <th width="5%" style="text-align:center;">ID</th>
    <th width="5%" style="text-align:center;">รูป</th>
    <th colspan="2" >หัวข้อ</th>
    <th colspan="4" style="text-align:center;">การแก้ไข</th>
  </tr>
</thead>
                <tbody>
<!--SiXhEaD:MEMBER_LIST-->	  
		<!--SUB:1-->	  
  <tr>
    <td rowspan="3" style="text-align:center;">$i.</td>
    <td rowspan="3" style="text-align:center;"><img src="../../_files/images/thumb/$map_pic1" width="200" /></td>
    <td colspan="2" ><span class="bold">$map_name</span></td>
    <td width="10%" rowspan="3" align="center" ><a href="$UP_LINK_HTML" class="up-record">Up</a></td>
    <td width="11%" rowspan="3" align="center" ><a href="$DOWN_LINK_HTML" class="down-record">Down</a></td>
    <td width="10%" rowspan="3" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
    <td width="11%" rowspan="3" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
    </tr>
  <tr>
    <td width="6%" style="font-size:9px;padding:5px;">Create</td>
    <td width="42%" style="font-size:9px;padding:5px;"><span class="bold">$C_USERNAME</span> $C_TIME</td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">Update</td>
    <td style="font-size:9px;padding:5px;"><span class="bold">$L_USERNAME</span> $L_TIME</td>
    </tr>

		<!--/SUB:1-->
		<!--SUB:2-->	  
  <tr>
    <td rowspan="3" style="text-align:center;">$i.</td>
    <td rowspan="3" style="text-align:center;"><img src="../../_files/images/thumb/$map_pic1" width="200" /></td>
    <td colspan="2" ><span class="bold">$map_name</span></td>
    <td width="10%" rowspan="3" align="center" ><a href="$UP_LINK_HTML" class="up-record">Up</a></td>
    <td width="11%" rowspan="3" align="center" ><a href="$DOWN_LINK_HTML" class="down-record">Down</a></td>
    <td width="10%" rowspan="3" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
    <td width="11%" rowspan="3" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
    </tr>
  <tr>
    <td width="6%" style="font-size:9px;padding:5px;">Create</td>
    <td width="42%" style="font-size:9px;padding:5px;"><span class="bold">$C_USERNAME</span> $C_TIME</td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">Update</td>
    <td style="font-size:9px;padding:5px;"><span class="bold">$L_USERNAME</span> $L_TIME</td>
    </tr>

		<!--/SUB:2-->
<!--/SiXhEaD:MEMBER_LIST-->	  
                </tbody>
</table>
              <div id="pagination"> $pagelink </div>
              