<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->


<form action="edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_edit();return false;" >
 
 
               <div style="margin:10px 15px 20px 10px; text-align:right;">
                	<a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">แก้ไขข้อมูล</a>
                </div>

 
 
  <div id="tabs">
    <ul>
                        <li>
                         
                        <a href="#tabs-content">Detail</a></li>                                         
                    </ul>

                    <div id="tabs-content">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="25%"><p class="padding10"><span class="bold">Name</span><br />
                          $contact_name
                        </p></td>
                        <td width="25%"><p class="padding10"><span class="bold">Tel</span><br />
                          $tel
                        </p></td>
                        <td width="25%"><p class="padding10"><span class="bold">Email</span><br />
                        <a href="mailto:$email">$email</a></p></td>
                        <td width="25%"><p class="padding10"><span class="bold">Contact Date</span><br />
                        $adddate</p></td>
                      </tr>
                    </table>
                    <p class="padding10"><span class="bold">Subject</span><br />
                      $subject
                    </p>
                    <p class="padding10"><span class="bold">Detail</span><br/>
                    $message                    </p>
                    <p class="padding10">$filename</p>
                    <p class="padding10"><span class="bold">สถานะ</span><br />
                      $status</p>
                    <p class="padding10"><span class="bold">remark</span><br />
                      $remark
<br />
                    </p>
<!--SiXhEaD:CONTACT_FORM-->                    

<!--/SiXhEaD:CONTACT_FORM-->   
<div class="clear"></div>
</div>


        
	</div>
  <input name="action" type="hidden" id="action" value="edit" />
<input name="id" type="hidden" id="id" value="$id" />






</form>
