<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="$BASEURL/chicadmin/ckeditor/ckeditor.js"></script>
<script language="Javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,file,name,map_pic2,required,true,errMsg,please enter map location.-->
<!--type,file,name,map_pic1,required,true,errMsg,please enter map pic.-->
<!--type,text,name,map_address,required,true,errMsg,please enter map address.-->
<!--type,text,name,map_tel,required,true,errMsg,please enter map tel.-->
<!--type,text,name,map_time,required,true,errMsg,please enter map time.-->
<!--type,text,name,map_intro,required,true,errMsg,please enter map address.-->
<!--type,text,name,map_name,required,true,errMsg,please enter map name.-->
<!--type,select,name,map_type,isDefault,errMsg,กรุณาเลือกพื้นที่-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var sFlg_map_type = false;
	var errMsg = "";
	var setfocus = "";

	for(var s0=0;s0<theForm['map_type'].length;s0++){if(theForm['map_type'].options[s0].selected){if(theForm['map_type'].options[s0].text==theForm['map_type'].options[0].text)sFlg_map_type=true;}}

	if (theForm['map_pic2'].value == ""){
		errMsg = "please enter map location\.";
		setfocus = "['map_pic2']";
	}
	if (theForm['map_pic1'].value == ""){
		errMsg = "please enter map pic\.";
		setfocus = "['map_pic1']";
	}
	if (theForm['map_address'].value == ""){
		errMsg = "please enter map address\.";
		setfocus = "['map_address']";
	}
	if (theForm['map_tel'].value == ""){
		errMsg = "please enter map tel\.";
		setfocus = "['map_tel']";
	}
	if (theForm['map_time'].value == ""){
		errMsg = "please enter map time\.";
		setfocus = "['map_time']";
	}
	if (theForm['map_intro'].value == ""){
		errMsg = "please enter map address\.";
		setfocus = "['map_intro']";
	}
	if (theForm['map_name'].value == ""){
		errMsg = "please enter map name\.";
		setfocus = "['map_name']";
	}
	if (sFlg_map_type){
		errMsg = "กรุณาเลือกพื้นที่";
		setfocus = "['map_type']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>

<form action="map_add.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	เพิ่มเนื้อหา : เพิ่มเนื้อหาเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "map.php";}, 2000);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	เพิ่มเนื้อหา : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-content">รายละเอียด</a></li>                        
                    </ul>
                    <div id="tabs-content">
<p class="padding10">ที่ตั้ง<br />
  <select name="map_type" id="map_type">
    <option value="#">กรุณาเลือก</option>
    <option value="1">กรุงเทพ</option>
    <option value="2">ต่างจังหวัด</option>
  </select>
</p>
<p class="padding10">ชื่อสาขา<br/>
  <input name="map_name" type="text" id="map_name" value="$map_name" size="80" maxlength="100" />
</p>
<p class="padding10">ที่อยู่ 1<br/>
<input name="map_intro" type="text" id="map_intro" value="$map_intro" size="80" maxlength="200" />
</p>
<p class="padding10">เวลาทำการ<br/>
<input name="map_time" type="text" id="map_time" value="$map_time" size="80" maxlength="200" />
</p>
<p class="padding10">เบอร์ติดต่อ<br/>
<input name="map_tel" type="text" id="map_tel" value="$map_tel" size="80" maxlength="200" />
</p>
<p class="padding10">ที่อยู่ 2<br/>
<input name="map_address" type="text" id="map_address" value="$map_address" size="80" maxlength="200" />
</p>
<p class="padding10">รูปสถานที่ 272px x 180px Resize ให้อัตโนมัติ<br/>
  <input type="file" name="map_pic1" id="map_pic1" />
</p>
<p class="padding10">รูปแผนที่ 924px x 534px Resize ให้อัตโนมัติ<br/>
  <input type="file" name="map_pic2" id="map_pic2" />
</p>
                 
                    <div class="clear"></div>
                    </div>

	</div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">เพิ่มเนื้อหา</a> 
</div>

<input name="action" type="hidden" id="action" value="add" />

<!--/SiXhEaD:STAFF_FORM-->




</form>
