<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script language="Javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,radio-g,name,status,isChecked,errMsg,กรุณาระบุสถานะ-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var rFlg_status = false;
	var errMsg = "";
	var setfocus = "";

	for(var r0=0;r0<theForm['status'].length;r0++){if(theForm['status'][r0].checked)rFlg_status=true;}

	if (!rFlg_status){
		errMsg = "กรุณาระบุสถานะ";
		setfocus = "['status'][0]";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>


<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	แก้ไข : แก้ไขข้อมูลเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "detail.php?id=$id";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	แก้ไข : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->




<form action="edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;" >

<!--SiXhEaD:STAFF_FORM-->

  <div id="tabs">
    <ul>
                        <li>
                         
                        <a href="#tabs-content">Detail</a></li>                                         
                    </ul>

                    <div id="tabs-content">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="25%"><p class="padding10"><span class="bold">Name</span><br />
                          $contact_name
                        </p></td>
                        <td width="25%"><p class="padding10"><span class="bold">Tel</span><br />
                          $tel
                        </p></td>
                        <td width="25%"><p class="padding10"><span class="bold">Email</span><br />
                        <a href="mailto:$email">$email</a></p></td>
                        <td width="25%"><p class="padding10"><span class="bold">Contact Date</span><br />
                        $adddate</p></td>
                      </tr>
                    </table>
                    <p class="padding10"><span class="bold">Subject</span><br />
                      $subject
                    </p>
                    <p class="padding10"><span class="bold">Detail</span><br/>
                    $message                    </p>
                    <p class="padding10">$filename</p>
                    <p class="padding10">สถานะ<br />
                      <input type="radio" name="status" id="radio" value="N" $status_n />
                      รายการใหม่
                      <input type="radio" name="status" id="radio2" value="R" $status_r />
อ่านแล้ว
<input type="radio" name="status" id="radio3" value="P" $status_p />
อยู่ระหว่างดำเนินการ
<input type="radio" name="status" id="radio4" value="E" $status_e /> 
จบรายการ</p>
                    <p class="padding10">remark<br />
                      <textarea name="remark" id="remark" style="width:750px; height:400px;">$remark</textarea>
 
                    </p>
<!--SiXhEaD:CONTACT_FORM-->                    

<!--/SiXhEaD:CONTACT_FORM-->   
<div class="clear"></div>
</div>


        
	</div>
  <input name="action" type="hidden" id="action" value="edit" />
<input name="id" type="hidden" id="id" value="$id" />

<div style="margin:10px 15px 20px 10px; text-align:right;"> <a href="javascript:VF_change_password();" class="submit button large ui-corner-all">บันทึก</a> </div>

<!--/SiXhEaD:STAFF_FORM-->

</form>
