.wc-header, .wc-cal-event .wc-time{
	background-image:url('/2014/chicadmin/themes/abstract-blue/images/inner_header.png');
}

.cluetip-default h3#cluetip-title {
	background-image:url('/2014/chicadmin/themes/abstract-blue/images/inner_header.png');
}

.cluetip-default #cluetip-outer{
	background-color:#ECECEC;
	color:#111;
}

div#nyroModalFull div#nyroModalWrapper{
	border-color:#ECECEC;
}


.tooltip {
	color:#111;
	background-image:url('/2014/chicadmin/images/tooltip/white_arrow.png');
}

.cluetip-default h3#cluetip-title {
	background:url('/2014/chicadmin/themes/abstract-blue/images/inner_header.png') repeat-x bottom;
	
}

.cluetip-default #cluetip-outer{
	background-color:#ECECEC;
	color:#111;
}

div#nyroModalFull div#nyroModalWrapper{
	border-color:#ECECEC;
}

#heading-title{
	background-image:url('/2014/chicadmin/themes/abstract-blue/images/inner_header.png');
}