/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(../../../../../js/markitup/sets/default/images/bold.png);
}
.markItUp .markItUpButton2 a {
	background-image:url(../../../../../js/markitup/sets/default/images/italic.png);
}
.markItUp .markItUpButton3 a {
	background-image:url(../../../../../js/markitup/sets/default/images/stroke.png);
}

.markItUp .markItUpButton4 a {
	background-image:url(../../../../../js/markitup/sets/default/images/picture.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(../../../../../js/markitup/sets/default/images/link.png);
}

.markItUp .markItUpButton6 a {
	background-image:url(../../../../../js/markitup/sets/default/images/clean.png);
}
.markItUp .preview a {
	background-image:url(../../../../../js/markitup/sets/default/images/preview.png);
}