<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="$BASEURL/chicadmin/ckeditor/ckeditor.js"></script>
<script language="Javascript"><!--
function VF_add(){ //v2.0

	var theForm = document.change_password;
	var dte_startRE = /^(0[1-9]|[12][0-9]|3[01])\-(0[1-9]|1[012])\-(19|20)\d\d$/;
	var errMsg = "";
	var setfocus = "";

	if (theForm['seo_keyword'].value == ""){
		errMsg = "ระบุ SEO Keyword\.";
		setfocus = "['seo_keyword']";
	}
	if (theForm['seo_description'].value == ""){
		errMsg = "ระบุ SEO Description";
		setfocus = "['seo_description']";
	}
	if (theForm['seo_title'].value == ""){
		errMsg = "ระบุ SEO Title";
		setfocus = "['seo_title']";
	}
	if (theForm['seo_url'].value == ""){
		errMsg = "ระบุ SEO URL";
		setfocus = "['seo_url']";
	}
	if (theForm['news_cover1'].value == ""){
		errMsg = "กรุณาระบุรูปปก";
		setfocus = "['news_cover1]";
	}
	if (theForm['news_cover2'].value == ""){
		errMsg = "กรุณาระบุรูปปก";
		setfocus = "['news_cover2]";
	}
	if (theForm['news_name'].value == ""){
		errMsg = "กรุณาระบุหัวข้อข่าว";
		setfocus = "['news_name']";
	}
	if (theForm['news_date'].value != ""){
		if (!dte_startRE.test(theForm['news_date'].value)){
			errMsg = "ระบุวันที่ให้ถูกต้อง";
			setfocus = "['news_date']";
		}
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}

//-->
</script>

<form action="add.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_add();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	เพิ่มข่าว : เพิ่มข่าวเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "index.php";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	เพิ่มข่าว : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-news">ข้อมูลข่าว</a></li>
                        <li><a href="#tabs-content">รายละเอียด</a></li>                        
<!--                        <li><a href="#tabs-image">รูปประกอบ Gallery</a></li>                        
                        <li><a href="#tabs-video">คลิปประกอบ</a></li> -->
                        <li><a href="#tabs-seo">SEO</a></li>
                    </ul>
                    <div id="tabs-news">
<p class="padding10">ประเภทข่าว<br/>                    
$t_name
</p>
<p class="padding10">หัวข้อข่าว<br/>
<input name="news_name" type="text" id="news_name" value="$news_name" size="80" maxlength="100" />
</p>
<p class="padding10">รายละเอียดย่อ<br/>
  <textarea name="news_intro" cols="80" id="news_intro">$news_intro</textarea>
</p>
<p class="padding10">รูปปกขนาด 330 × 230 (resize ให้อัตโนมัติ)<br/>
<input type="file" name="news_cover1" id="news_cover1" />
</p>
<p class="padding10">รูปปกขนาด 960 × 340 (resize ให้อัตโนมัติ)<br/>
<input type="file" name="news_cover2" id="news_cover2" />
</p>
<p class="padding10"><input name="news_stick" type="checkbox" id="news_stick" value="Y" checked="checked" />แสดงหน้า Homepage&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input name="news_status" type="checkbox" id="news_status" value="Y" checked="checked" />แสดงหน้าข่าว</p>
<p class="padding10">
วันที่ข่าว<br />
<input name="news_date" type="text" id="news_date" value="$news_date" class="datepicker" />
</p>

<div class="clear"></div>
</div>
                    <div id="tabs-content">
<!-- 

                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td>                    <p class="padding10">รูปประกอบข่าว1 [IMAGE1]<br />
                      <input type="file" name="news_imagecontent1" id="news_imagecontent1" />
                      <br />
                      ข้อความใต้รูป 1<br />
                      <input type="text" name="news_imagetext1" id="news_imagetext1" size="50" maxlength="100" />
                      <br />
                    </p></td>
                        <td>                    <p class="padding10">รูปประกอบข่าว3 [IMAGE3]<br />
                      <input type="file" name="news_imagecontent3" id="news_imagecontent3" />
                      <br />
                      ข้อความใต้รูป 3<br />
                      <input type="text" name="news_imagetext3" id="news_imagetext3" size="50" maxlength="100" />
                      <br />
                    </p></td>
                      </tr>
                      <tr>
                        <td>                    <p class="padding10">รูปประกอบข่าว2 [IMAGE2]<br />
                      <input type="file" name="news_imagecontent2" id="news_imagecontent2" />
                      <br />
                      ข้อความใต้รูป 2<br />
                      <input type="text" name="news_imagetext2" id="news_imagetext2" size="50" maxlength="100" />
                      <br />
                    </p></td>
                        <td>                    <p class="padding10">รูปประกอบข่าว4 [IMAGE4]<br />
                      <input type="file" name="news_imagecontent4" id="news_imagecontent4" />
                      <br />
                      ข้อความใต้รูป 4<br />
                      <input type="text" name="news_imagetext4" id="news_imagetext4" size="50" maxlength="100" />
                      <br />
                    </p></td>
                      </tr>
                      <tr>
                        <td><span class="padding10">** รูปขนาด 580 × 387 (resize ให้อัตโนมัติ)</span></td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
<br/>
                    <p class="padding10">เนื้อหา<br/>
                    ** หากต้องการแทรกรูปประกอบใช้ Tag [IMAGE1], [IMAGE2], [IMAGE3], [IMAGE4]<br />
                    ** หากต้องการแทรกรูปประกอบแบบ Gallery ใช้ Tag [GALLERY]<br />

--><p class="padding10">เนื้อหา<br/>
                    <textarea id="news_content" name="news_content" class="ckeditor">$news_content</textarea>

		<script>


			CKEDITOR.replace( 'news_content', {

				// แต่งสี
				uiColor		: '#A8A8A8',

				// ภาษา
				 language	: 'th',
				
				// กว้างยาว 
				height		: 500,
				width		: 800,

				// แก้ html ทั้งหน้า
				//fullPage: true,

				// แต่งปุ่ม 
				toolbar : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
					{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
					{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
					{ name: 'styles', items: [  'Format', 'Font', 'FontSize' ] },
					{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
					{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
					{ name: 'others', items: [ '-' ] },
					{ name: 'about', items: [ 'About' ] }
				],

				// Toolbar groups configuration.
				toolbarGroups : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
					{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
					{ name: 'forms' },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
					{ name: 'links' },
					{ name: 'insert' },
					'/',
					{ name: 'styles' },
					{ name: 'colors' },
					{ name: 'tools' },
					{ name: 'others' },
					{ name: 'about' }
				],


			 filebrowserBrowseUrl : '../ckfinder/ckfinder.html',
			 filebrowserImageBrowseUrl : '../ckfinder/ckfinder.html?Type=Images',
			 filebrowserFlashBrowseUrl : '../ckfinder/ckfinder.html?Type=Flash',
			 filebrowserUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
			 filebrowserImageUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
			 filebrowserFlashUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'

			});

		</script>
                    </p>
                 
                    <div class="clear"></div>
                    </div>
<!--
                    <div id="tabs-image">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><p class="padding10">รูป Gallery 1<Br/><input type="file" name="file_image1" id="file_image1" />
                            <br />
                            ข้อความใต้รูป 1<br />
                            <input type="text" name="gallery_text1" id="gallery_text1" size="50" maxlength="100" />
                          </p>
<p class="padding10">รูป Gallery 2<Br/><input type="file" name="file_image2" id="file_image2" />
  <br />
  ข้อความใต้รูป 2<br />
  <input type="text" name="gallery_text2" id="gallery_text2" size="50" maxlength="100" />
</p>
<p class="padding10">รูป Gallery 3<Br/><input type="file" name="file_image3" id="file_image3" />
  <br />
  ข้อความใต้รูป 3<br />
  <input type="text" name="gallery_text3" id="gallery_text3" size="50" maxlength="100" />
</p>
<p class="padding10">รูป Gallery 4<Br/><input type="file" name="file_image4" id="file_image4" />
  <br />
  ข้อความใต้รูป 4<br />
  <input type="text" name="gallery_text4" id="gallery_text4" size="50" maxlength="100" />
</p>
<p class="padding10">รูป Gallery 5<Br/><input type="file" name="file_image5" id="file_image5" />
  <br />
  ข้อความใต้รูป 5<br />
  <input type="text" name="gallery_text5" id="gallery_text5" size="50" maxlength="100" />
</p>  
<p class="padding10">** รูปขนาด 580 × 387 (resize ให้อัตโนมัติ)</p>                    
                      
                          </td>
                          <td>
<p class="padding10">รูป Gallery 6<Br/><input type="file" name="file_image6" id="file_image6" />
  <br />
  ข้อความใต้รูป 6<br />
  <input type="text" name="gallery_text6" id="gallery_text6" size="50" maxlength="100" />
</p>
<p class="padding10">รูป Gallery 7<Br/><input type="file" name="file_image7" id="file_image7" />
  <br />
  ข้อความใต้รูป 7<br />
  <input type="text" name="gallery_text7" id="gallery_text7" size="50" maxlength="100" />
</p>
<p class="padding10">รูป Gallery 8<Br/><input type="file" name="file_image8" id="file_image8" />
  <br />
  ข้อความใต้รูป 8<br />
  <input type="text" name="gallery_text8" id="gallery_text8" size="50" maxlength="100" />
</p>
<p class="padding10">รูป Gallery 9<Br/><input type="file" name="file_image9" id="file_image9" />
  <br />
  ข้อความใต้รูป 9<br />
  <input type="text" name="gallery_text9" id="gallery_text9" size="50" maxlength="100" />
</p>
<p class="padding10">รูป Gallery 10<Br/><input type="file" name="file_image10" id="file_image10" />
  <br />
  ข้อความใต้รูป 10<br />
  <input type="text" name="gallery_text10" id="gallery_text10" size="50" maxlength="100" />
</p>                      
<p class="padding10">** รูปขนาด 580 × 387 (resize ให้อัตโนมัติ)</p>   
</td>
                        </tr>
                      </table>
                                                                                                                                                                                                      
                    </p>
                    <div class="clear"></div>
                    </div>   
				
                    <div id="tabs-video">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><p class="padding10">Youtube ID Clip 1<Br/><input type="text" name="clip1" id="clip1" /></p>
<p class="padding10">Youtube ID Clip 2<Br/><input type="text" name="clip2" id="clip2" /></p>
<p class="padding10">Youtube ID Clip 3<Br/><input type="text" name="clip3" id="clip3" /></p>
<p class="padding10">Youtube ID Clip 4<Br/><input type="text" name="clip4" id="clip4" /></p>
<p class="padding10">Youtube ID Clip 5<Br/><input type="text" name="clip5" id="clip5" /></p>  </td>
                          <td><p class="padding10">Youtube ID Clip 6<Br/><input type="text" name="clip6" id="clip6" /></p>
<p class="padding10">Youtube ID Clip 7<Br/><input type="text" name="clip7" id="clip7" /></p>
<p class="padding10">Youtube ID Clip 8<Br/><input type="text" name="clip8" id="clip8" /></p>
<p class="padding10">Youtube ID Clip 9<Br/><input type="text" name="clip9" id="clip9" /></p>
<p class="padding10">Youtube ID Clip 10<Br/><input type="text" name="clip10" id="clip10" /></p></td>
                        </tr>
                      </table>
                      <div class="clear"></div>
                    </div>
-->

                    <div id="tabs-seo">
                            <div class="form-left">
                              <label for="seo_url">SEO URL : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            <input name="seo_url" type="text" style="width:400px;" id="seo_url" value="$seo_url" size="80" maxlength="100" />
                            </div>
							<div class="form-left">
                              <label for="seo_title">SEO Title : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            <input name="seo_title" type="text" style="width:400px;" id="seo_title" value="$seo_title" size="80" maxlength="100" />
                            </div>
                            
                            <div class="form-left">
                              <label for="seo_discription">SEO Description : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              <textarea name="seo_description" cols="80" rows="4" style="width:600px; height:120px;" id="seo_description">$seo_description</textarea>
                            </div>    
                        
                            <div class="form-left">
                              <label for="seo_keyword">SEO Keyword : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              <textarea name="seo_keyword" cols="80" rows="4" style="width:600px; height:120px;" id="seo_keyword">$seo_keyword</textarea>
                            </div>        
                            <div class="form-left">
                              <label for="seo_image">SEO Image : <span class="required">*</span></label>
                            </div>
                      <div class="form-right">
						<input type="file" name="seo_image" id="seo_image" />

						<br />
						- รูปขนาด 400 x 400 ชนิด jpg,png<br />
					  - ระบบ Resize รูปให้อัตโนมัติ </div>          
       
                            
                            <div class="clear"></div>    
                  </div>
	</div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_add();" class="submit button large ui-corner-all">เพิ่มเนื้อหา</a> 
</div>

<input name="action" type="hidden" id="action" value="add" />
<input name="t" type="hidden" id="t" value="$t" />

<!--/SiXhEaD:STAFF_FORM-->




</form>
