<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="$BASEURL/chicadmin/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
function youtubedel(id) {   
		
		$.post("edit_youtube_del.php", "yt_id="+id+"&id=$id", function(data){
			$("#youtube_block").html(data);
		});

}

function imagedel(id) {   
		
		$.post("edit_image_del.php", "img_id="+id+"&id=$id", function(data){
			$("#image_block").html(data);
		});

}

</script>

<script language="Javascript"><!--
function VF_edit(){ //v2.0

	var theForm = document.change_password;
	var dte_startRE = /^(0[1-9]|[12][0-9]|3[01])\-(0[1-9]|1[012])\-(19|20)\d\d$/;
	var errMsg = "";
	var setfocus = "";

	if (theForm['seo_keyword'].value == ""){
		errMsg = "ระบุ SEO Keyword\.";
		setfocus = "['seo_keyword']";
	}
	if (theForm['seo_description'].value == ""){
		errMsg = "ระบุ SEO Description";
		setfocus = "['seo_description']";
	}
	if (theForm['seo_title'].value == ""){
		errMsg = "ระบุ SEO Title";
		setfocus = "['seo_title']";
	}
	if (theForm['seo_url'].value == ""){
		errMsg = "ระบุ SEO URL";
		setfocus = "['seo_url']";
	}
	if (theForm['news_name'].value == ""){
		errMsg = "กรุณาระบุหัวข้อข่าว";
		setfocus = "['news_name']";
	}
	if (theForm['news_date'].value != ""){
		if (!dte_startRE.test(theForm['news_date'].value)){
			errMsg = "ระบุวันที่ให้ถูกต้อง";
			setfocus = "['news_date']";
		}
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}

//-->
</script>

<form action="edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_edit();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	แก้ไขรายการ : แก้ไขรายการเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "index.php?t=$program_type";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	แก้ไขรายการ : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-news">ข้อมูลข่าว</a></li>
                        <li><a href="#tabs-content">รายละเอียด</a></li>                        
                        <li><a href="#tabs-seo">SEO</a></li>
                    </ul>
                    <div id="tabs-news">
                    <p class="padding10">ประเภทข่าว<br/>
$t_name </p>
                    <p class="padding10">หัวข้อข่าว<br/>
                    <input name="news_name" type="text" id="news_name" value="$news_name" size="80" maxlength="100" />
                    </p>
                    <p class="padding10">รายละเอียดย่อ<br/>
                      <textarea name="news_intro" cols="80" id="news_intro">$news_intro</textarea>
                    </p>
<p class="padding10">รูปปกขนาด 330 × 230 (resize ให้อัตโนมัติ)<br/>
<img src="../../_files/images/thumb/$news_cover1" style="padding-top:5px; padding-bottom:5px;" />  <br/>
<input type="file" name="news_cover1" id="news_cover1" />
<input name="pic_temp_cover1" type="hidden" id="pic_temp_cover1" value="$news_cover1" />
</p>                    
                    <p class="padding10">รูปปกขนาด 960 × 340 (resize ให้อัตโนมัติ)<br/>
                      <img src="../../_files/images/full/$news_cover2" width="700" style="padding-top:5px; padding-bottom:5px;" />  <br/>
                      <input type="file" name="news_cover2" id="news_cover2" />
                      <input name="pic_temp_cove2r" type="hidden" id="pic_temp_cover2" value="$news_cover2" />
                    </p>
                    <p class="padding10"><input name="news_stick" type="checkbox" id="news_stick" value="Y" $news_stick_y />แสดงหน้า Homepage&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="news_status" type="checkbox" id="news_status" value="Y" $news_status_s />แสดงหน้าข่าว</p>
                    <p class="padding10">
                    วันที่ข่าว<br />
                    <input name="news_date" type="text" id="news_date" value="$news_date" class="datepicker" />
                    </p>
                    <div class="clear"></div>
                    </div>
                    
                    
                    <div id="tabs-content">
                    <!--
                    
                    -->
                    
<p class="padding10">เนื้อหา<br />
  <textarea id="news_content" name="news_content" class="ckeditor">$news_content</textarea>

		<script>


			CKEDITOR.replace( 'news_content', {

				// แต่งสี
				uiColor		: '#A8A8A8',

				// ภาษา
				 language	: 'th',
				
				// กว้างยาว 
				height		: 500,
				width		: 800,

				// แก้ html ทั้งหน้า
				//fullPage: true,

				// แต่งปุ่ม 
				toolbar : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
					{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
					{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
					{ name: 'styles', items: [  'Format', 'Font', 'FontSize' ] },
					{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
					{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
					{ name: 'others', items: [ '-' ] },
					{ name: 'about', items: [ 'About' ] }
				],

				// Toolbar groups configuration.
				toolbarGroups : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
					{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
					{ name: 'forms' },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
					{ name: 'links' },
					{ name: 'insert' },
					'/',
					{ name: 'styles' },
					{ name: 'colors' },
					{ name: 'tools' },
					{ name: 'others' },
					{ name: 'about' }
				],


			 filebrowserBrowseUrl : '../ckfinder/ckfinder.html',
			 filebrowserImageBrowseUrl : '../ckfinder/ckfinder.html?Type=Images',
			 filebrowserFlashBrowseUrl : '../ckfinder/ckfinder.html?Type=Flash',
			 filebrowserUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
			 filebrowserImageUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
			 filebrowserFlashUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'

			});

		</script>
                    </p>                    
                 
                    <div class="clear"></div>
                    </div>

                    <div id="tabs-seo">
                            <div class="form-left">
                              <label for="seo_url">SEO URL : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            <input name="seo_url" type="text" style="width:400px;" id="seo_url" value="$seo_url" size="80" maxlength="100" />
                            </div>
                            <div class="form-left">
                              <label for="seo_title">SEO Title : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            <input name="seo_title" type="text" style="width:400px;" id="seo_title" value="$seo_title" size="80" maxlength="100" />
                            </div>
                            
                            <div class="form-left">
                              <label for="seo_discription">SEO Description : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              <textarea name="seo_description" cols="80" rows="4" style="width:600px; height:120px;" id="seo_description">$seo_description</textarea>
                            </div>    
                        
                            <div class="form-left">
                              <label for="seo_keyword">SEO Keyword : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              <textarea name="seo_keyword" cols="80" rows="4" style="width:600px; height:120px;" id="seo_keyword">$seo_keyword</textarea>
                            </div>        
                            <div class="form-left">
                              <label for="seo_image">SEO Image : <span class="required">*</span></label>
                            </div>
                      <div class="form-right">
						<img src="../../_files/images/thumb/$seo_image" style="padding-bottom:10px;" /><br />
						<input type="file" name="seo_image" id="seo_image" />
						<input name="seo_image_temp" id="seo_image_temp" type="hidden" value="$seo_image" />
						<br />
						- รูปขนาด 400 x 400 ชนิด jpg,png<br />
					  - ระบบ Resize รูปให้อัตโนมัติ </div>          
       
                            
                            <div class="clear"></div>    
                  </div>
	</div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_edit();" class="submit button large ui-corner-all">แก้ไขเนื้อหา</a> 
</div>

<input name="action" type="hidden" id="action" value="edit" />

<!--/SiXhEaD:STAFF_FORM-->




<input name="id" type="hidden" id="id" value="$id" />
</form>
