/* Demo CSS - You do not need this css in your own slider */

#main-slide-bjqs  ol.bjqs-markers{
	top: 0;
	position: absolute;
	text-align: right;
}

#main-slide-bjqs ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

#main-slide-bjqs  ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

#main-slide-bjqs  ol.bjqs-markers li a{
	padding:2px 7px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

#main-slide-bjqs  ol.bjqs-markers li.active-marker a,
#main-slide-bjqs  ol.bjqs-markers li a:hover{
	background: #999;
}

#main-slide-bjqs  p.bjqs-caption{
	color: #fff;
	background: rgba(0,0,0,0.6);
	margin: 10px;
	font-size: 13px;
	width: 600px;
}



#main-newcar-slide-bjqs ul.bjqs-controls.v-centered li a{
	display:block;
	width: 38px;
	height: 35px;
	text-decoration: none;
	text-indent: -9999;
}
#main-newcar-slide-bjqs ul.bjqs-controls.v-centered li.bjqs-prev a{
	background:url('../../images/main/left-aro.png') no-repeat right center;
}
#main-newcar-slide-bjqs ul.bjqs-controls.v-centered li.bjqs-next a{
	background:url('../../images/main/right-aro.png') no-repeat left center;
}

#main-newcar-slide-bjqs ul.bjqs-controls.v-centered li a:hover{
	
}