<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->


<form action="edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_edit();return false;" >

              <div style="margin:10px 15px 20px 10px; text-align:right;">
                	<a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">แก้ไขข้อมูล</a>
                </div>


                <div id="tabs">
                  <ul>
                    <ul>
                        <li><a href="#tabs-content">รายละเอียด</a></li>                                                                                                                
                    </ul>

                  </ul>
                    <div id="tabs-content">
<p class="padding10"><span class="bold">หัวข้อ</span><br/>
$page_topic</p>
<p class="padding10"><span class="bold">หัวย่อ</span><br/>
$page_intro_th</p>
<span class="bold">รายละเอียดเต็ม</span><br/>
  $page_content_th 
<div class="clear"></div>
</div>
  </div>
  <input name="action" type="hidden" id="action" value="edit" />
<input name="id" type="hidden" id="id" value="$id" />






</form>
