@charset "UTF-8";
@import url('font/stylesheet.css');
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'chic-icon';
  src: url("../font/chic-icon.eot?64893879");
  src: url("../font/chic-icon.eot?64893879#iefix") format("embedded-opentype"), url("../font/chic-icon.woff?64893879") format("woff"), url("../font/chic-icon.ttf?64893879") format("truetype"), url("../font/chic-icon.svg?64893879#chic-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'chic-icon';
    src: url('../font/chic-icon.svg?64893879#chic-icon') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "chic-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-left-dir:before {
  content: '\e806'; }

/* '' */
.icon-right-dir:before {
  content: '\e807'; }

/* '' */
.icon-facebook-1:before {
  content: '\e804'; }

/* '' */
.icon-instagramm:before {
  content: '\e803'; }

/* '' */
.icon-twitter:before {
  content: '\e802'; }

/* '' */
.icon-youtube:before {
  content: '\e800'; }

/* '' */
.icon-left-open:before {
  content: '\e805'; }

/* '' */
.icon-right-open:before {
  content: '\e801'; }

/* '' */
@font-face {
  font-family: 'Arundina Serif';
  src: url("../font/ArunSer.eot");
  /* IE9 Compat Modes */
  src: url("../font/ArunSer.eot?#iefix") format("embedded-opentype"), url("../font/ArunSer.woff") format("woff"), url("../font/ArunSer.ttf") format("truetype"), url("../font/ArunSer.svg#fcababd72fe27fc9f506f2f45992a5a4") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Arundina Serif';
  src: url("../font/ArunSerB.eot");
  /* IE9 Compat Modes */
  src: url("../font/ArunSerB.eot?#iefix") format("embedded-opentype"), url("../font/ArunSerB.woff") format("woff"), url("../font/ArunSerB.ttf") format("truetype"), url("../font/ArunSerB.svg#6c3aa3565cee8ff189266a95a9a7d387") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 100%;
  height: 400px;
  position: relative;
  direction: ltr; }

.royalSlider > * {
  float: left; }

.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0); }

.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden; }

.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none; }

.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0; }

.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.rsArrow,
.rsThumbsArrow {
  cursor: pointer; }

.rsThumb {
  float: left;
  position: relative; }

.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear; }

.rsGCaption {
  width: 100%;
  float: left;
  text-align: center; }

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important; }

.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none; }

.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto; }

.rsContent {
  width: 100%;
  height: 100%;
  position: relative; }

.rsPreloader {
  position: absolute;
  z-index: 0; }

.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none; }

.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25); }

.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22; }

.rsTabs {
  float: left;
  background: none !important; }

.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.rsVideoContainer {
  /*left: 0;
  top: 0;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative; }

.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s; }

.rsVideoFrameHolder.rsVideoActive {
  opacity: 1; }

.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px; }

.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15; }

img.rsImg {
  max-width: none; }

.grab-cursor {
  cursor: url("../img/vendor/grab.png") 8 8, move; }

.grabbing-cursor {
  cursor: url("../img/vendor/grabbing.png") 8 8, move; }

.rsNoDrag {
  cursor: auto; }

.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url("../img/vendor/blank.gif"); }

/******************************
*
*  RoyalSlider Default Skin
*
*    1. Arrows
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*
*  Sprite: '../img/vendor/rs-default.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
*
******************************/
/* Background */
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
  background: transparent; }

/***************
*
*  1. Arrows
*
****************/
.rsDefault .rsArrow {
  height: 100%;
  width: 60px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21; }

.rsDefault.rsVer .rsArrow {
  width: 100%;
  height: 44px; }

.rsDefault.rsVer .rsArrowLeft {
  top: 0;
  left: 0; }

.rsDefault.rsVer .rsArrowRight {
  bottom: 0;
  left: 0; }

.rsDefault.rsHor .rsArrowLeft {
  left: 0;
  top: 0; }

.rsDefault.rsHor .rsArrowRight {
  right: 0;
  top: 0; }

.rsDefault .rsArrowIcn {
  width: 60px;
  height: 190px;
  top: 50%;
  left: 50%;
  margin-top: -95px;
  margin-left: -30px;
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  *background-color: #fff;
  font-family: 'fontello';
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

.rsDefault .rsArrowIcn:hover {
  background-color: rgba(255, 255, 255, 0.8); }

.rsDefault.rsHor .rsArrowIcn:after {
  position: absolute;
  top: 0%;
  width: 60px;
  line-height: 190px;
  text-align: center;
  font-size: 44px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3); }

.rsDefault.rsHor .rsArrowLeft .rsArrowIcn:after {
  content: '\e806';
  left: -3px; }

.rsDefault.rsHor .rsArrowRight .rsArrowIcn:after {
  content: '\e800';
  left: 3px; }

.rsDefault.rsVer .rsArrowLeft .rsArrowIcn {
  background-position: -96px -32px; }

.rsDefault.rsVer .rsArrowRight .rsArrowIcn {
  background-position: -96px -64px; }

.rsDefault .rsArrowDisabled .rsArrowIcn {
  background-color: rgba(255, 255, 255, 0.4);
  opacity: .4;
  *display: none; }

/***************
*
*  2. Bullets
*
****************/
.rsDefault .rsBullets {
  position: absolute;
  z-index: 35;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  line-height: 18px;
  overflow: hidden; }

.rsDefault .rsBullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 5px 1px;
  border-radius: 50%;
  background: #777;
  background: rgba(255, 255, 255, 0.5); }

.rsDefault .rsBullet.rsNavSelected {
  background-color: #FFF; }

/***************
*
*  3. Thumbnails
*
****************/
.rsDefault .rsThumbsHor {
  padding-bottom: 4px;
  width: 515px;
  height: 72px;
  top: 23px;
  margin: 0 auto;
  float: none;
  clear: both; }

.rsDefault .rsThumbsVer {
  padding-right: 4px;
  width: 96px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0; }

.rsDefault.rsWithThumbsHor .rsThumbsContainer {
  position: relative;
  height: 100%;
  white-space: nowrap; }

.rsDefault.rsWithThumbsVer .rsThumbsContainer {
  position: relative;
  width: 100%; }

.rsDefault .rsThumb {
  display: block;
  overflow: hidden;
  height: 72px; }

.rsDefault .rsThumb img {
  width: auto;
  height: 72px;
  opacity: .5;
  filter: alpha(opacity=50); }

.rsDefault .rsThumb.rsNavSelected img {
  opacity: 1;
  filter: alpha(opacity=100); }

.rsDefault .rsTmb {
  display: block; }

/* Thumbnails arrow icons */
.rsDefault .rsThumbsArrow {
  height: 100%;
  width: 40px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
  background: #000;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.3); }

.rsDefault .rsThumbsArrow:hover {
  background: rgba(255, 255, 255, 0.75); }

.rsDefault.rsWithThumbsVer .rsThumbsArrow {
  width: 100%;
  height: 20px; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft {
  top: 0;
  left: 0; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowRight {
  bottom: 0;
  left: 0; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft {
  left: 0;
  top: 0; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowRight {
  right: 0;
  top: 0; }

.rsDefault .rsThumbsArrowIcn {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  position: absolute;
  cursor: pointer; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn {
  background-position: -128px -32px; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn {
  background-position: -128px -48px; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn {
  background-position: -144px -32px; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn {
  background-position: -144px -48px; }

.rsDefault .rsThumbsArrowDisabled {
  display: none !important; }

.rsDefault .rsThumbsArrow:after {
  position: absolute;
  font-family: 'fontello';
  line-height: 70px;
  left: 50%;
  margin-left: -10px;
  font-size: 26px; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft:after {
  content: '\e806'; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowRight:after {
  content: '\e800'; }

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
  .rsDefault .rsThumb {
    width: 59px;
    height: 44px; }

  .rsDefault .rsThumbsHor {
    height: 44px; }

  .rsDefault .rsThumbsVer {
    width: 59px; } }
/***************
*
*  4. Tabs
*
****************/
.rsDefault .rsTabs {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding-top: 12px;
  position: relative; }

.rsDefault .rsTab {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: auto;
  width: auto;
  color: #333;
  padding: 5px 13px 6px;
  min-width: 72px;
  border: 1px solid #D9D9DD;
  border-right: 1px solid #f5f5f5;
  text-decoration: none;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: linear, to bottom, #fefefe, #f4f4f4;
  -webkit-box-shadow: inset 1px 0 0 #fff;
  box-shadow: inset 1px 0 0 #fff;
  *display: inline;
  *zoom: 1; }

.rsDefault .rsTab:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.rsDefault .rsTab:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #cfcfcf; }

.rsDefault .rsTab:active {
  border: 1px solid #D9D9DD;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset; }

.rsDefault .rsTab.rsNavSelected {
  color: white;
  border: 1px solid #999;
  text-shadow: 1px 1px #838383;
  -webkit-box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
  box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
  background: #ACACAC;
  background-image: -webkit-linear-gradient(top, #acacac, #bbbbbb);
  background-image: -moz-llinear-gradient(top, #acacac, #bbbbbb);
  background-image: linear, to bottom, #acacac, #bbbbbb; }

/***************
*
*  5. Fullscreen button
*
****************/
.rsDefault .rsFullscreenBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 22;
  display: block;
  position: absolute;
  cursor: pointer; }

.rsDefault .rsFullscreenIcn {
  display: block;
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url("../img/vendor/rs-default.png") 0 0;
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #000;
  border-radius: 2px; }

.rsDefault .rsFullscreenIcn:hover {
  background-color: rgba(0, 0, 0, 0.9); }

.rsDefault.rsFullscreen .rsFullscreenIcn {
  background-position: -32px 0; }

/***************
*
*  6. Play/close video button
*
****************/
.rsDefault .rsPlayBtn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  cursor: pointer; }

.rsDefault .rsPlayBtnIcon {
  width: 64px;
  display: block;
  height: 64px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: url("../img/vendor/rs-default.png") no-repeat 0 -32px;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  *background-color: #000; }

.rsDefault .rsPlayBtn:hover .rsPlayBtnIcon {
  background-color: rgba(0, 0, 0, 0.9); }

.rsDefault .rsBtnCenterer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px; }

.rsDefault .rsCloseVideoBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 500;
  position: absolute;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0); }

.rsDefault .rsCloseVideoBtn.rsiOSBtn {
  top: -38px;
  right: -6px;
  /*top: -6px;
  right: -38px;*/ }

.rsDefault .rsCloseVideoIcn {
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url("../img/vendor/rs-default.png") -64px 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75); }

.rsDefault .rsCloseVideoIcn:hover {
  background-color: rgba(0, 0, 0, 0.9); }

/***************
*
*  7. Preloader
*
****************/
.rsDefault .rsPreloader {
  width: 20px;
  height: 20px;
  background-image: url(../img/vendor/preloader-white.gif);
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px; }

/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  border: none;
  background: transparent; }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../img/vendor/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../img/vendor/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../img/vendor/controls.png) no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../img/vendor/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../img/vendor/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: -25px;
  left: 0;
  background: transparent;
  width: 100%;
  text-align: center; }

.bx-wrapper .bx-caption span {
  display: block;
  font-family: 'Arundina Serif';
  font-size: 18px;
  color: #2d1f17; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #e4e1e1;
  margin: 0 auto;
  font-family: 'Arundina Serif';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body > div:nth-child(2) {
    clear: both;
    position: relative;
    margin: 0 auto 5px;
    z-index: 100;
    width: 1020px; }
    body > div:nth-child(2) > div {
      float: left;
      position: relative;
      top: 45px;
      width: 852px; }
      body > div:nth-child(2) > div a {
        font-size: 20px; }
      body > div:nth-child(2) > div:after {
        content: '';
        background-color: #555454;
        height: 25px;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1; }
  body a {
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }

#misc-bar {
  margin: 0 auto;
  text-align: right;
  padding: 2px 8px 0 0;
  position: relative;
    font-size: 0;
  z-index: 101;
  width: 1020px; }
  #misc-bar a {
    color: #1d1d1b;
    padding: 0 6px;
      position: relative;
      font-size: 18px;
      z-index: 1;
      background: #e4e1e1;
    display: inline-block;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    #misc-bar a:hover {
      color: #5f5f58; }
    #misc-bar a:after {
      content: '|';
      margin-left: 15px; }
    #misc-bar .last:after {
      display: none; }

#misc-bar a:before {
    content: ' ';
    background: #e4e1e1;
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    height: 5px;
}
#misc-bar > span {display: inline-block; position: relative; }
#misc-bar > span > a { z-index: 1; position: relative; }
#misc-bar > span > a:before {
    content: ' ';
    background: #e4e1e1;
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    height: 5px;
}

#misc-bar ul {
    padding: 0;
    z-index: 0;
    background: #fff;
    list-style: none;
    margin: 0;
    position: absolute;
    top: -215%;
    transition: top .2s linear;
    text-align: left;
    left: 0;
    background: #333;
    background: rgba(255, 255, 255, 0.9);
}
#misc-bar > span:hover ul {top: 100%; }

#misc-bar ul a {color: #000; white-space: nowrap; background: none; }
#misc-bar ul a:hover {opacity: 0.8; }
#misc-bar ul a:before {display: none; }
#misc-bar ul a:after {display: none; }

#logo {
  margin: 0;
  width: 147px;
  height: 75px;
  float: left;
  margin-right: 20px;
  position: relative;
  left: 18px;
  top: -5px; }
  #logo a {
    width: 147px;
    height: 75px;
    background: url("../img/base/logo.png") no-repeat;
    display: inline-block; }
    #logo a span {
      visibility: hidden; }

#logo + div + .sns-link  {background: url(../img/base/sleep.png) left center no-repeat; }
.sns-link {
  position: absolute;
  padding-left: 97px;
  top: 5px;
  right: 11px;
  height: 32px;
  z-index: 11; }

	#site-search ::-webkit-input-placeholder {
	   color: #404040;
	}

	#site-search :-moz-placeholder { /* Firefox 18- */
	   color: #404040;
	}

	#site-search ::-moz-placeholder {  /* Firefox 19+ */
	   color: #404040;
	}

	#site-search :-ms-input-placeholder {
	   color: #404040;
	}
  .sns-link span {
    display: none; }
  .sns-link a {
    border-radius: 50%;
    background-color: #8b8a8a;
    color: #efefef;
    display: inline-block;
    font-size: 16px;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-left: 1px;
    line-height: 36px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); }
    .sns-link a:hover {
      background-color: #bebdbd;
      color: #555454;
      box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2); }

	 .sns-link [class^="icon-"]:before, .sns-link [class*=" icon-"]:before {vertical-align: 2px; }

#main-nav {
  position: relative;
  z-index: 2; }
  #main-nav:before {
    content: '';
    background-color: #e4e1e1;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 25px;
    z-index: 12; }
  #main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #main-nav ul li {
      display: inline-block;
      position: relative; }
  #main-nav .sub-nav {
    position: absolute;
    background-color: rgba(42, 41, 39, 0.7);
    top: 25px;
    padding: 10px 10px 25px 10px;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out; }
    #main-nav .sub-nav ul {
      color: #efefef;
      white-space: nowrap;
      vertical-align: top; }
      #main-nav .sub-nav ul li {
        white-space: nowrap;
        font-weight: 700;
        vertical-align: top; }
    #main-nav .sub-nav > ul > li {
      display: inline-block;
      padding-left: 8px; }
      #main-nav .sub-nav > ul > li ul {
        margin-top: 0px; }
    #main-nav .sub-nav > ul > li > ul > li {
      display: block;
      line-height: 16px; }
      #main-nav .sub-nav > ul > li > ul > li:before {
        content: '-';
        font-weight: 400; }
      #main-nav .sub-nav > ul > li > ul > li a {
        padding-left: 5px;
        font-weight: 400;
        line-height: 18px;
        font-size: 18px; }
        #main-nav .sub-nav > ul > li > ul > li a:hover {
          color: #000; }
  #main-nav > ul > li:hover .sub-nav {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  #main-nav a {
    color: #efefef;
    font-size: 20px;
    display: inline-block;
    padding: 0 10px;
    line-height: 25px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    #main-nav a:hover {
      color: #fff; }
  #main-nav > ul > li:first-child a {
    background-color: #e4e1e1;
    color: #1d1d1b;
    margin-right: 50px;
    padding: 0 20px; }
  #main-nav > ul > li:last-child a {
    width: 200px; }
  #main-nav > ul > li {
    display: block;
    float: left; }
    #main-nav > ul > li > a {
      background-color: #555454;
      z-index: 11;
      position: relative; }

#site-search {
  position: absolute;
  right: 15px;
  top: 1px;
  z-index: 2; }
  #site-search input[type=text] {
    height: 22px;
    width: 162px;
    border: solid 1px #fff;
    padding: 2px 25px 0 5px;
    font-size: 16px;
    border-radius: 0; }
  #site-search input[type=submit] {
    border: none;
    background: url("../img/base/btn-search.png") no-repeat;
    text-indent: -1000em;
    position: absolute;
    width: 19px;
    height: 19px;
    left: 142px;
    top: 50%;
    margin-top: -10px;
    border-radius: 0; }

[role=banner] {
  margin: 0 auto 10px;
  width: 1020px; }

.royalSlider figure {
  margin: 0; }

#billboard {
  width: 1020px;
  height: 440px;
  overflow: hidden;
  margin: 0 auto 10px; }

#highlight-product {
  width: 710px;
  position: relative;
  height: 204px;
  float: left;
  background-color: #efefef; }

  #highlight-product .bxslider {
    list-style: none;
    margin: 0;
    padding: 0; }
  #highlight-product .bx-viewport {
    padding: 25px 0 20px 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  #highlight-product .bx-wrapper {
    padding: 0;
    height: 100%; }
    #highlight-product .bx-wrapper .bx-controls-direction a {
      font-family: 'chic-icon';
      background-color: #dad9d8;
      /*background-color: rgba(37, 24, 14, 0.2);*/
      background-image: none;
      height: 40px;
      margin-top: -20px;
      text-indent: 0;
      text-align: center;
      width: 23px;
      line-height: 40px;
      color: #b8b4b2;
      font-size: 19px; }
      .touch #highlight-product .bx-wrapper .bx-controls-direction a {
        display: none; }
      #highlight-product .bx-wrapper .bx-controls-direction a span {
        display: none; }
    #highlight-product .bx-wrapper .bx-prev {
      left: -35px; }
      #highlight-product .bx-wrapper .bx-prev:before {
        content: '\e805';
        text-align: center;
        text-indent: 0; }
    #highlight-product .bx-wrapper .bx-next {
      right: -35px; }
      #highlight-product .bx-wrapper .bx-next:before {
        content: '\e801';
        text-align: center;
        text-indent: 0; }

.fractional {
	list-style: none;
	padding: 0;
	text-align: center;
	font: 12px/14px 'Times New Roman';
	margin-top: -4px;
	color: #2d1f17;	}

.fractional strong {color: red; }

.button-arrival {
	top: 0;
	position: absolute;
	margin: 0;
	z-index: 1;
	left: 0; }

.button-arrival a {
	display :block;
	width: 110px;
	height: 30px;
	background: url(../img/base/new-arrival.png);
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap; }

.button-arrival:hover {background: #000; }
.button-arrival:hover a {opacity: 0.9; }

.home-promotion {
	background: url(../img/base/home-footer.png) center no-repeat #fff;
	border: solid #c8c6c7;
	border-width: 1px 0;
	margin: 0;
	height: 69px; }

.detail-promotion {
	background: url(../img/base/detail-footer.png) center no-repeat #d1d2d4;

	border-width: 1px 0;
	margin: 0;
	height: 69px; }

.home-promotion + footer {padding: 1px 0 0; }

.adslot-s {
  width: 300px;
  height: 204px;
  line-height: 204px;
  overflow: hidden;
  float: right; }

footer {
  background-color: #c1bdbd;
  position: relative;
  padding-top: 20px;
  font-family: 'Times New Roman';
  overflow: hidden; }
  footer .sns-link {
    top: 20px;
    width: 1020px;
    left: 50%;
    margin-left: -510px;
    padding-right: 12px;
    text-align: right; }
    footer .sns-link a {
      line-height: 32px;
      margin-left: 6px; }
  footer #subscribe, footer section {
    display: block;
    float: left; }
  footer section {
    margin-bottom: 30px;
    width: 20%; }
    footer section h1 {
      margin: 0;
      font-size: 14px;
      padding-top: 15px; }
    footer section nav a {
      display: block;
      font-size: 14px;
      color: #1d1d1b; }
      footer section nav a:before {
        content: '-';
        margin-right: 5px; }
  footer #subscribe {
    padding-right: 40px; }
    footer #subscribe h1 {
      font-weight: normal;
      font-size: 30px;
      margin: 0;
      padding-top: 10px; }
    footer #subscribe label {
      display: block;
      margin: 0 0 5px;
      font-size: 18px; }
    footer #subscribe input {
      width: 195px;
      height: 30px;
      border: solid 1px #000;
      padding: 0 5px; }
  footer > p {
    background-color: #000;
    color: #efefef;
    height: 35px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    clear: both;
    margin: 0; }

.wrapper {
  width: 1020px;
  margin: 0 auto; }

#billboard-inner {
  width: 1020px;
  height: 392px; }

 #billboard-inner img {vertical-align: middle; }

#intro-pnl {
  position: relative;
  width: 986px;
  margin: 0 auto;
  z-index: 99;
  display: table;
  top: -57px; }
  #intro-pnl header {
    width: 254px;
    height: 120px;
    /*background-color: rgba(255, 255, 255, 0.6);*/
    text-align: center;
    display: table-cell; }
    #intro-pnl header h1 {
      /*font-family: 'Times New Roman';
      font-weight: normal;
      margin: 0;
      display: table-cell;
      width: 370px;
      height: 175px;
      font-size: 48px;
      line-height: 1;
      z-index: 2;
      vertical-align: middle;
      text-transform: uppercase;*/
        font-family: 'Times New Roman';
        font-weight: normal;
        margin: 0;
        display: table-cell;
        width: 256px;
        height: 120px;
        font-size: 48px;
        line-height: 1;
        z-index: 2;
        vertical-align: middle;
        text-transform: uppercase; }
#intro-pnl header h1 span {display: none; }
#intro-pnl header h1:before {display: none; }
#intro-pnl header h1:before {
        width: 350px;
        height: 146px;
        position: absolute;
        border: solid 1px #000;
        content: '';
        left: 10px;
        top: 14px;
        z-index: 1; }
  #intro-pnl article {
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 35px 0 48px;
    /*border-bottom: solid 10px #313131;*/
    font-size: 24px;
    line-height: .9; }

#intro-pnl article p { max-height: 85px;
    overflow: hidden;
    margin: 0; }
  #intro-pnl p {
    margin: 0; }

/* new style */
#intro-pnl-new header h1 {
	font-family: 'Times New Roman';
	font-weight: normal;
	margin: 0;
	display: table-cell;
	width: 256px;
	height: 120px;
	font-size: 48px;
	line-height: 1;
	z-index: 2;
	vertical-align: middle;
	text-transform: uppercase; }

#intro-pnl-new header h1 span {display: none; }

#intro-pnl-new {
	position: relative;
	width: 986px;
	margin: 0 auto;
	z-index: 99;
	display: table;
	top: -57px; }

#intro-pnl-new header {
    width: 254px;
    height: 120px;
    text-align: center;
    display: table-cell; }

#intro-pnl-new article {
    display: table-cell;
    vertical-align: middle;
    background-color: #fff;
    padding: 0 35px 0 48px;
    font-size: 24px;
    line-height: .9; }
#intro-pnl-new p {
    margin: 0;
	max-height: 85px;
	overflow: hidden; }

.pagination {
  position: absolute;
  display: none; }

.category [role=main] {
  margin-top: -18px;
  padding: 0 0 50px 70px; }
  .category [role=main] article {
    display: block;
    float: left;
      position: relative;
    text-align: center;
    margin: 0 15px 30px; }
    .category [role=main] article:nth-child(4n+1) {
      clear: left; }
    .category [role=main] article span {
      width: 184px;
      height: 184px;
      display: table-cell;
      border: solid 2px #997950;
      display: table-cell;
      vertical-align: middle;
      background-color: #fff;
      overflow: hidden; }
    .category [role=main] article h1 {
      margin: 50px 0 0;
      text-transform: uppercase;
      font-size: 20px;
      line-height: .8; }
    .category [role=main] article a {
      color: #2e2017; }
      .category [role=main] article a:hover {
        color: #724f39; }
    .category [role=main] article p {
      margin: 0;
      font-size: 16px; }

.category [role=main] article .new-arrival {
    width: 98px;
    height: 27px;
    position: absolute;
    top: 195px;
    left: 50%;
    margin-left: -49px;
    background: url(../img/base/new-arrival-small.png); }

/*.detail #main {
  background-color: #fff;
  margin-top: -120px;
  margin-bottom: 10px; }*/

.detail #main {
    background-color: #fff;
    margin-top: -45px;
    width: 986px;
    margin-bottom: 10px; }

  .detail #main > aside {
    padding: 60px 50px;
    width: 580px;
    float: left;
    padding-bottom: 150px; }
  .detail #main article {
    float: right;
    padding: 60px 50px 60px 0;
    width: 400px; }
  .detail #main section {
    margin-bottom: 20px; }
  .detail #main h2, .detail #main h3, .detail #main h4 {
    margin: 0; }
  .detail #main h2 {
    font-size: 30px;
    line-height: .7; }
    .detail #main h2 em {
      font-style: normal;
      font-weight: normal;
      font-size: 16px; }
  .detail #main h3 {
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: -1px;
    line-height: 1;
    margin: 8px 0; }
  .detail #main p {
    margin: 8px 0;
    line-height: 1;
    width: 300px;
    font-size: 17px; }
    .detail #main p em {
      color: #8b8a8a;
      font-size: 15px; }
  .detail #main h4 {
    font-weight: normal;
    font-size: 32px;
    line-height: 1; }
  .detail #main #relate ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .detail #main #relate li {
    width: 64px;
    height: 64px;
    background: #fff;
    border: solid 1px #997950;
    display: block;
    float: left;
    line-height: 54px;
    text-align: center;
    margin: 0 10px 10px 0;
    padding: 3px; }
  .detail #main #relate img {
    max-width: 100%;
    max-height: 100%; }

.detail #main.main-new-style {margin-top: -45px; width: 986px; }

#product_gallery {
  width: 480px;
  height: 360px; }
  #product_gallery .rsThumbsHor {
    height: 48px;
    position: absolute;
    top: auto;
    bottom: -70px; }
  #product_gallery .rsThumb {
    height: 44px;
    border: solid 1px #997950; }
    #product_gallery .rsThumb img {
      height: 44px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, body > div:nth-child(2):before, #main-nav > ul:before, [role=banner]:before, #highlight-product .bxslider:before, footer:before, .wrapper:before,
.clearfix:after,
body > div:nth-child(2):after,
#main-nav > ul:after,
[role=banner]:after,
#highlight-product .bxslider:after,
footer:after,
.wrapper:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, body > div:nth-child(2):after, #main-nav > ul:after, [role=banner]:after, #highlight-product .bxslider:after, footer:after, .wrapper:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }






/*------------------------------------------------------------------------*\
=Begin Aon style
\*------------------------------------------------------------------------*/
.hd-t {text-indent: 100%; display: block; white-space: nowrap; overflow: hidden; }
.ly2-side-l > * {float: right; width: 760px; }
.ly2-side-l > * + * {float: left; width: 260px; }

.produ-cat-detail {width: 759px; border-left: 1px solid #bdbdbd; background: #fff; min-height: 659px; }

.produ-cate-side {
	background: url(../img/base/side-product.png) top left no-repeat;
	font: 14px/17px 'Times New Rom';
	position: relative;
	padding: 104px 0 0; }

.produ-cate-side:after {
	content: '';
	width: 1px;
	height: 106px;
	background: #fff;
	position: absolute;
	top: 0;
	right: -2px; }

.produ-cate-side h1 {
	height: 35px;
	font: 24px/35px 'Times New Rom';
	margin: 0;
	padding: 0 0 0 30px;
	border-top: 2px solid #fff; }

.produ-cate-side ul {margin: 0; padding: 0; list-style: none; }
.produ-cate-side li a {padding: 0 0 0 30px; }

.produ-cate-side li .active,
.produ-cate-side li a:hover {background: #9d9d9d; }

.produ-cate-side li li a {padding: 0 0 0 40px; }

.produ-cate-side li li .active,
.produ-cate-side li li a:hover {background: #c1c1c1; }

.produ-cate-side a {color: #000; display: block; }
.produ-cate-side li li a {color: #2e2017; }

.produ-cat__filter {background: #e1e1e1; }
.produ-cat__filter p {
	float: left;
	margin: 0;
	padding: 0 44px 0 29px;
	line-height: 39px;
	font-weight: bold; }

.produ-cat__filter form {float: left; padding: 5px 0 0 0; }
.produ-cat__filter select {
	float: left;
	min-width: 129px;
	margin: 0 8px 0 0; }

.produ-cat__thumb {
	float: left;
	width: 430px;
	line-height: 433px;
	text-align: center;
	margin: 0; }

.produ-cat__thumb img {vertical-align: middle; }

.produ-cat__detail {
	float: right;
	width: 278px;
	margin-right: 47px;
	color: #555;
	font: 14px/1.2em 'Times New Roman'; }

.produ-cat__arrival {
	display: block;
	width: 98px;
	margin-bottom: 9px;
	height: 27px;
	background: url(../img/base/new-arrival-small.png);
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap; }

.produ-cat__intro {}
.produ-cat__intro h1 {margin: 0; font: bold 21px/22px 'Arundina Serif'; }
.produ-cat__intro h2 {font-size: 16px; font-weight: normal; margin: 0; }
.produ-cat__intro small {font-size: 14px; }
.produ-cat__intro p {margin: 0; line-height: 17px; font-size: 14px; }
.produ-cat__intro ul {margin: 0; padding: 0; list-style: none; }
.produ-cat__intro li {line-height: 17px; font-size: 14px; }
.produ-cat__intro strong span {color: #ff00cc; }
.produ-cat__intro .produ-cat__intro--status {margin-top: 15px; }

.produ-cat__content {margin-top: 23px; }
.produ-cat__content section {border-top: 1px solid #9d9d9d; }
.produ-cat__content h2 {font-size: 14px; padding-top: 8px; margin: 0; }
.produ-cat__content p {margin: 0 0 10px; }

.produ-cat__nav {border-top: 1px solid #9d9d9d; margin: 22px 0 0; }
.produ-cat__nav li {list-style: none; }

.produ-cat__nav--color {padding: 1px; margin: 6px 0; overflow: hidden; }
.produ-cat__nav--color li {
	width: 44px;
	height: 44px;
	background: #cdcbce;
	float: left;
	border: 2px solid #fff;
	outline: 1px solid #4b4b4b;
	margin: 0 7px 0 0; }

.produ-cat__nav--thumb {overflow: hidden; padding: 1px; margin: 13px 0 6px; }
.produ-cat__nav--thumb li {
	float: left;
	border: 1px solid #c1c1c1;
	outline: 1px solid #4b4b4b;
	width: 46px;
	margin: 0 6px 0 0;
	height: 46px; }

.produ-cat__nav--np {display: none; }

.produ-cat__more {clear: both; position: relative; }
.produ-cat__more {border: solid #bdbdbd; border-width: 1px 0; }
.produ-cat__more > div {
	border: solid #fff;
	border-width: 1px 0;
	background: #ddd;
	height: 84px;
	padding: 9px 0 0; }

.produ-cat__more--thumb {margin: 0; }
.produ-cat__more--thumb li {
	list-style: none;
	float: left;
	width: 65px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	margin: 0 3px 0 0; }

.produ-cat__more--thumb a {list-style: none; display: block; }

.produ-cat__more--nav li {
	position: absolute;
	top: 26px;
	left: 6px;
	list-style: none; }

.produ-cat__more--nav a {background: url(../img/base/prev-product.png); width: 46px; height: 46px; }
.produ-cat__more--nav li + li {left: auto; right: 0; }
.produ-cat__more--nav li + li a {background: url(../img/base/next-product.png); width: 46px; height: 46px; }






/*------------------------------------------------------------------------*\
=Product List
\*------------------------------------------------------------------------*/
.pd-list {
	position: relative;
	background: #fff;
	border-left: 1px solid #bdbdbd;
	width: 759px; }

.pd-list__content {
	text-align: center;
	font: 10px/1.2em 'Times New Roman';
	margin: 0;
	padding: 0;
	overflow: hidden; }

.pd-list__content li {
	position: relative;
	float: left;
	list-style: none;
	width: 150px;
	margin: 0 18px;
	height: 195px; }

.pd-list__content h2 {font: 10px/1.2em 'Times New Roman'; margin: 0; }
.pd-list__content a {color: #2e2017; }
.pd-list__content p {margin: 0; line-height: 1; }
.pd-list__content .thumb {height: 133px; line-height: 133px; margin: 0 0 13px; }
.pd-list__content .arrival {
	position: absolute;
	top: 125px;
	left: 50%;
	margin: 0 0 0 -23px; }

.pd-list__nav--np li {
	position: absolute;
	top: 50%;
	left: 2px;
	margin-top: -25px; }

.pd-list__nav--np a {width: 22px; height: 40px; background: url(../img/base/pd-list-prev.png); }
.pd-list__nav--np li + li {left: auto; right: 2px; }
.pd-list__nav--np li + li a {background: url(../img/base/pd-list-next.png); }

.pd-list__nav--page {padding: 0; text-align: center; }

.pd-list__nav--page .prev,
.pd-list__nav--page .next {width: 22px; height: 22px; background: url(../img/base/pd-list-next-p.png); }

.pd-list__nav--page .prev {background: url(../img/base/pd-list-prev-p.png); }

.pd-list__nav--page li {
	list-style: none;
	display: inline-block;
	margin: 0 3px;
	vertical-align: middle; }

.pd-list__nav--page a {font: 14px /22px 'Times New Roman'; color: #c4c0bd; }






/*------------------------------------------------------------------------*\
=Detail content
\*------------------------------------------------------------------------*/
.font-lang-en {font-family: 'Times new roman'; }
.font-lang-th {font-family: 'th_sarabunpskregular'; }

.main-content-960 {
    width: 960px;
    margin: auto;
}

/* header */
.header-content {
    background: #666565;
    height: 174px;
    display: table;
    width: 100%;
    margin: 20px 0 25px;
}
.header-content h1 {
    background: #f4f3f3;
    margin: 0;
    text-align: center;
    width: 370px;
    padding: 15px 10px;
    display: table-cell;
    font: 48px/146px 'Times New Roman';
}
.header-content h1 span {
    display: block;
    border: 1px solid #000;
    height: 146px;
}

.header-content h1 span span {
    line-height: 48px;
    height: auto;
    margin: 21px 0 0;
    border: 0;
}
.header-content__left {
    display: table-cell;
    background: #fff;
    vertical-align: middle;
    padding: 0 15px 0 28px;
    border-bottom: 11px solid #666565;
}
.header-content__left h2 {margin: 0; }
.header-content__left p {margin: 0; }

/* Header about us */

.header-content__about-us {
    font-family: 'Times New Roman';
}
.header-content__about-us h2 {
    font-size: 30px;
    font-weight: normal;
}
.header-content__about-us p {
    font-size: 20px;
}
.header-content__about-us strong {
    font-size: 24px;
}
/* content detail */

.site-detail-content {
    background: #f4f3f3;
}
/* about us */

.content-about-us {
    padding: 14px 11px 23px;
    font: 24px/27px'th_sarabunpskregular';
}
.content-about-us figure {
    margin: 0 0 22px;
}
.content-about-us img {
    max-width: 100%;
}
.content-about-us p {
    margin: 0 14px;
}
.content-about-us p + p {
    margin: 31px 14px 0;
}
.content-about-us .font-lang-en {
    font-size: 16px;
}
/* faq */

.header-content__faq {
    font-family: 'Times new roman';
}
.header-content__faq h2 {
    font-size: 18px;
    margin: 0;
}
.header-content__faq .font-lang-th {
    font-size: 20px;
}
.header-content__faq p {
    margin: 0;
    line-height: 22px;
    line-height: 22px;
}

/* content faq */
.content-faq {
    font: 20px/27px'th_sarabunpskregular';
    padding: 1px 0 50px;
    color: #2e2017;
}
.content-faq dl {background: #e6e5e5; margin: 15px; padding: 0; max-height: 715px; overflow-y: auto; }
.content-faq dt {
    padding: 12px 0 0 48px;
    font-weight: bold;
    margin: 0;
    border-top: 1px solid #fff;
    background: url(../img/base/faq-q.png) 8px 12px no-repeat;
}
.content-faq dt:first-child {border: none; }
.content-faq dd {
    margin: 0 0 12px;
    padding: 0 0 0 74px;
    background: url(../img/base/faq-a.png) 34px top no-repeat;
}

.content-faq ol,
.content-faq ul {margin: 0; padding: 0 0 0 20px; list-style: none; }

.content-faq p {margin: 0 0 20px; }
.content-faq li {margin: 0 0 20px; }

/* contact us */
.content-contact-us {
    background: #fff;
    height: 550px; }

.content-contact-us div {
    padding: 30px 0 30px 475px;
    background: url(../img/banner/contact.png) top left no-repeat #e6e5e5;
}

.content-contact-us h1 {font: bold 24px 'Times new roman'; margin: 0; }
.content-contact-us p {margin: 0 0 50px; }
.content-contact-us label {float: left; clear: left; width: 155px; font: bold 18px/26px 'Times new roman'; }
.content-contact-us .font-lang-th {font-size: 20px; font-weight: normal; }

.content-contact-us textarea,
.content-contact-us input {
    height: 24px;
    line-height: 24px;
    background: url(../img/base/bg-input.png) top repeat-x #eee;
    width: 220px;
    border: 1px solid #aaa;
    margin: 0 0 10px; }

.content-contact-us input[type="file"] {
    border: 0;
    background: none;
    font-size: 14px;
    border-radius: 5px; }

.content-contact-us textarea {height: 80px; line-height: 22px; }
.content-contact-us button {
    display: block; margin: 0 0 0 155px;
    background: #c44ea4;
    color: #fff;
    border: 0;
    font: 20px/20px'Arundina Serif';
    height: 20px; }

/* catalog */
.content-catalog {overflow: hidden; padding: 40px 0 0; }

.content-catalog ul,
.content-catalog ol {padding: 0; margin: 0; }

.content-catalog li {
    list-style: none;
    position: relative;
    width: 211px;
    float: left;
    margin: 0 14px 80px;
}
.content-catalog figure {margin: 0; }
.content-catalog .status {
    position: absolute;
    top: 304px;
    left: 0;
    background: #c44ea4;
    font-size: 23px;
    height: 20px;
    line-height: 22px;
    color: #fff;
    width: 66px;
    text-align: center;
    text-transform: uppercase;
}
.content-catalog h1 {font-size: 30px; margin: 40px 0 0; line-height: 22px; }
.content-catalog p {font-size: 16px; margin: 0; font-weight: bold; line-height: 13px; }
.content-catalog li ul {margin: 4px 0 0; }
.content-catalog li li {display: inline; margin: 0; float: none; }
.content-catalog a {color: #c44ea4; }

/* visit store*/
.content-visit-store {
    position: relative;
    background: #f4f3f3;
    padding: 71px 59px 145px;
}

.content-visit-store__list {
    overflow: hidden;
    background: #fff;
    padding: 5px 0 1px 5px;
    margin: 0;
}
.content-visit-store__list li {
    float: left;
    width: 204px;
    height: 204px;
    border: 1px solid #e6e6e6;
    margin: 0 5px 5px 0;
    overflow: hidden;
}

.content-visit-store ul {list-style: none; }

.content-visit-store__nav li {
    position: absolute;
    top: 50%;
    margin-top: -46px;
    left: -14px;
    background: url(../img/base/prev-product.png);
    width: 46px;
    height: 46px;
}

.content-visit-store__nav li + li {
    left: auto;
    right: -14px;
    background: url(../img/base/next-product.png);
}
.content-visit-store__nav li a {width: 100%; height: 100%; }

/* service */
.header-content__service {font: 24px/28px 'Arundina Serif'; }

.content-service {
    padding: 0 15px 150px;
}

.content-service article {
    border-bottom: 1px solid #c44ea4;
    font: bold 20px/28px 'Arundina Serif';
    overflow: hidden;
    padding: 23px 0 23px 0;
    display: table;
}

.content-service ul {
    padding: 0 0 0 15px;
    list-style: none;
}

.content-service figure {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    width: 378px;
    text-align: center;
}

.content-service div {display: table-cell; vertical-align: top; padding: 0 0 0 28px; }

.content-service h1 {
    font-size: 24px;
    line-height: 21px;
    margin: 0 0 2px;
}

.content-service p {
    margin: 0;
    line-height: 24px;
}
.content-service ul {margin: 0; }

.content-service p + p,
.content-service ul + p {margin-top: 23px; }

/* location */
.header-content__location h1 {font: 24px/1.2em 'Times new roman'; margin: 0; color: #2e2017; }
.header-content__location p {font-size: 24px; line-height: 24px; }
.header-content__location address {font: normal bold 24px/24px 'Arundina Serif'; color: #2e2017; }

.content-location {padding: 17px 12px 50px; color: #2e2017; }

.content-location article {
    border-bottom: 1px solid #c44ea4;
    margin: 0 0 16px;
    position: relative;
    overflow: hidden;
}

.content-location figure {
    float: left;
    width: 272px;
    height: 180px;
    overflow: hidden;
    margin: 0 88px 0 0;
}

.content-location div {
    overflow: hidden;
}

.content-location h1 {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
}

.content-location p {
    margin: 0;
}

.content-location address {
    font: normal bold 20px/24px 'Arundina Serif';
}

.content-location a {
    position: absolute;
    bottom: 0;
    left: 292px;
    padding: 0 10px 0 3px;
    height: 20px;
    font-size: 20px;
    color: #fff;
    background: #c44ea4;
}

.content-location a:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color:  transparent transparent #c44ea4 transparent;
    border-width: 0 0 20px 20px;
    position: absolute;
    top: 0;
    left: -20px;
}

.light-box-map {color: #2e2017; padding: 0 14px; height: 640px; }
.light-box-map h1 {margin: 12px 0 5px; font-size: 24px; font-weight: normal; color: #c44ea4; line-height: 24px; }
.light-box-map h2 {margin: 0 0 2px; font-size: 24px; line-height: 24px; }
.light-box-map p {margin: 0; font-size: 20px; font-weight: bold; line-height: 20px; }
.light-box-map figure {margin: 0 0 16px; }


/* member */
.header-content__member p {
    font-size: 24px;
}

.content-member {
    font: 24px/28px 'th_sarabunpskregular';
    background: url(../img/banner/member.jpg) top left no-repeat #fff;
    padding: 40px 0 280px 433px;
}

.content-member .font-lang-en {
    font-size: 16px;
}

.content-member h1.font-lang-en {
    font-size: 24px;
}

.content-member h2.font-lang-en {
    font-size: 18px;
}
.content-member h1 {
    margin: 0 0 4px;
}
.content-member h2 {
    margin: 0 0 3px;
    font-weight: normal;
}
.content-member p {
    margin: 0 0 13px;
}

.content-member ul {
    margin: 0 0 32px;
    padding: 0 0 0 52px;
}

.content-member li {
    margin: 0;
    font-size: 16px;
    padding: 0 0 0 20px;
}
.content-member li span {
    margin: 0;
    font-size: 24px;
    vertical-align: middle;
}
.content-member .font-lang-en li {
    font-size: 14px;
}
.content-member .font-lang-en li span {
    font-size: 16px;
}





/*------------------------------------------------------------------------*\
=Promotion list
\*------------------------------------------------------------------------*/
.content-center {
    background-color: #fff;
    margin-top: -120px;
    margin-bottom: 10px; }

.detail-header-promotion {display: none; }
.detail-header-promotion h2 {font-size: 30px; font-weight: normal; margin: 0 0 13px; }
.detail-header-promotion p {font-size: 30px; font-weight: normal; }


.promotion-list {padding: 44px 0 9px 65px; }
.promotion-list .item-promotion-list {float: left; margin: 0 17px; width: 188px; max-width: 188px; }
.promotion-list .item-promotion-list + article + article + article + article {margin-top: 64px; }
.promotion-list .item-promotion-list:nth-child(4n+1) {clear: left; }

.item-promotion-list a {color: #2e2017; }
.item-promotion-list figure {
    width: 188px;
    height: 188px;
    line-height: 184px;
    margin: 0 0 11px;
    border: 2px solid #666565; 
    text-align: center; }

.item-promotion-list .twin {border: 0; line-height: normal; }
.item-promotion-list img {max-width: 100%; }

.item-promotion-list ol,
.item-promotion-list ul {list-style: none; margin: 0; padding: 0; font-weight: bold; margin: 0 0 13px; }

.item-promotion-list p {margin: 0; font-size: 18px; line-height: 15px; }
.item-promotion-list li {line-height: 14px; }
.item-promotion-list div {padding: 0 0 0 8px; }
.item-promotion-list h1 {margin: 0 0 10px; font-size: 18px; line-height: 15px; }
.item-promotion-list header p {color: #f0c; font-size: 24px; margin: 0 0 14px; }
.item-promotion-list strong {color: #f0c; }





















/* font */
/* th_sarabunpskregular */