<!--SiXhEaD:CSS-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>$TITLE_WEBSITE</title>
    
    <!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
    <!-- End JQuery UI CSS Framework -->
	
    <!-- Styles specific for current page -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
     <!-- END Specific Styles -->
    
    <!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
    <!-- END General Styles -->
    
    <!-- Current Theme styles. These are changed via theme switcher -->	
	<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
	<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
	<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
	<!-- END Current Theme styles -->



<!--/SiXhEaD:CSS-->
<script type="text/javascript"><!--
function VF_form_search(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,k,required,true,errMsg,กรุณาระบุคำค้นหา-->
<!--end_of_saved_settings-->
	var theForm = document.form_search;
	var errMsg = "";
	var setfocus = "";

	if (theForm['k'].value == ""){
		errMsg = "กรุณาระบุคำค้นหา";
		setfocus = "['k']";
	}
	if (errMsg != ""){
		
		
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");		
		
	}
	else theForm.submit();
}

function page_delete(id) {   


		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการลบอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="window.location.href=\'del.php?p=$p&id='+id+'\';">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );
}

//-->
</script>
<!--
              <div style="margin:10px 15px 20px 10px; text-align:right;">
                              <form action="index.php" method="get" name="form_search" id="form_search" onsubmit="VF_form_search();return false;">
                                <p>
                                  <input name="t" type="hidden" id="t" value="$t" />
                                  ค้นหาตำแหน่งงาน 
                                  <input name="k" type="text" id="k" style="width:280px; height:25px;" value="$k" maxlength="100"/>
  <a href="javascript:VF_form_search();" id="add-page" class="submit button large ui-corner-all">ค้นหา</a></p>
                </form>
</div>
-->
              <div style="margin:10px 15px 20px 10px; text-align:right;">
                	<a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">เพิ่มตำแหน่งงาน</a>
                	<!-- <a href="repic.php?t=$t" id="add-page" class="submit button large ui-corner-all">Gen รูปใหม่</a> -->
                </div>
              <table class="list-table">
            	<thead>
  <tr >
    <th width="4%" style="text-align:center;">ID</th>
    <th colspan="2" >ตำแหน่งงาน</th>
    <th style="text-align:center;">แสดง<br />
      หน้า List</th>
    <th colspan="4" style="text-align:center;">การแก้ไข</th>
  </tr>
</thead>
                <tbody>
<!--SiXhEaD:MEMBER_LIST-->	  
		<!--SUB:1-->	  
  <tr>
    <td rowspan="3" style="text-align:center;">$ID.</td>
    <td colspan="2" ><p><span class="bold">$content_question</span><br/>
    <span class="bold">$content_location</span><br/>
    จำนวน <span class="bold">$content_num</span> ตำแหน่ง<br/>
    </p>
    </td>
    <td rowspan="3" align="center" ><span style="text-align:center;"><a href="set_status.php?id=$ID&amp;t=content&amp;p=$p" class="nopad">$STATUS</a></span></td>
    <td rowspan="3" align="center" ><a href="$UP_LINK_HTML" class="up-record">Up</a></td>
    <td rowspan="3" align="center" ><a href="$DOWN_LINK_HTML" class="down-record">Down</a></td>
    <td rowspan="3" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
    <td rowspan="3" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">Create</td>
    <td style="font-size:9px;padding:5px;"><span class="bold">$C_USERNAME</span> $C_TIME</td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">Update</td>
    <td style="font-size:9px;padding:5px;"><span class="bold">$L_USERNAME</span> $L_TIME</td>
    </tr>

		<!--/SUB:1-->
		<!--SUB:2-->	  
  <tr>
    <td rowspan="3" style="text-align:center;">$ID.</td>
    <td colspan="2" ><p><span class="bold">$content_question</span><br/>
      <span class="bold">$content_location</span><br/>
      จำนวน <span class="bold">$content_num</span> ตำแหน่ง<br/>
    </p></td>
    <td rowspan="3" align="center" ><span style="text-align:center;"><a href="set_status.php?id=$ID&amp;t=content&amp;p=$p" class="nopad">$STATUS</a></span></td>
    <td rowspan="3" align="center" ><a href="$UP_LINK_HTML" class="up-record">Up</a></td>
    <td rowspan="3" align="center" ><a href="$DOWN_LINK_HTML" class="down-record">Down</a></td>
    <td rowspan="3" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
    <td rowspan="3" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">Create</td>
    <td width="50%" style="font-size:9px;padding:5px;"><span class="bold">$C_USERNAME</span> $C_TIME</td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">Update</td>
    <td style="font-size:9px;padding:5px;"><span class="bold">$L_USERNAME</span> $L_TIME</td>
    </tr>
		<!--/SUB:2-->
<!--/SiXhEaD:MEMBER_LIST-->	  
                </tbody>
</table>
              <div id="pagination"> $pagelink </div>
              