<!--SiXhEaD:CSS-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>$TITLE_WEBSITE</title>
    
    <!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
    <!-- End JQuery UI CSS Framework -->
	
    <!-- Styles specific for current page -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
     <!-- END Specific Styles -->
    
    <!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
    <!-- END General Styles -->
    
    <!-- Current Theme styles. These are changed via theme switcher -->	
	<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
	<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
	<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
	<!-- END Current Theme styles -->



<!--/SiXhEaD:CSS-->
<script type="text/javascript">
function page_delete(id) {   


		$( "#dialog-message").dialog('option', 'title', 'Alert');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>Please confrim delete.</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="window.location.href=\'register_del.php?id='+id+'\';">Confirm</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>Cancel</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );
}
</script>

              <table class="list-table">
            	<thead>
  <tr >
    <th width="4%" style="text-align:center;">ID</th>
    <th >Position</th>
    <th >Name</th>
    <th style="text-align:center;">Tel</th>
    <th style="text-align:center;">Email</th>
    <th style="text-align:center;">Contact Date</th>
    <th style="text-align:center;">Status</th>
    <th width="9%" style="text-align:center;">Action</th>

  </tr>
</thead>
                <tbody>
<!--SiXhEaD:MEMBER_LIST-->	  
		<!--SUB:1-->	  
  <tr>
    <td style="text-align:center;">$ID.</td>
    <td align="" >$position_name</td>
    <td ><a href="register_detail.php?id=$ID" class="nopad"><span class="bold">$contact_name</span></a></td>
    <td align="center" >$tel</td>
    <td align="center" >$email</td>
    <td width="19%" align="center" >$adddate</td>
    <td width="19%" align="center" >$status</td>
    <td align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>

    </tr>

		<!--/SUB:1-->
		<!--SUB:2-->	  
  <tr>
    <td style="text-align:center;">$ID.</td>
    <td align="" >$position_name</td>
    <td ><a href="register_detail.php?id=$ID" class="nopad"><span class="bold">$contact_name</span></a></td>
    <td align="center" >$tel</td>
    <td align="center" >$email</td>
    <td width="19%" align="center" >$adddate</td>
    <td width="19%" align="center" >$status</td>
    <td align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>

    </tr>

		<!--/SUB:2-->
<!--/SiXhEaD:MEMBER_LIST-->	  
                </tbody>
</table>
              <div id="pagination"> $pagelink </div>
              