<!--SiXhEaD:CSS-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>$TITLE_WEBSITE</title>
    
    <!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
    <!-- End JQuery UI CSS Framework -->
	
    <!-- Styles specific for current page -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
     <!-- END Specific Styles -->
    
    <!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
    <!-- END General Styles -->
    
    <!-- Current Theme styles. These are changed via theme switcher -->	
	<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/globals.css" />
	<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/commons.css" />
	<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/plugins.css" />
	<!-- END Current Theme styles -->



<!--/SiXhEaD:CSS-->

<form action="index.php" method="post" name="change_password" id="change_password" onsubmit="VF_change_password();return false;">

<!--SiXhEaD:PASSWORD_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	Setting : Setting complete.<br/>
            <br/></div><br/>
<!--/SiXhEaD:PASSWORD_SUCCESS-->

<!--SiXhEaD:PASSWORD_ERROR--><br/>
            <div class="status error width600"><br/>
            	Setting : Error please check again.<br/>
           <br/> </div><br/>
<!--/SiXhEaD:PASSWORD_ERROR-->

<!--SiXhEaD:PASSWORD_INFO--><br/>
            <div class="status info width600"><br/>
            	Setting : Please enter information. <br/>
           <br/> </div><br/>
<!--/SiXhEaD:PASSWORD_INFO-->

<!--SiXhEaD:PASSWORD_FORM-->


<div style="margin:10px 15px 20px 10px; text-align:right;">
                	<a href="$EDIT_LINK_HTML" id="add-page" class="submit button large ui-corner-all">Edit</a>
                </div>

  <!-- JQuery UI Tabs -->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-website">Website</a></li>
                        <li><a href="#tabs-contact">Contact</a></li>       
                        <li><a href="#tabs-social">Social Network</a></li>       
                    </ul>
                    <div id="tabs-website">

    <div class="form-left">
      <label for="ig_username">Title : <span class="required">*</span></label>
    </div>
    <div class="form-right">
        $WEBSITE_TITLE</div>

    <div class="form-left">
      <label for="ig_password">Description : <span class="required">*</span></label>
    </div>
    <div class="form-right">
        $WEBSITE_DESCRIPTION</div>
    <div class="form-left">
      <label for="ig_userid">Keyword : <span class="required">*</span></label>
    </div>
    <div class="form-right">
        $WEBSITE_KEYWORD</div>
    <div class="form-left">
      <label for="ig_token">Image : <span class="required">*</span></label>
    </div>
    <div class="form-right"><img src="../../_files/images/thumb/$WEBSITE_IMAGE" /></div>
			<div class="clear"></div>
				    </div>
                   <div id="tabs-contact">



    <div class="form-left">
      <label for="ig_username">Name : <span class="required">*</span></label>
    </div>
    <div class="form-right">
     $WEBSITE_NAME</div>

    <div class="form-left">
      <label for="ig_username">Address : <span class="required">*</span></label>
    </div>
    <div class="form-right">
     $WEBSITE_ADDRESS</div>
    <div class="form-left">
      <label for="ig_username">Email : <span class="required">*</span></label>
    </div>
    <div class="form-right">
     $WEBSITE_EMAIL</div>


    <div class="form-left">
      <label for="ig_username">Tel : <span class="required">*</span></label>
    </div>
    <div class="form-right">
     $WEBSITE_TEL</div>


<div class="clear"></div>                        
                    </div>

                   <div id="tabs-social">

    <div class="form-left">
      <label for="ig_username">Facebook : <span class="required">*</span></label>
    </div>
    <div class="form-right">
     $WEBSITE_FACEBOOK</div>

    <div class="form-left">
      <label for="ig_username">Youtube : <span class="required">*</span></label>
    </div>
    <div class="form-right">
     $WEBSITE_YOUTUBE</div>

    <div class="form-left">
      <label for="ig_username">Instagram : <span class="required">*</span></label>
    </div>
    <div class="form-right">
     $WEBSITE_INSTAGRAM</div>
     
    <div class="form-left">
      <label for="ig_username">Twitter : <span class="required">*</span></label>
    </div>
    <div class="form-right">
     $WEBSITE_TWITTER</div>     

    <div class="form-left">
      <label for="ig_username">Pinterest : <span class="required">*</span></label>
    </div>
    <div class="form-right">
     $WEBSITE_PINTEREST</div>     	 

<div class="clear"></div>                        
                    </div>


				</div>
  <!--/SiXhEaD:PASSWORD_FORM-->                
</form>
