<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script language="Javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,textarea,name,website_keyword,required,true,errMsg,กรุณาระบุ Keyword-->
<!--type,textarea,name,website_description,required,true,errMsg,กรุณาระบุ Description-->
<!--type,text,name,website_title,required,true,errMsg,กรุณาระบุ Title.-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var errMsg = "";
	var setfocus = "";

	if (theForm['website_keyword'].value == ""){
		errMsg = "กรุณาระบุ Keyword";
		setfocus = "['website_keyword']";
	}
	if (theForm['website_description'].value == ""){
		errMsg = "กรุณาระบุ Description";
		setfocus = "['website_description']";
	}
	if (theForm['website_title'].value == ""){
		errMsg = "กรุณาระบุ Title\.";
		setfocus = "['website_title']";
	}
	if (errMsg != ""){
		alert(errMsg);
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>
<form action="setting_edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;">

<!--SiXhEaD:PASSWORD_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	Setting : Setting complete.<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "index.php";}, 2000);
			</script>
<!--/SiXhEaD:PASSWORD_SUCCESS-->

<!--SiXhEaD:PASSWORD_ERROR--><br/>
            <div class="status error width600"><br/>
            	Setting : Error please check again.<br/>
           <br/> </div><br/>
<!--/SiXhEaD:PASSWORD_ERROR-->

<!--SiXhEaD:PASSWORD_INFO--><br/>
            <div class="status info width600"><br/>
            	Setting : Please enter information. <br/>
           <br/> </div><br/>
<!--/SiXhEaD:PASSWORD_INFO-->

<!--SiXhEaD:PASSWORD_FORM--><!-- JQuery UI Tabs -->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-website">Website</a></li>
                        <li><a href="#tabs-contact">Contact</a></li>
                        <li><a href="#tabs-social">Social Network</a></li>
                    </ul>
                    <div id="tabs-website">

    <div class="form-left">
      <label for="website_title">Title : <span class="required">*</span></label>
    </div>
    <div class="form-right">
	<input name="website_title" type="text" class="width360"  id="website_title" value="$website_title" size="20" maxlength="200" />
   	</div>

    <div class="form-left">
      <label for="ig_password">Description : <span class="required">*</span></label>
    </div>
    <div class="form-right">
      <textarea name="website_description" cols="20" class="width360" id="website_description">$website_description</textarea>
   	</div>
    <div class="form-left">
      <label for="ig_userid">Keyword : <span class="required">*</span></label>
    </div>
    <div class="form-right">
      <textarea name="website_keyword" cols="20" class="width360" id="website_keyword">$website_keyword</textarea>        
   	</div>
    <div class="form-left">
      <label for="website_image">Image : <span class="required">*</span></label>
    </div>
    <div class="form-right">
	<img src="../../_files/images/thumb/$website_image" style="padding-bottom:10px;" /><br />
	<input name="website_image" type="file" style="width360"  id="website_image" value="" size="20" maxlength="100" />
	<input name="pictemp" type="hidden" id="pictemp" value="$pictemp" />
   	</div>

						<div class="clear"></div>
				    </div>
                   <div id="tabs-contact">
          
    <div class="form-left">
      <label for="website_name">Name : <span class="required">*</span></label>
    </div>
    <div class="form-right">
      <input name="website_name" type="text" class="width360" id="website_name" value="$website_name" size="20" />
   	</div>    



    <div class="form-left">
      <label for="website_address">Address : <span class="required">*</span></label>
    </div>
    <div class="form-right">
      <textarea name="website_address" cols="20" class="width360" id="website_address">$website_address</textarea>
   	</div>    


    <div class="form-left">
      <label for="website_email">Email : <span class="required">*</span></label>
    </div>
    <div class="form-right">
	<input name="website_email" type="text" class="width360"  id="website_email" value="$website_email" size="20" maxlength="200" />
   	</div>    

    <div class="form-left">
      <label for="website_tel">Tel : <span class="required">*</span></label>
    </div>
    <div class="form-right">
	<input name="website_tel" type="text" class="width360"  id="website_tel" value="$website_tel" size="20" maxlength="200" />
   	</div>   

<div class="clear"></div>                        
                  </div> 

                   <div id="tabs-social">
    <div class="form-left">
      <label for="website_facebook">Facebook : <span class="required">*</span></label>
    </div>
    <div class="form-right">
	<input name="website_facebook" type="text" class="width360"  id="website_facebook" value="$website_facebook" size="20" maxlength="200" />
   	</div>             

    <div class="form-left">
      <label for="website_youtube">Youtube : <span class="required">*</span></label>
    </div>
    <div class="form-right">
	<input name="website_youtube" type="text" class="width360"  id="website_youtube" value="$website_youtube" size="20" maxlength="200" />
   	</div>       

    <div class="form-left">
      <label for="website_instagram">Instagram : <span class="required">*</span></label>
    </div>
    <div class="form-right">
	<input name="website_instagram" type="text" class="width360"  id="website_instagram" value="$website_instagram" size="20" maxlength="200" />
   	</div>      
    
    <div class="form-left">
      <label for="website_twitter">twitter : <span class="required">*</span></label>
    </div>
    <div class="form-right">
	<input name="website_twitter" type="text" class="width360"  id="website_twitter" value="$website_twitter" size="20" maxlength="200" />
   	</div>        
    
    <div class="form-left">
      <label for="website_pinterest">Pinterest : <span class="required">*</span></label>
    </div>
    <div class="form-right">
	<input name="website_pinterest" type="text" class="width360"  id="website_pinterest" value="$website_pinterest" size="20" maxlength="200" />
   	</div>       




<div class="clear"></div>                        
                  </div> 				  


				</div>
                

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">Save</a> 
</div>

 <input name="action" type="hidden" id="action" value="edit" />
                
  <!--/SiXhEaD:PASSWORD_FORM-->                
</form>
