<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="/ableadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="/ableadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/ableadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="/ableadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="/ableadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="/ableadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="/ableadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="/ableadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="/ableadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="/ableadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="/ableadmin/ckeditor/ckeditor.js"></script>
<script language="Javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,catalog_code,required,true,errMsg,please enter code.-->
<!--type,text,name,catalog_sub_name,required,true,errMsg,please enter sub category.-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var errMsg = "";
	var setfocus = "";

	if (theForm['catalog_code'].value == ""){
		errMsg = "please enter code\.";
		setfocus = "['catalog_code']";
	}
	if (theForm['catalog_sub_name'].value == ""){
		errMsg = "please enter sub category\.";
		setfocus = "['catalog_sub_name']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>

<form action="catalog_sub_add.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	เพิ่ม Sub Category : เพิ่ม Sub Categoryเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "catalog_sub.php?cid=$cid";}, 1000);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	เพิ่ม Sub Category : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-product">ข้อมูล Sub Category</a></li>
                    </ul>
                    <div id="tabs-product">

<p class="padding10">ชื่อ Sub Category<br/>
<input name="catalog_sub_name" type="text" id="catalog_sub_name" value="$catalog_sub_name" size="80" maxlength="100" />
</p>

<p class="padding10">Code<br/>
  <textarea name="catalog_code" cols="80" rows="4" id="catalog_code">$catalog_code</textarea>
</p>


<div class="clear"></div>
</div>

  </div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">เพิ่มหัวข้อ</a> 
</div>

<input name="action" type="hidden" id="action" value="add" />

<!--/SiXhEaD:STAFF_FORM-->




<input name="cid" type="hidden" id="cid" value="$cid" />
</form>
