<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="/chicadmin/ckeditor/ckeditor.js"></script>
<script language="Javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,textarea,name,catalog_detail,required,true,errMsg,กรุณาระบุรายละเอียด-->
<!--type,text,name,catalog_name,required,true,errMsg,ระบุหัวข้อ-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var errMsg = "";
	var setfocus = "";

	if (theForm['catalog_detail'].value == ""){
		errMsg = "กรุณาระบุรายละเอียด";
		setfocus = "['catalog_detail']";
	}
	if (theForm['catalog_name'].value == ""){
		errMsg = "ระบุหัวข้อ";
		setfocus = "['catalog_name']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>

<form action="catalog_edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	แก้ไขหัวข้อเนื้อหา : แก้ไขหัวข้อเนื้อหาเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "catalog.php";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	แก้ไขหัวข้อเนื้อหา : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-product">ข้อมูลหัวข้อเนื้อหา</a></li>
                    </ul>
                    <div id="tabs-product">

<p class="padding10">รูปขนาด 260 x 104 ชนิด jpg, png (ระบบ Resize รูปให้อัตโนมัติ) <br/>
<img src="../../_files/images/thumb/$pictemp" />
<br />
<input name="pic" type="file" class="width240" id="pic"  size="20" />
<input name="pictemp" type="hidden" id="pictemp" value="$pictemp" />
</p>
<p class="padding10">ชื่อหัวข้อเนื้อหา<br/>
<input name="catalog_name" type="text" id="catalog_name" value="$catalog_name" size="80" maxlength="100"  style="width:400px;" />
</p>
<p class="padding10">เนื้อหารายละเอียด<br/>
  <textarea name="catalog_detail" cols="80" id="catalog_detail" style="width:400px; height:100px;">$catalog_detail</textarea>
</p>
<div class="clear"></div>
</div>
           
	</div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">แก้ไขหัวข้อเนื้อหา</a> 
</div>

<input name="action" type="hidden" id="action" value="edit" />

<!--/SiXhEaD:STAFF_FORM-->




<input name="id" type="hidden" id="id" value="$id" />
</form>
