<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="$BASEURL/chicadmin/ckeditor/ckeditor.js"></script>
<script language="Javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,select,name,product_style,isDefault,errMsg,กรุณาระบุ Style-->
<!--type,select,name,product_category,isDefault,errMsg,กรุณาระบุ Category-->
<!--type,file,name,file_import,required,true,errMsg,กรุณาระบุ file ที่ import-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var sFlg_product_style = false;
	var sFlg_product_category = false;
	var errMsg = "";
	var setfocus = "";

	for(var s2=0;s2<theForm['product_style'].length;s2++){if(theForm['product_style'].options[s2].selected){if(theForm['product_style'].options[s2].text==theForm['product_style'].options[0].text)sFlg_product_style=true;}}
	for(var s1=0;s1<theForm['product_category'].length;s1++){if(theForm['product_category'].options[s1].selected){if(theForm['product_category'].options[s1].text==theForm['product_category'].options[0].text)sFlg_product_category=true;}}

	if (sFlg_product_style){
		errMsg = "กรุณาระบุ Style";
		setfocus = "['product_style']";
	}
	if (sFlg_product_category){
		errMsg = "กรุณาระบุ Category";
		setfocus = "['product_category']";
	}
	if (theForm['file_import'].value == ""){
		errMsg = "กรุณาระบุ file ที่ import";
		setfocus = "['file_import']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>

<form action="import.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	นำเข้าข้อมูล : นำเข้าข้อมูลเรียบร้อยแล้ว<br/>
                เพิ่มข้อมูลใหม่ $product_insert รายการ <br/>
                update ข้อมูลเดิม $product_update รายการ <br/>  
				ระบบกำลัง Import รูปเข้าฐานข้อมูลกรุณารอซักครู่ <br/> 
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "import_image.php?t=$t&c=$c";}, 3000);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	นำเข้าข้อมูล : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-news">ข้อมูล</a></li>
                    </ul>
                    <div id="tabs-news">
<p class="padding10">file text ที่ใช้ import เข้ามา (ดู format file <a href="example_import.txt" target="_blank">คลิกที่นี่</a>)<br/>
<input type="file" name="file_import" id="file_import" />
</p>
<!--
<p class="padding10">รูปปกสินค้า 2 470px × 300px (resize ให้อัตโนมัติ)<br/>
  <input type="file" name="product_cover2" id="product_cover2" />
</p>
<p class="padding10">รูปปกสินค้า 3 470px × 300px (resize ให้อัตโนมัติ)<br/>
  <input type="file" name="product_cover3" id="product_cover3" />
</p>
<p class="padding10">รูปปกสินค้า 4 470px × 300px (resize ให้อัตโนมัติ)<br/>
  <input type="file" name="product_cover4" id="product_cover4" />
</p>
<p class="padding10">รูปปกสินค้า 5 470px × 300px (resize ให้อัตโนมัติ)<br/>
  <input type="file" name="product_cover5" id="product_cover5" />
</p>
-->
<p class="padding10">ตั้งให้อยู่ใน Category<br/>
  <select name="product_category" id="product_category">
    
$PRODUCT_CATEGORY_HTML
  
  </select>
</p>
<p class="padding10">ตั้งให้อยู่ใน Style<br/>
  <select name="product_style" id="product_style">
    
$PRODUCT_STYLE_HTML
  
  </select>
</p>
<p class="padding10">
  <input name="product_status" type="checkbox" id="product_status" value="Y" checked="checked" />
แสดงผล</p>
<p class="padding10">ถ้าพบว่ามีข้อมูลเก่าอยู่แล้ว<br />
  <input name="dup_data" type="radio" id="radio" value="update" checked="checked" />
  update ข้อมูลสินค้าตามข้อมูลที่ import เข้าไป
  <br />
  <input type="radio" name="dup_data" id="radio2" value="no_update" />
ไม่ update ใช้ข้อมูลสินค้าเก่า</p>
<p class="padding10">รูปสินค้า<br/>
ใช้ FTP Upload รูปเข้ามาที่ _files/product/import โดยตั้งชื่อรูปเป็น chic code .jpg เช่น RCK002-BRBR-SI1SI1-0.jpg <br />
chmod 777 ด้วยเพื่อให้เขียนและลบ file ได้</p>
<div class="clear"></div>
</div>
    </div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">นำเข้าข้อมูล</a> 
</div>

<input name="action" type="hidden" id="action" value="import" />
<input name="t" type="hidden" id="t" value="$t" />

<!--/SiXhEaD:STAFF_FORM-->




</form>
