<!--SiXhEaD:CSS-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>$TITLE_WEBSITE</title>
    
    <!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
    <!-- End JQuery UI CSS Framework -->
	
    <!-- Styles specific for current page -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
     <!-- END Specific Styles -->
    
    <!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
    <!-- END General Styles -->
    
    <!-- Current Theme styles. These are changed via theme switcher -->	
	<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
	<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
	<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
	<!-- END Current Theme styles -->



<!--/SiXhEaD:CSS-->
<script type="text/javascript"><!--
function VF_form(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,k,required,true,errMsg,กรุณาระบุคำค้นหา-->
<!--end_of_saved_settings-->
	var theForm = document.form;
	var errMsg = "";
	var setfocus = "";

	if (theForm['k'].value == ""){
		errMsg = "กรุณาระบุคำค้นหา";
		setfocus = "['k']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}

function page_delete(id) {   


		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการลบอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="window.location.href=\'del.php?t=$t&c=$c&id='+id+'\';">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );
}
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}


//-->
</script>


                 <form action="index.php" method="get" name="form" id="form" onsubmit="VF_form();return false;">            <div style="margin:10px 15px 20px 10px; text-align:right; width:95%">
              <div style="display:block; float:left; width:60%; text-align:left; height:50px;">
  ดูตาม Category
                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)">
                    $PRODUCT_CATEGORY_HTML
                  </select>
 
 ดูตาม Style
                  <select name="jumpMenu" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)">
                    $PRODUCT_STYLE_HTML
                  </select>
                
              </div>
              <div style="display:block;float:left; width:40%; text-align:right; height:50px;"><a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">เพิ่มรายการ</a> <a href="$IMPORT_LINK_HTML" id="add-page" class="submit button large ui-corner-all">นำเข้าข้อมูล</a>
               	<a href="repic.php?t=$t" id="add-page" class="submit button large ui-corner-all">Gen รูปใหม่</a></div>              
                
                                <p class="clear"></p>                	
                </div> 
<div style="margin:10px 15px 20px 10px; text-align:right;width:95%;height:40px;">
<div style="display:block; float:left; width:50%; text-align:left; height:50px;">
             สินค้าในฐานข้อมูล <a href="index.php?c=$c&amp;s=$s&amp;t=$t" class="linkblue">$product_all</a> รายการ เฉพาะที่มีรูปสินค้า <a href="index.php?c=$c&amp;s=$s&amp;t=$t&amp;view=pic" class="linkblue">$product_pic</a> รายการ</div>
<div style="display:block; float:left; width:50%; text-align:right; height:50px;">             
ระบุ keyword ค้นหา ชื่อสินค้า , chic code
  <input name="k" type="text" id="k" value="$k" size="40" maxlength="20" />
<a href="javascript:VF_form();" id="add-page" class="submit button large ui-corner-all">ค้นหา</a>
</div>
</div>                
                
                </form>
                                <p class="clear"></p>                       
<div style="margin:10px 15px 20px 10px; text-align:right;width:95%;height:40px;">
    <div style="display:block; float:left; width:38%; text-align:left; height:40px;">
แสดงผล
                  <select name="jumpMenu3" id="jumpMenu3" onchange="MM_jumpMenu('parent',this,0)">
                    <option value="index.php?t=$t&c=$c&s=$s&k=$k&view=$view&pp=10"  style="padding:3px;padding-left:10px;" $pp10 >10</option>
                    <option value="index.php?t=$t&c=$c&s=$s&k=$k&view=$view&pp=20"  style="padding:3px;padding-left:10px;" $pp20 >20</option>
                    <option value="index.php?t=$t&c=$c&s=$s&k=$k&view=$view&pp=50"  style="padding:3px;padding-left:10px;" $pp50 >50</option>
                    <option value="index.php?t=$t&c=$c&s=$s&k=$k&view=$view&pp=100" style="padding:3px;padding-left:10px;" $pp100 >100</option>
                    <option value="index.php?t=$t&c=$c&s=$s&k=$k&view=$view&pp=200"  style="padding:3px;padding-left:10px;" $pp200 >200</option>
                  </select>
                  รายการต่อ 1 หน้า    
    
  </div>                 
    <div style="display:block; float:right; width:60%; text-align:right; height:40px;" id="pagination">
                      $pagelink 
    </div>
</div>
   <p class="clear"></p>                   
                 <table class="list-table">
            	<thead>
  <tr >
    <th width="5%" style="text-align:center;">ID</th>
    <th width="60" style="text-align:center;">รูป</th>
    <th colspan="2" >ชื่อ</th>
    <th width="50" style="text-align:center;">สถานะ<br /></th>
    <th colspan="2" style="text-align:center;">การแก้ไข</th>
  </tr>
</thead>
                <tbody>
<!--SiXhEaD:MEMBER_LIST-->	  
		<!--SUB:1-->	  
  <tr>
    <td rowspan="4" style="text-align:center;">$ID.</td>
    <td rowspan="4" style="text-align:center;">$PRODUCT_IMAGE</td>
    <td colspan="2" ><span class="bold">$PRODUCT_NAME</span></td>
    <td rowspan="4" align="center" ><span style="text-align:center;"><a href="set_status.php?id=$ID&amp;t=$t&amp;c=$c&amp;p=$p" class="nopad">$STATUS</a></span></td>
    <td width="5%" rowspan="4" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
    <td width="5%" rowspan="4" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">Chic Code</td>
    <td style="font-size:9px;padding:5px;">$CHIC_CODE</td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">ราคา</td>
    <td style="font-size:9px;padding:5px;">$PRICE บาท</td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">Update</td>
    <td style="font-size:9px;padding:5px;">$L_TIME</td>
    </tr>

		<!--/SUB:1-->
		<!--SUB:2-->	  
  <tr>
    <td rowspan="4" style="text-align:center;">$ID.</td>
    <td rowspan="4" style="text-align:center;">$PRODUCT_IMAGE</td>
    <td colspan="2" ><span class="bold">$PRODUCT_NAME</span></td>
    <td rowspan="4" align="center" ><span style="text-align:center;"><a href="set_status.php?id=$ID&amp;t=$t&amp;c=$c&amp;p=$p" class="nopad">$STATUS</a></span></td>
    <td width="5%" rowspan="4" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
    <td width="5%" rowspan="4" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">Chic Code</td>
    <td style="font-size:9px;padding:5px;">$CHIC_CODE</td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">ราคา</td>
    <td style="font-size:9px;padding:5px;">$PRICE บาท</td>
    </tr>
  <tr>
    <td style="font-size:9px;padding:5px;">Update</td>
    <td style="font-size:9px;padding:5px;">$L_TIME</td>
    </tr>
		<!--/SUB:2-->
<!--/SiXhEaD:MEMBER_LIST-->	  
                </tbody>
</table>
              <div id="pagination"> $pagelink </div>
              