<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="$BASEURL/chicadmin/ckeditor/ckeditor.js"></script>
<script language="Javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,product_h,required,false,isFloat,errMsg,กรุณาระบุขนาดเป็นตัวเลข-->
<!--type,text,name,product_d,required,false,isFloat,errMsg,กรุณาระบุขนาดเป็นตัวเลข-->
<!--type,text,name,product_w,required,false,isFloat,errMsg,กรุณาระบุขนาดเป็นตัวเลข-->
<!--type,text,name,product_price,required,true,isFloat,errMsg,กรุณาระบุราคาเป็นตัวเลข-->
<!--type,text,name,chic_code,required,true,errMsg,กรุณาระบุ chic code-->
<!--type,text,name,product_name,required,true,errMsg,กรุณาระบุชื่อสินค้า-->
<!--type,file,name,product_cover1,required,true,errMsg,กรุณาระบุรูปปก-->
<!--type,select,name,product_style,isDefault,errMsg,กรุณาระบุ Style-->
<!--type,select,name,product_category,isDefault,errMsg,กรุณาระบุ Category-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var floatRE = /^((\d+(\.\d*)?)|((\d*\.)?\d+))$/;
	var sFlg_product_style = false;
	var sFlg_product_category = false;
	var errMsg = "";
	var setfocus = "";



	if (theForm['product_h'].value != ""){
		if (!floatRE.test(theForm['product_h'].value)){
			errMsg = "กรุณาระบุขนาดเป็นตัวเลข";
			setfocus = "['product_h']";
		}
	}
	if (theForm['product_d'].value != ""){
		if (!floatRE.test(theForm['product_d'].value)){
			errMsg = "กรุณาระบุขนาดเป็นตัวเลข";
			setfocus = "['product_d']";
		}
	}
	if (theForm['product_w'].value != ""){
		if (!floatRE.test(theForm['product_w'].value)){
			errMsg = "กรุณาระบุขนาดเป็นตัวเลข";
			setfocus = "['product_w']";
		}
	}
	if (!floatRE.test(theForm['product_price'].value)){
		errMsg = "กรุณาระบุราคาเป็นตัวเลข";
		setfocus = "['product_price']";
	}
	if (theForm['chic_code'].value == ""){
		errMsg = "กรุณาระบุ chic code";
		setfocus = "['chic_code']";
	}
	if (theForm['product_name'].value == ""){
		errMsg = "กรุณาระบุชื่อสินค้า";
		setfocus = "['product_name']";
	}
	if (theForm['product_cover1'].value == ""){
		errMsg = "กรุณาระบุรูปปก";
		setfocus = "['product_cover1']";
	}
	

	
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>

<form action="add.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	เพิ่มรายการ : เพิ่มสินค้าเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "index.php";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	เพิ่มรายการ : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-news">ข้อมูล</a></li>
                        <li><a href="#tabs-content">รายละเอียด</a></li>
                        <li><a href="#tabs-seo">SEO</a></li>
                    </ul>
                    <div id="tabs-news">      
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><span class="padding10 bold">Category </span><br/>
      
      $PRODUCT_CATEGORY_HTML</td>
    <td valign="top"><span class="padding10 bold">Style</span><br/>
$PRODUCT_STYLE_HTML
</td>
  </tr>
</table><br/><Br/>
<p class="padding10">Status<br />
  <select name="product_status" id="product_status">
    <option value="S" selected="selected">แสดงผลปกติ</option>
    <option value="N">สินค้าใหม่</option>
    <option value="O">out stock</option>
    <option value="H">ซ่อนเอาไว้ก่อน</option>
  </select>
  <br />
</p>
<div class="clear"></div>
</div>
                    <div id="tabs-content">
                      <p class="padding10">รูปปกสินค้า 470px × 300px (resize ให้อัตโนมัติ)<br/>
                        <input type="file" name="product_cover1" id="product_cover1" />
                      </p>
                      <!--
<p class="padding10">รูปปกสินค้า 2 470px × 300px (resize ให้อัตโนมัติ)<br/>
  <input type="file" name="product_cover2" id="product_cover2" />
</p>
<p class="padding10">รูปปกสินค้า 3 470px × 300px (resize ให้อัตโนมัติ)<br/>
  <input type="file" name="product_cover3" id="product_cover3" />
</p>
<p class="padding10">รูปปกสินค้า 4 470px × 300px (resize ให้อัตโนมัติ)<br/>
  <input type="file" name="product_cover4" id="product_cover4" />
</p>
<p class="padding10">รูปปกสินค้า 5 470px × 300px (resize ให้อัตโนมัติ)<br/>
  <input type="file" name="product_cover5" id="product_cover5" />
</p>
-->
                      <p class="padding10">Chic Name<br/>
                        <input name="product_name" type="text" id="product_name" value="$product_name" size="80" maxlength="100" />
                      </p>
                      <p class="padding10">Chic Description<br/>
                        <textarea name="product_description" cols="80" rows="8" id="product_description">$product_description</textarea>
                      </p>
                      <p class="padding10">Chic Code<br />
                        <input name="chic_code" type="text" id="chic_code" value="$chic_code" size="50" maxlength="50" />
                      </p>
                      <p class="padding10">Barcode<br/>
                        <input name="product_barcode" type="text" id="product_barcode" value="$product_barcode" size="50" maxlength="50" />
                      </p>
                      <p class="padding10">Price<br />
                        <input name="product_price" type="text" id="product_price" value="$product_price" size="20" maxlength="6" />
                        บาท </p>
                      <p class="padding10">Material<br/>
                        <input name="product_material" type="text" id="product_material" value="$product_material" size="80" maxlength="100" />
                      </p>
<p class="padding10">Color<br/>
  <input name="product_color" type="text" id="product_color" value="$product_color" size="80" maxlength="100" />
</p>
<p class="padding10">Product size<br/>
  W
    <input name="product_w" type="text" id="product_w" value="$product_w" size="6" maxlength="6" />
    D
    <input name="product_d" type="text" id="product_d" value="$product_d" size="6" maxlength="6" />
  <span class="padding10">H
  <input name="product_h" type="text" id="product_h" value="$product_h" size="6" maxlength="6" />
  </span></p>
<p class="padding10">Remark<br />
  <textarea name="product_remark" cols="80" rows="8" id="product_remark">$product_remark</textarea>
  <br />
  <br />
</p>
<div class="clear"></div>
                    </div>
                  

                  <div id="tabs-seo">

					<div class="form-left">
                              <label for="seo_title">SEO Title : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            <input name="seo_title" type="text" style="width:400px;" id="seo_title" value="$seo_title" size="80" maxlength="100" />
                            </div>
                            
                            <div class="form-left">
                              <label for="seo_discription">SEO Description : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              <textarea name="seo_description" cols="80" rows="4" style="width:600px; height:120px;" id="seo_description">$seo_description</textarea>
                            </div>    
                        
                            <div class="form-left">
                              <label for="seo_keyword">SEO Keyword : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              <textarea name="seo_keyword" cols="80" rows="4" style="width:600px; height:120px;" id="seo_keyword">$seo_keyword</textarea>
                            </div>        
                            <div class="form-left">
                              <label for="seo_image">SEO Image : <span class="required">*</span></label>
                            </div>
                      <div class="form-right">
						<input type="file" name="seo_image" id="seo_image" />

						<br />
						- รูปขนาด 400 x 400 ชนิด jpg,png<br />
					  - ระบบ Resize รูปให้อัตโนมัติ </div>          
       
                            
                            <div class="clear"></div>    
                  </div>
	</div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">เพิ่มเนื้อหา</a> 
</div>

<input name="action" type="hidden" id="action" value="add" />
<input name="t" type="hidden" id="t" value="$t" />

<!--/SiXhEaD:STAFF_FORM-->




</form>
