<!--SiXhEaD:CSS-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>$TITLE_WEBSITE</title>
    
    <!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="/ableadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
    <!-- End JQuery UI CSS Framework -->
	
    <!-- Styles specific for current page -->
    <link rel="stylesheet" type="text/css" href="/ableadmin/js/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" type="text/css" href="/ableadmin/js/markitup/sets/html/style.css" />
    <link rel="stylesheet" type="text/css" href="/ableadmin/js/jqplot/jquery.jqplot.css" />
     <!-- END Specific Styles -->
    
    <!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="/ableadmin/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="/ableadmin/css/commons.css" />
    <link rel="stylesheet" type="text/css" href="/ableadmin/css/plugins.css" />
    <!-- END General Styles -->
    
    <!-- Current Theme styles. These are changed via theme switcher -->	
	<link rel="stylesheet" id="active-theme-globals" type="text/css" href="/ableadmin/themes/clean-grey/css/globals.css" />
	<link rel="stylesheet" id="active-theme-commons" type="text/css" href="/ableadmin/themes/clean-grey/css/commons.css" />
	<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="/ableadmin/themes/clean-grey/css/plugins.css" />
	<!-- END Current Theme styles -->



<!--/SiXhEaD:CSS-->
<script type="text/javascript">
function page_delete(id) {   


		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการลบอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="window.location.href=\'catalog_sub_del.php?id='+id+'\';">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );
}

</script>  <form name="form" id="form">

              <div style="margin:10px 15px 20px 10px; text-align:right;">
                	<a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">เพิ่มหัวข้อ</a>
                </div>
  </form>                
              <table class="list-table">
            	<thead>
  <tr >
    <th width="5%" style="text-align:center;">ID</th>
    <th width="20%" >Sub Category</th>
    <th >Code</th>
    <th colspan="4" style="text-align:center;">การแก้ไข</th>
    </tr>
</thead>
                <tbody>
<!--SiXhEaD:MEMBER_LIST-->	  
		<!--SUB:1-->	  
  <tr>
    <td style="text-align:center;">$i.</td>
    <td ><span class="bold">$catalog_sub_name</span>
    </td>
    <td ><span class="bold">$catalog_code</span></td>
    <td width="9%" align="center" ><a href="$UP_LINK_HTML" class="up-record">ย้ายขึ้น</a></td>
    <td width="9%" align="center" ><a href="$DOWN_LINK_HTML" class="down-record">ย้ายลง</a></td>
    <td width="9%" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">แก้ไข</a></td>
    <td width="9%" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">ลบ</a></td>
    </tr>

		<!--/SUB:1-->
		<!--SUB:2-->	  
  <tr>
    <td style="text-align:center;">$i.</td>
    <td ><span class="bold">$catalog_sub_name</span></td>
    <td ><span class="bold">$catalog_code</span></td>
    <td width="9%" align="center" ><a href="$UP_LINK_HTML" class="up-record">ย้ายขึ้น</a></td>
    <td width="9%" align="center" ><a href="$DOWN_LINK_HTML" class="down-record">ย้ายลง</a></td>
    <td width="9%" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">แก้ไข</a></td>
    <td width="9%" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">ลบ</a></td>
    </tr>

		<!--/SUB:2-->
<!--/SiXhEaD:MEMBER_LIST-->	  
                </tbody>
</table>
              <div id="pagination"> $pagelink </div>
              