@charset "utf-8";

.mobile{
	display: none;
}
.desktop{
	display: block;
}

/*======== Common ========*/
.clear {
	clear:both;
}

.cf:before, .cf:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
	
.cf:after {
	clear: both;
}

.retype {
	display:block;
	text-indent:-9999px;
	text-align:left;
}

/*!======== Intro ========*/
.ebook-wrapper{
	width: 900px;
	height: 700px;
	background: #fff;
	padding: 80px 0 0 0;
}
#intro-content{
	width: 890px;
	height: 475px;
	margin:35px auto 0;
	overflow: hidden;
	position: relative;
	z-index: 0;
}
.intro-image{
	
}
.slide-content{
	background: no-repeat center center;
	width: 100%;
	height: 450px;
	
}
#promotion-container{
	width: 400px;
	height: 400px;
	background: #43525A;
	opacity: 0.9;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	margin: 0 auto;
	z-index: 10;
}
#promotion-container>h3{
	color: #fff;
	font-size: 40px;
	text-align: center;
	position: absolute;
	top:180px;
	width: 400px;
}
#intro-logo{
	padding-top: 3px;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
}
#intro-logo>a{
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-weight: bold;
}
#intro-logo>a>span{
	display: block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	background: url('images/share/logo-beyond-intro.png') no-repeat center center;
}



/*!======== swiper ========*/ 
.swiper-container {
  width: 100%;
  height: 475px;
  color: #fff;
  text-align: center;
}
.pagination {
  position: absolute;
  z-index: 20;
  left: 50%;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #ccc;
}

.swiper-slide a{
	-webkit-user-select: none;                
	-webkit-touch-callout: none;              
	-webkit-tap-highlight-color: transparent;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swiper-slide a img{
	position: absolute;
	left: 50%;
	margin-left: -445px;
}




/*!======== main-navigation ========*/ 
#side-menu{
	width: 215px;
	margin-top: 100px;
	float: left;
	margin-left: 35px;
	margin-right: 15px;
}

#main-navigation{
	margin-top: 10px;
	
	border-top: 1px solid #a1a8ac;

}
#main-navigation>ul{
	border-bottom: 1px solid #a1a8ac;
}
#main-navigation>ul>li{
	height: 50px;
	display: block;
	position: relative;
	overflow: hidden;
	margin-left: 10px;
}
#main-navigation>ul>li>a{
	line-height: 50px;
	font-size: 12px;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-weight: bold;
}
#main-navigation>ul>li>a:hover{
	color: #00B5E2;
}

#openmenu-btn{
	display: none;
}

#content-wrapper{
	float: left;
	width: 900px;
	height: 700px;

}
#content-wrapper .col-main{
	height: 280px;
	width: 768px;
	float: left;
	margin-right: 15px;
	position: relative;
	overflow: hidden;
	opacity: 0;
	margin-bottom: 20px;
}
.col-main img{
	position: absolute;
}


/*
.col-main1 .main-img-over,
.col-main2 .main-img-over,
.col-main3 .main-img-over,
.col-main4 .main-img-over,
.col-main5 .main-img-over,
.col-main6 .main-img-over{
top: -10%;
}

.main-img1,
.main-img2,
.main-img3,
.main-img4,
.main-img5,
.main-img6{
	top: -10%;
}
*/


/*
.main-img6{
	left: 10px;
	top: 30px;
}
*/



/*!======== before ========*/
#before-content{
	position: relative;
	overflow: hidden;
	width: 695px;
	height: 580px;
}
#before-text{
	color: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top:45px;
	z-index: 100;
	width: 400px;
	padding: 10px;
	background: rgba(0,0,0,0.2);
}
#before-text p{
	margin-bottom: 20px;
}
#before-text strong{
	font-weight: bold;
	font-size: 16px;
}
#before-bg{
	position: absolute;
	top:0;
	left: 0;
	z-index: 0;
}



.gallery-wrapper{
	
	/*overflow: hidden;*/
}
#gallery-content{
	position: relative;
	width: 850px !important;
	height: 580px !important;
	margin: 55px auto;
}
.bb-bookblock {
	width: 796px !important;
	height: 551px !important;
}

.back-page-shadow,
.next-page-shadow{
	position: absolute;
	width: 50%;
	height: 100%;
	top:0;
	left: 0;
	z-index: 800;
	/*background: #f00;
	opacity: 0.5;*/
	box-shadow: 0px 5px 8px rgba(0 ,0 ,0 ,.5);
	 -moz-box-shadow: 0px 5px 8px rgba(0 ,0 ,0 ,.5);
	-webkit-box-shadow: 0px 5px 8px rgba(0 ,0 ,0 ,.5);
}
.next-page-shadow{
	left: auto;
	right: 0;
}
.back-page-btn,
.next-page-btn,
.zoom-btn{
	position: absolute;
	width: 15%;
	height: 100%;
	top:0;
	left: 0;
	z-index: 1000;
	/*background: #f00;
	opacity: 0.5;*/
	cursor: w-resize;
}
.next-page-btn{
	left: auto;
	right: 0;
	cursor: e-resize;
}
.zoom-btn{
	z-index: 900;
	width: 100%;
	cursor: -webkit-zoom-in;
}




h1.head-page{
	font-size: 30px;
	color: #ccc;
	font-family: 'Libre Baskerville', serif;
	margin: 40px auto;
	font-style: italic;
}
.zoom{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: #fff;
	display: none;
}
.zoom .close-btn{
	right: 10px;
	top:10px;
	font-family: 'Libre Baskerville', serif;
	position: absolute;
	background: #a1a8ac;
	color: #fff;
	/*border: 1px solid #ccc;*/
	display: inline-block;
	z-index: 10001;
	padding: 6px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-style: italic;
}
.zoom .close-btn:hover{
	background: #00B5E2;
}

.zoom {
	display:inline-block;
	position: relative;
}

.zoom img {
	display: block;
}

.zoom img::selection { background-color: transparent; }

.zoom-wrapper{
	position: absolute;
	z-index: 90000;
	width: 796px;
	height: 551px;
}
.zoom-wrapper img{
	width: 796px;
	height: 551px;


}
.zoomLens,.zoomContainer{
	z-index: 90001;
}
#gallery-content{
	margin-top: 25px;
}
.bb-custom-icon{
	display:block;
	background:#becad4;
	padding: 10px 10px;
	color: #fff;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-weight: bold;
	width: 100px;
	text-align: center;
}
.bb-nav-wrapper{
	margin-top: 10px;
}
.bb-custom-icon-arrow-right{
	float: right;
}



