/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(../../../../../js/markitup/sets/html/images/h1.png); 
}
.markItUp .markItUpButton2 a {
	background-image:url(../../../../../js/markitup/sets/html/images/h2.png); 
}
.markItUp .markItUpButton3 a {
	background-image:url(../../../../../js/markitup/sets/html/images/h3.png); 
}


.markItUp .markItUpButton4 a {
	background-image:url(../../../../../js/markitup/sets/html/images/paragraph.png); 
}

.markItUp .markItUpButton5 a {
	background-image:url(../../../../../js/markitup/sets/html/images/bold.png);
}
.markItUp .markItUpButton6 a {
	background-image:url(../../../../../js/markitup/sets/html/images/italic.png);
}
.markItUp .markItUpButton7 a {
	background-image:url(../../../../../js/markitup/sets/html/images/stroke.png);
}

.markItUp .markItUpButton8 a {
	background-image:url(../../../../../js/markitup/sets/html/images/list-bullet.png);
}
.markItUp .markItUpButton9 a {
	background-image:url(../../../../../js/markitup/sets/html/images/list-numeric.png);
}
.markItUp .markItUpButton10 a {
	background-image:url(../../../../../js/markitup/sets/html/images/list-item.png);
}

.markItUp .markItUpButton11 a {
	background-image:url(../../../../../js/markitup/sets/html/images/picture.png); 
}
.markItUp .markItUpButton12 a {
	background-image:url(../../../../../js/markitup/sets/html/images/link.png);
}

.markItUp .clean a {
	background-image:url(../../../../../js/markitup/sets/html/images/clean.png);
}
.markItUp .preview a {
	background-image:url(../../../../../js/markitup/sets/html/images/preview.png);
}