<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$WEBSITE_NAME</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="/css/globals.css" />
<link rel="stylesheet" type="text/css" href="/css/commons.css" />
<link rel="stylesheet" type="text/css" href="/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script language="Javascript"><!--
function VF_form_member_add(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,keyword_blog,required,true,errMsg,กรุณาระบุชื่อ Keyword-->
<!--end_of_saved_settings-->
	var theForm = document.form_member_add;
	var errMsg = "";
	var setfocus = "";

	if (theForm['keyword_blog'].value == ""){
		errMsg = "กรุณาระบุชื่อ Keyword";
		setfocus = "['keyword_blog']";
	}
	if (errMsg != ""){
		alert(errMsg);
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>
<form action="keyword_edit.php" method="post" name="form_member_add" id="form_member_add" onsubmit="VF_form_member_add();return false;">


<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	แก้ไข Tag : ระบบได้แก้ไข Tag เรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "keyword.php";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_ERROR--><br/>
            <div class="status error width600"><br/>
            	แก้ไข Tag : ชื่อ Tag ซ้ำในระบบกรุณาตรวจสอบข้อมูลอีกครั้ง<br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_ERROR-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	แก้ไข Tag : กรุณาระบุข้อมูลกลุ่มให้ครบถ้วน<br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->

<!--SiXhEaD:STAFF_FORM-->

<div class="form-left">
	<label for="keyword_blog">ชื่อ Tag : <span class="required">*</span></label>
</div>
<div class="form-right">
	<input name="keyword_blog" type="text" class="width240"  id="keyword_blog" value="$tag_name" size="20" maxlength="100" />
</div>




<div class="clear" style="text-align:right; width:450px; padding-top:30px;">
    	<a href="javascript:VF_form_member_add();" class="submit button large ui-corner-all">แก้ไข Tag</a> 
</div>
 <input name="action" type="hidden" id="action" value="edit" />


<!--/SiXhEaD:STAFF_FORM-->

<input name="id" type="hidden" id="id" value="$id" />
</form>
