<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$WEBSITE_NAME</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="/css/globals.css" />
<link rel="stylesheet" type="text/css" href="/css/commons.css" />
<link rel="stylesheet" type="text/css" href="/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script language="Javascript"><!--
function VF_form_member_add(){ //v2.0
<!--start_of_saved_settings-->
<!--type,file,name,file,required,true,errMsg,กรุณาระบุ File นำเข้า-->
<!--end_of_saved_settings-->
	var theForm = document.form_member_add;
	var errMsg = "";
	var setfocus = "";

	if (theForm['file'].value == ""){
		errMsg = "กรุณาระบุ File นำเข้า";
		setfocus = "['file']";
	}
	if (errMsg != ""){
		alert(errMsg);
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>

<form action="keyword_import.php" method="post" enctype="multipart/form-data" name="form_member_add" id="form_member_add" onsubmit="VF_form_member_add();return false;">

<!--SiXhEaD:KEYWORD_IMPORT_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	นำเข้ากลุ่ม : ระบบได้นำเข้ากลุ่ม เรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "keyword.php";}, 500);
			</script>
<!--/SiXhEaD:KEYWORD_IMPORT_SUCCESS-->

<!--SiXhEaD:KEYWORD_IMPORT_ERROR--><br/>
            <div class="status error width600"><br/>
            	นำเข้ากลุ่ม : ผิดพลาดกรุณาตรวจสอบข้อมูลอีกครั้ง<br/>
           <br/> </div><br/>
<!--/SiXhEaD:KEYWORD_IMPORT_ERROR-->

<!--SiXhEaD:KEYWORD_IMPORT_INFO--><br/>
            <div class="status info width600"><br/>
            	นำเข้ากลุ่ม : กรุณาระบุข้อมูลกลุ่มให้ครบถ้วน<br/>
           <br/> </div><br/>
<!--/SiXhEaD:KEYWORD_IMPORT_INFO-->

<!--SiXhEaD:KEYWORD_IMPORT_FORM-->
<div class="clear" style="text-align:left; width:550px; padding-top:30px;padding-left:50px;"><img src="keyword.jpg" width="407" height="295" style="margin-bottom:10px;" /><Br/>

  <p class="bold">รูปแบบไฟล์ TXT</p>
  <ul>
    <li>- ระบุข้อมูลเรียงลำดับดังนี้ ชื่อกลุ่ม</li>
    <li>- กำหนดให้บรรทัดละหนึ่งรายการเท่านั้น</li>
    <li>- Download ตัวอย่าง Text File ได้ <a href="keyword.txt" class="link-text-record">ที่นี่</a></li>
  </ul>
</div>



<div class="form-left">
	<label for="file">ระบุ File นำเข้า : <span class="required">*</span></label>
</div>
<div class="form-right">
	<input name="file" type="file" class="normal" id="file" />
</div>
<div class="clear" style="text-align:right; width:470px; padding-top:30px;">
    	<a href="javascript:VF_form_member_add();" class="submit button large ui-corner-all">นำเข้า Tag</a> 
</div>

         <input name="action" type="hidden" id="action" value="add" />
<!--/SiXhEaD:KEYWORD_IMPORT_FORM-->

</form>

