<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="$BASEURL/chicadmin/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
function youtubedel(id) {   
		
		$.post("edit_youtube_del.php", "yt_id="+id+"&id=$id", function(data){
			$("#youtube_block").html(data);
		});

}

function imagedel(id) {   
		
		$.post("edit_image_del.php", "img_id="+id+"&id=$id", function(data){
			$("#image_block").html(data);
		});

}

</script>

<script language="Javascript"><!--
function VF_edit(){ //v2.0

	var theForm = document.change_password;
	var dte_startRE = /^(0[1-9]|[12][0-9]|3[01])\-(0[1-9]|1[012])\-(19|20)\d\d$/;
	var errMsg = "";
	var setfocus = "";

	if (theForm['seo_keyword'].value == ""){
		errMsg = "ระบุ SEO Keyword\.";
		setfocus = "['seo_keyword']";
	}
	if (theForm['seo_description'].value == ""){
		errMsg = "ระบุ SEO Description";
		setfocus = "['seo_description']";
	}
	if (theForm['seo_title'].value == ""){
		errMsg = "ระบุ SEO Title";
		setfocus = "['seo_title']";
	}
	if (theForm['seo_url'].value == ""){
		errMsg = "ระบุ SEO URL";
		setfocus = "['seo_url']";
	}
	if (theForm['content_name'].value == ""){
		errMsg = "กรุณาระบุหัวข้อข่าว";
		setfocus = "['content_name']";
	}
	if (theForm['content_date'].value != ""){
		if (!dte_startRE.test(theForm['content_date'].value)){
			errMsg = "ระบุวันที่ให้ถูกต้อง";
			setfocus = "['content_date']";
		}
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}

//-->
</script>

    <script type="text/javascript">
    <!--
    $(function () {
        $('#content_tag').tagSuggest({
            url: 'tagging.php',
            delay: 250
        });
    });
    //-->
    </script>


<form action="edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_edit();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	แก้ไขข่าว : แก้ไขข่าวเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "index.php?t=$t";}, 2000);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	แก้ไขข่าว : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-news">ข้อมูลข่าว</a></li>
                        <li><a href="#tabs-content">รายละเอียด</a></li>                        
                        <li><a href="#tabs-seo">SEO</a></li>
                    </ul>
                    <div id="tabs-news">
                      <table width="100%" border="0" cellpadding="5" cellspacing="0">
                        <tr>
                          <td colspan="2"><p class="padding10">หัวข้อเนื้อหา<br/>
                            <input name="content_name" type="text" id="content_name" value="$content_name"  maxlength="200" style="width:700px;" />
                          </p></td>
                        </tr>
                        <tr>
                          <td colspan="2"><p class="padding10">รายละเอียดย่อ<br/>
                            <textarea name="content_intro" id="content_intro" style="width:700px; height:120px;">$content_intro</textarea>
                          </p></td>
                        </tr>
                        <tr>
                          <td colspan="2"><p class="padding10">Tag ข้อมูล<br/>
                            <input name="content_tag" type="text" id="content_tag" value="$tags_insert"  maxlength="200" style="width:700px;" autocomplete="off"  />
                          </p></td>
                        </tr>
                        <tr>
                          <td colspan="2"><p class="padding10"><span class="form-right"><img src="../../_files/images/thumb/$content_folder/$content_cover" style="padding-bottom:10px;" /></span><span class="form-right">
                            <input name="content_cover_temp" id="content_cover_temp" type="hidden" value="$content_cover" />
                          </span><br />
                            รูปปกขนาด 270 x 125 (resize ให้อัตโนมัติ)<br/>
                            <input type="file" name="content_cover" id="content_cover" />
                          </p></td>
                        </tr>
                        <tr>
                          <td colspan="2"><p class="padding10">
                            <input name="content_stick" type="checkbox" id="content_stick" value="Y" $content_homepage_y />
                            แสดงผลหน้าแรก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input name="content_status" type="checkbox" id="content_status" value="Y" $content_status_y />
                            แสดงผลในหน้าเนื้อหา</p></td>
                        </tr>
                        <tr>
                          <td colspan="2"><p class="padding10">
                            <input name="facebook_comment" type="checkbox" id="facebook_comment" value="Y" $facebook_comment_y />
                            ติด Facebook Comment</p></td>
                        </tr>
                        <tr>
                          <td width="50%"><p class="padding10"> วันที่เนื้อหา<br />
                            <input name="content_date" type="text" id="content_date" value="$content_date" class="datepicker" />
                          </p></td>
                          <td><p class="padding10"> วันที่แสดงผล (หากต้องการตั้งเวลา)<br />
                            <input name="display_date" type="text" id="display_date" value="$content_date_show" class="datepicker" />
                            $content_hour_html
:
$content_min_html
                          </p></td>
                        </tr>
                      </table>
                      <div class="clear"></div>
                    </div>
                    
                    
                    <div id="tabs-content">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><p class="padding10">รูปประกอบข่าว1 [IMAGE1] $content_imagecontent1_html<br />
                          <input type="file" name="content_imagecontent1" id="content_imagecontent1" />
                          
                          <br />
                          ข้อความใต้รูป 1<br />
                          <input name="content_imagetext1" type="text" id="content_imagetext1" value="$content_image_text1" size="50" maxlength="100" />
                          <br />
                        </p></td>
                        <td><p class="padding10">รูปประกอบข่าว4 [IMAGE4] $content_imagecontent4_html<br />
                          <input type="file" name="content_imagecontent4" id="content_imagecontent4" />
                          <br />
                          ข้อความใต้รูป 4<br />
                          <input name="content_imagetext4" type="text" id="content_imagetext4" value="$content_image_text4" size="50" maxlength="100" />
                        </p></td>
                      </tr>
                      <tr>
                        <td><p class="padding10">รูปประกอบข่าว2 [IMAGE2] $content_imagecontent2_html<br />
                          <input type="file" name="content_imagecontent2" id="content_imagecontent2" />
                          <br />
                          ข้อความใต้รูป 2<br />
                          <input name="content_imagetext2" type="text" id="content_imagetext2" value="$content_image_text2" size="50" maxlength="100" />
                          <br />
                        </p></td>
                        <td><p class="padding10">รูปประกอบข่าว5 [IMAGE5] $content_imagecontent5_html<br />
                          <input type="file" name="content_imagecontent5" id="content_imagecontent5" />
                          <br />
                          ข้อความใต้รูป 5<br />
                          <input name="content_imagetext5" type="text" id="content_imagetext5" value="$content_image_text5" size="50" maxlength="100" />
                        </p></td>
                      </tr>
                      <tr>
                        <td><p class="padding10">รูปประกอบข่าว3 [IMAGE3] $content_imagecontent3_html<br />
                          <input type="file" name="content_imagecontent3" id="content_imagecontent3" />
                          <br />
                          ข้อความใต้รูป 3<br />
                          <input name="content_imagetext3" type="text" id="content_imagetext3" value="$content_image_text3" size="50" maxlength="100" />
                          <br />
                        </p></td>
                        <td><p class="padding10">รูปประกอบข่าว6 [IMAGE6] $content_imagecontent6_html<br />
                          <input type="file" name="content_imagecontent6" id="content_imagecontent6" />
                          <br />
                          ข้อความใต้รูป 6<br />
                          <input name="content_imagetext6" type="text" id="content_imagetext6" value="$content_image_text6" size="50" maxlength="100" />
                        </p></td>
                      </tr>
                      <tr>
                        <td><span class="padding10">** รูปขนาด 580 × 387 (resize ให้อัตโนมัติ)</span></td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
                    <p class="padding10">&nbsp;</p>
                    
<p class="padding10">เนื้อหา<br/>
** หากต้องการแทรกรูปประกอบใช้ Tag [IMAGE1], [IMAGE2], [IMAGE3], [IMAGE4]<br />
** หากต้องการแทรกรูปประกอบแบบ Gallery ใช้ Tag [GALLERY]<br />
                    <textarea id="content_content" name="content_content" class="ckeditor">$content_content</textarea>

		<script>


			CKEDITOR.replace( 'content_content', {

				// แต่งสี
				uiColor		: '#A8A8A8',

				// ภาษา
				 language	: 'th',
				
				// กว้างยาว 
				height		: 500,
				width		: 800,

				// แก้ html ทั้งหน้า
				//fullPage: true,

				// แต่งปุ่ม 
				toolbar : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
					{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
					{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
					{ name: 'styles', items: [  'Format', 'Font', 'FontSize' ] },
					{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
					{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
					{ name: 'others', items: [ '-' ] },
					{ name: 'about', items: [ 'About' ] }
				],

				// Toolbar groups configuration.
				toolbarGroups : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
					{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
					{ name: 'forms' },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
					{ name: 'links' },
					{ name: 'insert' },
					'/',
					{ name: 'styles' },
					{ name: 'colors' },
					{ name: 'tools' },
					{ name: 'others' },
					{ name: 'about' }
				],


			 filebrowserBrowseUrl : '../ckfinder/ckfinder.html',
			 filebrowserImageBrowseUrl : '../ckfinder/ckfinder.html?Type=Images',
			 filebrowserFlashBrowseUrl : '../ckfinder/ckfinder.html?Type=Flash',
			 filebrowserUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
			 filebrowserImageUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
			 filebrowserFlashUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'

			});

		</script>
                    </p>                    
                 
                    <div class="clear"></div>
                    </div>

                    <div id="tabs-seo">
                            <div class="form-left">
                              <label for="seo_url">SEO URL : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            <input name="seo_url" type="text" style="width:400px;" id="seo_url" value="$seo_url" size="80" maxlength="100" />
                            </div>
                            <div class="form-left">
                              <label for="seo_title">SEO Title : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            <input name="seo_title" type="text" style="width:400px;" id="seo_title" value="$seo_title" size="80" maxlength="100" />
                            </div>
                            
                            <div class="form-left">
                              <label for="seo_discription">SEO Description : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              <textarea name="seo_description" cols="80" rows="4" style="width:600px; height:120px;" id="seo_description">$seo_description</textarea>
                            </div>    
                        
                            <div class="form-left">
                              <label for="seo_keyword">SEO Keyword : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              <textarea name="seo_keyword" cols="80" rows="4" style="width:600px; height:120px;" id="seo_keyword">$seo_keyword</textarea>
                            </div>        
                            <div class="form-left">
                              <label for="seo_image">SEO Image : <span class="required">*</span></label>
                            </div>
                      <div class="form-right">
						<img src="../../_files/images/thumb/$content_folder/$seo_image" style="padding-bottom:10px;" /><br />
						<input type="file" name="seo_image" id="seo_image" />
						<input name="seo_image_temp" id="seo_image_temp" type="hidden" value="$seo_image" />
						<br />
						- รูปขนาด 400 x 400 ชนิด jpg,png<br />
					  - ระบบ Resize รูปให้อัตโนมัติ </div>          
       
                            
                            <div class="clear"></div>    
                  </div>
	</div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_edit();" class="submit button large ui-corner-all">แก้ไขเนื้อหา</a> 
</div>

<input name="action" type="hidden" id="action" value="edit" />

<!--/SiXhEaD:STAFF_FORM-->




<input name="id" type="hidden" id="id" value="$id" />
</form>
