<!--SiXhEaD:CSS-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>$WEBSITE_NAME</title>
    
    <!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
    <!-- End JQuery UI CSS Framework -->
	
    <!-- Styles specific for current page -->
    <link rel="stylesheet" type="text/css" href="/js/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" type="text/css" href="/js/markitup/sets/html/style.css" />
    <link rel="stylesheet" type="text/css" href="/js/jqplot/jquery.jqplot.css" />
     <!-- END Specific Styles -->
    
    <!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="/css/commons.css" />
    <link rel="stylesheet" type="text/css" href="/css/plugins.css" />
    <!-- END General Styles -->
    
    <!-- Current Theme styles. These are changed via theme switcher -->	
	<link rel="stylesheet" id="active-theme-globals" type="text/css" href="/themes/clean-grey/css/globals.css" />
	<link rel="stylesheet" id="active-theme-commons" type="text/css" href="/themes/clean-grey/css/commons.css" />
	<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="/themes/clean-grey/css/plugins.css" />
	<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript">
function keyword_delete(id) {   


		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการลบอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="window.location.href=\'keyword_del.php?id='+id+'\';">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );

}
function keyword_del_group(){


		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการลบอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="document.form_group.submit();">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );

}
</script>


<script type="text/javascript">
	$(document).ready(function() {
		$('#masterOrder').click(function(){
			if($(this).attr('checked') == true){
				$('.order_group').attr('checked','checked');
			}else{		
				$('.order_group').removeAttr('checked');
			}
			$("input, textarea, select, button").uniform();
		});
	});
</script>

              <form id="form_group" name="form_group" method="post" action="keyword_del_group.php">
              <div style="margin:10px 15px 20px 10px; text-align:right;">
              <div style="text-align:left; float:left; display:block; width:200px; height:50px;">
<a href="javascript:keyword_del_group();" id="add-page" class="submit button large ui-corner-all">ลบ Tag ที่เลือก</a>			  
			  </div>
              <div style="text-align:right; float:right; display:block; width:600px;height:50px;">      

                	<a href="keyword_add.php" id="add-page" class="submit button large ui-corner-all">เพิ่ม  Tag</a>&nbsp;&nbsp;&nbsp;<a href="keyword_import.php" id="add-page" class="submit button large ui-corner-all">นำเข้า  Tag</a>
                </div>
                </div> <p class="clear"></p>
<table class="list-table">
            	<thead>
  <tr >
    <th width="5%"  style="text-align:center;"><input type="checkbox" name="master_order" id="masterOrder"></th>  
    <th width="5%"  style="text-align:center;">ID</th>
    <th >ชื่อ</th>
    <th colspan="33" style="text-align:center;">การแก้ไข</th>
  </tr>
</thead>
                <tbody>
<!--SiXhEaD:MEMBER_LIST-->	  
		<!--SUB:1-->	  
  <tr>
    <td align="center" ><input name="group_id[]" type="checkbox"  value="$ID" class="order_group" /></td>  
    <td align="center" >$i.</td>
    <td width="41%" ><span class="bold">$TAG_NAME</span></td>
    <td width="10%" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
    <td width="10%" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
  </tr>

		<!--/SUB:1-->
		<!--SUB:2-->	  
  <tr>
    <td align="center" ><input name="group_id[]" type="checkbox"  value="$ID" class="order_group" /></td>  
    <td align="center" >$i.</td>
    <td width="41%" ><span class="bold">$TAG_NAME</span></td>
    <td width="10%" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
    <td width="10%" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
  </tr>


		<!--/SUB:2-->
<!--/SiXhEaD:MEMBER_LIST-->	  
                </tbody>
</table>
</form><div id="pagination"> $pagelink </div>