<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->


<form action="edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_edit();return false;" >

              <div style="margin:10px 15px 20px 10px; text-align:right;">
                	<a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">แก้ไขข้อมูล</a>
                </div>


                <div id="tabs">
                  <ul>
                        <li><a href="#tabs-news">ข้อมูลข่าว</a></li>
                        <li><a href="#tabs-content">รายละเอียด</a></li>                                         
                    <li><a href="#tabs-seo">SEO</a></li>
                    </ul>
                    <div id="tabs-news">
                      <table width="100%" border="0" cellpadding="5" cellspacing="0">
                        <tr>
                          <td colspan="2"><p class="padding10"><span class="bold">หัวข้อเนื้อหา</span><br/>
                          $content_name</p></td>
                        </tr>
                        <tr>
                          <td colspan="2"><p class="padding10"><span class="bold">รายละเอียดย่อ</span><br/>
$content_intro
                          </p></td>
                        </tr>
                        <tr>
                          <td colspan="2"><p class="padding10"><span class="bold">Tag ข้อมูล</span><br/>
$content_tags_name
                          </p></td>
                        </tr>
                        <tr>
                          <td colspan="2"><p class="padding10"><span class="bold">รูปปกขนาด 270 x 125 (resize ให้อัตโนมัติ)</span><br/>
<img src="../../_files/images/thumb/$content_folder/$content_cover" />
                          </p></td>
                        </tr>
                        <tr>
                          <td colspan="2"><p class="padding10">
                          $content_homepage , $content_status</p></td>
                        </tr>
                        <tr>
                          <td colspan="2"><p class="padding10">
$facebook_comment</p></td>
                        </tr>
                        <tr>
                          <td width="50%"><p class="padding10"><span class="bold">วันที่เนื้อหา</span><br />
$content_date
                          </p></td>
                          <td><p class="padding10"><span class="bold">วันที่แสดงผล (หากต้องการตั้งเวลา)</span><br />
$content_date_show
                          </p></td>
                        </tr>
                      </table>
                      <div class="clear"></div>
</div>

                    <div id="tabs-content">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><p class="padding10">$content_imagecontent1_html<br />
                          $content_image_text1</p>
                          <p class="padding10">$content_imagecontent2_html<br />
$content_image_text2</p>
                          <p class="padding10">$content_imagecontent3_html<br />
$content_image_text3<br />
                        </p></td>
                        <td>
                          <p class="padding10">$content_imagecontent4_html<br />
$content_image_text4<br />
                        </p>
                          <p class="padding10">$content_imagecontent5_html<br />
$content_image_text5<br />
                        </p>
                          <p class="padding10">$content_imagecontent6_html<br />
$content_image_text6<br />
                        </p>                                                
                        
                        </td>
                      </tr>
                    </table><br/>
                    <p class="padding10"><span class="bold">เนื้อหา</span><br/>
                    $content_content
                    </p>
                    <p class="padding10">&nbsp;</p>
                
<div class="clear"></div>
</div>

        
                    <div id="tabs-seo">

                            <div class="form-left">
                              <label for="seo_title">SEO URL : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            $seo_url
                            </div>

                            <div class="form-left">
                              <label for="seo_title">SEO Title : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            $seo_title
                            </div>
                            
                            <div class="form-left">
                              <label for="seo_discription">SEO Description : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                             $seo_description
                            </div>    
                        
                            <div class="form-left">
                              <label for="seo_keyword">SEO Keyword : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              $seo_keyword
                            </div>        
                            <div class="form-left">
                              <label for="seo_image">SEO Image : <span class="required">*</span></label>
                            </div>
                      <div class="form-right">
                        <img src="../../_files/images/thumb/$content_folder/$seo_image" style="padding-bottom:10px;" /></div>          
       
                            
                            <div class="clear"></div>    
                  </div>
	</div>
  <input name="action" type="hidden" id="action" value="edit" />
<input name="id" type="hidden" id="id" value="$id" />






</form>
