<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="$BASEURL/chicadmin/ckeditor/ckeditor.js"></script>
<script language="Javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,file,name,seo_image,required,true,errMsg,ระบุ SEO Image-->
<!--type,textarea,name,seo_keyword,required,true,errMsg,ระบุ SEO Keyword-->
<!--type,textarea,name,seo_description,required,true,errMsg,ระบุ SEO Description-->
<!--type,text,name,seo_title,required,true,errMsg,ระบุ SEO Title-->
<!--type,text,name,seo_url,required,true,errMsg,ระบุ SEO URL-->
<!--type,text,name,display_date,required,true,isDate,DD-MM-YYYY,errMsg,ระบุวันที่แสดงผล-->
<!--type,text,name,content_date,required,true,isDate,DD-MM-YYYY,errMsg,ระบุวันที่เนื้อหา-->
<!--type,file,name,content_cover,required,true,errMsg,ระบุรูปปก-->
<!--type,text,name,content_tag,required,true,errMsg,ระบุ Tag-->
<!--type,textarea,name,content_intro,required,true,errMsg,ระบุรายละเอียดย่อ-->
<!--type,text,name,content_name,required,true,errMsg,ระบุหัวข้อเนื้อหา-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var dte_display_dateRE = /^(0[1-9]|[12][0-9]|3[01])\-(0[1-9]|1[012])\-(19|20)\d\d$/;
	var dte_content_dateRE = /^(0[1-9]|[12][0-9]|3[01])\-(0[1-9]|1[012])\-(19|20)\d\d$/;
	var errMsg = "";
	var setfocus = "";

	if (theForm['seo_image'].value == ""){
		errMsg = "ระบุ SEO Image";
		setfocus = "['seo_image']";
	}
	if (theForm['seo_keyword'].value == ""){
		errMsg = "ระบุ SEO Keyword";
		setfocus = "['seo_keyword']";
	}
	if (theForm['seo_description'].value == ""){
		errMsg = "ระบุ SEO Description";
		setfocus = "['seo_description']";
	}
	if (theForm['seo_title'].value == ""){
		errMsg = "ระบุ SEO Title";
		setfocus = "['seo_title']";
	}
	if (theForm['seo_url'].value == ""){
		errMsg = "ระบุ SEO URL";
		setfocus = "['seo_url']";
	}
	if (!dte_display_dateRE.test(theForm['display_date'].value)){
		errMsg = "ระบุวันที่แสดงผล";
		setfocus = "['display_date']";
	}
	if (!dte_content_dateRE.test(theForm['content_date'].value)){
		errMsg = "ระบุวันที่เนื้อหา";
		setfocus = "['content_date']";
	}
	if (theForm['content_cover'].value == ""){
		errMsg = "ระบุรูปปก";
		setfocus = "['content_cover']";
	}
	if (theForm['content_tag'].value == ""){
		errMsg = "ระบุ Tag";
		setfocus = "['content_tag']";
	}
	if (theForm['content_intro'].value == ""){
		errMsg = "ระบุรายละเอียดย่อ";
		setfocus = "['content_intro']";
	}
	if (theForm['content_name'].value == ""){
		errMsg = "ระบุหัวข้อเนื้อหา";
		setfocus = "['content_name']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}

//-->
</script>

    <script type="text/javascript">
    <!--
    $(function () {
        $('#content_tag').tagSuggest({
            url: 'tagging.php',
            delay: 250
        });
    });
    //-->
    </script>


<form action="add.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;" >

<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	เพิ่มข่าว : เพิ่มข่าวเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "index.php?t=$t";}, 2000);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	เพิ่มข่าว : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-news">ข้อมูลข่าว</a></li>
                        <li><a href="#tabs-content">รายละเอียด</a></li>                        
<!--                        <li><a href="#tabs-image">รูปประกอบ Gallery</a></li>                        
                        <li><a href="#tabs-video">คลิปประกอบ</a></li> -->
                        <li><a href="#tabs-seo">SEO</a></li>
                    </ul>
                    <div id="tabs-news">
<table width="100%" border="0" cellpadding="5" cellspacing="0">
  <tr>
    <td colspan="2"><p class="padding10">หัวข้อเนื้อหา<br/>
      <input name="content_name" type="text" id="content_name" value="$content_name"  maxlength="200" style="width:700px;" />
    </p></td>
    </tr>
  <tr>
    <td colspan="2"><p class="padding10">รายละเอียดย่อ<br/>
      <textarea name="content_intro" id="content_intro" style="width:700px; height:120px;">$content_intro</textarea>
    </p></td>
    </tr>
  <tr>
    <td colspan="2"><p class="padding10">Tag ข้อมูล<br/>
      <input name="content_tag" type="text" id="content_tag" value="$content_tag"  maxlength="200" style="width:700px;" autocomplete="off"  />
    </p></td>
  </tr>
  <tr>
    <td colspan="2"><p class="padding10">รูปปกขนาด 270 x 125 (resize ให้อัตโนมัติ)<br/>
      <input type="file" name="content_cover" id="content_cover" />
    </p></td>
    </tr>
  <tr>
    <td colspan="2"><p class="padding10">
      <input name="content_stick" type="checkbox" id="content_stick" value="Y" checked="checked" />
      แสดงผลหน้าแรก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="content_status" type="checkbox" id="content_status" value="Y" checked="checked" />
      แสดงผลในหน้าเนื้อหา</p></td>
    </tr>
  <tr>
    <td colspan="2"><p class="padding10">
      <input name="facebook_comment" type="checkbox" id="facebook_comment" value="Y" checked="checked" />
      ติด Facebook Comment</p></td>
    </tr>    
  <tr>
    <td width="50%"><p class="padding10"> วันที่เนื้อหา<br />
      <input name="content_date" type="text" id="content_date" value="$content_date" class="datepicker" />
    </p></td>
    <td><p class="padding10"> วันที่แสดงผล (หากต้องการตั้งเวลา)<br />
      <input name="display_date" type="text" id="display_date" value="$display_date" class="datepicker" />
      <select name="hour" id="hour" style="width:70px;">
        <option value="#">เลือก</option>
        <option value="00">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
      </select>
:
<select name="min" id="min" style="width:70px;">
        <option value="#">เลือก</option>
  <option value="00">00</option>
  <option value="05">05</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
  <option value="25">25</option>
  <option value="30">30</option>
  <option value="35">35</option>
  <option value="40">40</option>
  <option value="45">45</option>
  <option value="50">50</option>
  <option value="55">55</option>
</select>
    </p></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<div class="clear"></div>
</div>
                    <div id="tabs-content">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td>                    <p class="padding10">รูปประกอบข่าว1 [IMAGE1]<br />
                      <input type="file" name="content_imagecontent1" id="content_imagecontent1" />
                      <br />
                      ข้อความใต้รูป 1<br />
                      <input type="text" name="content_imagetext1" id="content_imagetext1" size="50" maxlength="100" />
                      <br />
                    </p></td>
                        <td><p class="padding10">รูปประกอบข่าว4 [IMAGE4]<br />
                          <input type="file" name="content_imagecontent4" id="content_imagecontent4" />
                          <br />
                          ข้อความใต้รูป 4<br />
  <input type="text" name="content_imagetext4" id="content_imagetext4" size="50" maxlength="100" />
  <br />
                        </p></td>
                      </tr>
                      <tr>
                        <td>                    <p class="padding10">รูปประกอบข่าว2 [IMAGE2]<br />
                      <input type="file" name="content_imagecontent2" id="content_imagecontent2" />
                      <br />
                      ข้อความใต้รูป 2<br />
                      <input type="text" name="content_imagetext2" id="content_imagetext2" size="50" maxlength="100" />
                      <br />
                    </p></td>
                        <td><p class="padding10">รูปประกอบข่าว5 [IMAGE5]<br />
                          <input type="file" name="content_imagecontent5" id="content_imagecontent5" />
                          <br />
                          ข้อความใต้รูป 5<br />
  <input type="text" name="content_imagetext5" id="content_imagetext5" size="50" maxlength="100" />
  <br />
                        </p></td>
                      </tr>
                      <tr>
                        <td><p class="padding10">รูปประกอบข่าว3 [IMAGE3]<br />
                          <input type="file" name="content_imagecontent3" id="content_imagecontent3" />
                          <br />
                          ข้อความใต้รูป 3<br />
  <input type="text" name="content_imagetext3" id="content_imagetext3" size="50" maxlength="100" />
  <br />
                        </p></td>
                        <td><p class="padding10">รูปประกอบข่าว6 [IMAGE6]<br />
                          <input type="file" name="content_imagecontent6" id="content_imagecontent6" />
                          <br />
                          ข้อความใต้รูป 6<br />
  <input type="text" name="content_imagetext6" id="content_imagetext6" size="50" maxlength="100" />
  <br />
                        </p></td>
                      </tr>
                      <tr>
                        <td><span class="padding10">** รูปขนาด 580 × 387 (resize ให้อัตโนมัติ)</span></td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
<br/>
                    <p class="padding10">เนื้อหา<br/>
                    ** หากต้องการแทรกรูปประกอบใช้ Tag [IMAGE1], [IMAGE2], [IMAGE3], [IMAGE4], [IMAGE5], [IMAGE6]<br />
                    <textarea id="content_content" name="content_content" class="ckeditor">$content_content</textarea>

		<script>


			CKEDITOR.replace( 'content_content', {

				// แต่งสี
				uiColor		: '#A8A8A8',

				// ภาษา
				 language	: 'th',
				
				// กว้างยาว 
				height		: 500,
				width		: 800,

				// แก้ html ทั้งหน้า
				//fullPage: true,

				// แต่งปุ่ม 
				toolbar : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
					{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
					{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
					{ name: 'styles', items: [  'Format', 'Font', 'FontSize' ] },
					{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
					{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
					{ name: 'others', items: [ '-' ] },
					{ name: 'about', items: [ 'About' ] }
				],

				// Toolbar groups configuration.
				toolbarGroups : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
					{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
					{ name: 'forms' },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
					{ name: 'links' },
					{ name: 'insert' },
					'/',
					{ name: 'styles' },
					{ name: 'colors' },
					{ name: 'tools' },
					{ name: 'others' },
					{ name: 'about' }
				],


			 filebrowserBrowseUrl : '../ckfinder/ckfinder.html',
			 filebrowserImageBrowseUrl : '../ckfinder/ckfinder.html?Type=Images',
			 filebrowserFlashBrowseUrl : '../ckfinder/ckfinder.html?Type=Flash',
			 filebrowserUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
			 filebrowserImageUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
			 filebrowserFlashUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'

			});

		</script>
                    </p>
                 
                    <div class="clear"></div>
                    </div>

                    <div id="tabs-seo">
                            <div class="form-left">
                              <label for="seo_url">SEO URL : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            <input name="seo_url" type="text" style="width:400px;" id="seo_url" value="$seo_url" size="80" maxlength="100" />
                            </div>
							<div class="form-left">
                              <label for="seo_title">SEO Title : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                            <input name="seo_title" type="text" style="width:400px;" id="seo_title" value="$seo_title" size="80" maxlength="100" />
                            </div>
                            
                            <div class="form-left">
                              <label for="seo_discription">SEO Description : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              <textarea name="seo_description" cols="80" rows="4" style="width:600px; height:120px;" id="seo_description">$seo_description</textarea>
                            </div>    
                        
                            <div class="form-left">
                              <label for="seo_keyword">SEO Keyword : <span class="required">*</span></label>
                            </div>
                            <div class="form-right">
                              <textarea name="seo_keyword" cols="80" rows="4" style="width:600px; height:120px;" id="seo_keyword">$seo_keyword</textarea>
                            </div>        
                            <div class="form-left">
                              <label for="seo_image">SEO Image : <span class="required">*</span></label>
                            </div>
                      <div class="form-right">
						<input type="file" name="seo_image" id="seo_image" />

						<br />
						- รูปขนาด 400 x 400 ชนิด jpg,png<br />
					  - ระบบ Resize รูปให้อัตโนมัติ </div>          
       
                            
                            <div class="clear"></div>    
                  </div>
	</div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">เพิ่มเนื้อหา</a> 
</div>

<input name="action" type="hidden" id="action" value="add" />
<input name="t" type="hidden" id="t" value="$t" />

<!--/SiXhEaD:STAFF_FORM-->





</form>
