<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="$BASEURL/chicadmin/ckeditor/ckeditor.js"></script>

<script type="text/javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,page_topic,required,true,errMsg,กรุณาระบุหัวข้อ-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var errMsg = "";
	var setfocus = "";

	if (theForm['page_topic'].value == ""){
		errMsg = "กรุณาระบุหัวข้อ";
		setfocus = "['page_topic']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}

function youtubedel(id) {   
		
		$.post("edit_youtube_del.php", "yt_id="+id+"&id=$id", function(data){
			$("#youtube_block").html(data);
		});

}

function imagedel(id) {   
		
		$.post("edit_image_del.php", "img_id="+id+"&id=$id", function(data){
			$("#image_block").html(data);
		});

}


//-->
</script>


<form action="edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;" >



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	แก้ไขเนื้อหา : แก้ไขเนื้อหาเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "index.php";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	แก้ไขเนื้อหา : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->




                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-content">รายละเอียด</a></li>                        
                        <li><a href="#tabs-th">ภาษาไทย</a></li>        
                        <li><a href="#tabs-en">English</a></li>                                                                                                                
                    </ul>
                    <div id="tabs-content">
<p class="padding10">หัวข้อ<br/>
<input name="page_topic" type="text" id="page_topic" value="$page_topic" size="80" maxlength="100" />
</p>
<p class="padding10">รูปปกขนาด 1,229 x 460 (resize ให้อัตโนมัติ)<br /><img src='../../_files/images/full/$page_pic_temp1' width="800" />  <input type="hidden" name="page_pic_temp1" id="page_pic_temp1" value="$page_pic_temp1" />
  <br/>
      <input type="file" name="page_pic1" id="page_pic1" />
    </p>
<p class="padding10">รูป icon ขนาด 81 x 32 (resize ให้อัตโนมัติ)<br />
  <img src='../../_files/images/full/$page_pic_temp2' />
  <input type="hidden" name="page_pic_temp2" id="page_pic_temp2" value="$page_pic_temp2" />
<br />
  <input type="file" name="page_pic2" id="page_pic2" />
</p>
<p class="padding10">รูปหัวข้อขนาด 213 x 100 (resize ให้อัตโนมัติ)<br />
  <img src='../../_files/images/full/$page_pic_temp3' />
  <input type="hidden" name="page_pic_temp3" id="page_pic_temp3" value="$page_pic_temp3" />
<br />
  <input type="file" name="page_pic3" id="page_pic3" />
</p>
<p class="padding10">
  <input name="page_status" type="checkbox" id="page_status" value="Y" $content_status_y />
แสดงผล</p>

                 
                    <div class="clear"></div>
                    </div>

                    <div id="tabs-th">

<p class="padding10">หัวย่อ<br/>
        <textarea id="page_intro_th" name="page_intro_th" class="ckeditor">$page_intro_th</textarea>
		<script>


			CKEDITOR.replace( 'page_intro_th', {

				// แต่งสี
				uiColor		: '#A8A8A8',

				// ภาษา
				 language	: 'th',
				
				// กว้างยาว 
				height		: 200,
				width		: 800,

				// แก้ html ทั้งหน้า
				//fullMenu 1: true,
				allowedContent: true,

				// แต่งปุ่ม 
				toolbar : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
					{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'Menu 1Break', 'Iframe' ] },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
					{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
					{ name: 'styles', items: [  'Format', 'Font', 'FontSize' ] },
					{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
					{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
					{ name: 'others', items: [ '-' ] },
					{ name: 'page', items: [ 'About' ] }
				],

				// Toolbar groups configuration.
				toolbarGroups : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
					{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
					{ name: 'forms' },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
					{ name: 'links' },
					{ name: 'insert' },
					'/',
					{ name: 'styles' },
					{ name: 'colors' },
					{ name: 'tools' },
					{ name: 'others' },
					{ name: 'page' }
				],


			 filebrowserBrowseUrl : '../ckfinder/ckfinder.html',
			 filebrowserImageBrowseUrl : '../ckfinder/ckfinder.html?Type=Images',
			 filebrowserFlashBrowseUrl : '../ckfinder/ckfinder.html?Type=Flash',
			 filebrowserUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
			 filebrowserImageUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
			 filebrowserFlashUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'

			});

		</script>
                    </p>

<p class="padding10">รายละเอียดเต็ม<br/>
        <textarea id="page_content_th" name="page_content_th" class="ckeditor">$page_content_th</textarea>
		<script>


			CKEDITOR.replace( 'page_content_th', {

				// แต่งสี
				uiColor		: '#A8A8A8',

				// ภาษา
				 language	: 'th',
				
				// กว้างยาว 
				height		: 500,
				width		: 800,

				// แก้ html ทั้งหน้า
				//fullMenu 1: true,

				allowedContent: true,

				// แต่งปุ่ม 
				toolbar : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
					{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'Menu 1Break', 'Iframe' ] },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
					{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
					{ name: 'styles', items: [  'Format', 'Font', 'FontSize' ] },
					{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
					{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
					{ name: 'others', items: [ '-' ] },
					{ name: 'page', items: [ 'About' ] }
				],

				// Toolbar groups configuration.
				toolbarGroups : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
					{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
					{ name: 'forms' },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
					{ name: 'links' },
					{ name: 'insert' },
					'/',
					{ name: 'styles' },
					{ name: 'colors' },
					{ name: 'tools' },
					{ name: 'others' },
					{ name: 'page' }
				],


			 filebrowserBrowseUrl : '../ckfinder/ckfinder.html',
			 filebrowserImageBrowseUrl : '../ckfinder/ckfinder.html?Type=Images',
			 filebrowserFlashBrowseUrl : '../ckfinder/ckfinder.html?Type=Flash',
			 filebrowserUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
			 filebrowserImageUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
			 filebrowserFlashUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'

			});

		</script>
                    </p>
                    
<div class="clear"></div>
                  </div>
                    <div id="tabs-en">

<p class="padding10">หัวย่อ<br/>
        <textarea id="page_intro_en" name="page_intro_en" class="ckeditor">$page_intro_en</textarea>
		<script>


			CKEDITOR.replace( 'page_intro_en', {

				// แต่งสี
				uiColor		: '#A8A8A8',

				// ภาษา
				 language	: 'th',
				
				// กว้างยาว 
				height		: 200,
				width		: 800,

				// แก้ html ทั้งหน้า
				//fullMenu 1: true,

				allowedContent: true,

				// แต่งปุ่ม 
				toolbar : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
					{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'Menu 1Break', 'Iframe' ] },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
					{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
					{ name: 'styles', items: [  'Format', 'Font', 'FontSize' ] },
					{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
					{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
					{ name: 'others', items: [ '-' ] },
					{ name: 'page', items: [ 'About' ] }
				],

				// Toolbar groups configuration.
				toolbarGroups : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
					{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
					{ name: 'forms' },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
					{ name: 'links' },
					{ name: 'insert' },
					'/',
					{ name: 'styles' },
					{ name: 'colors' },
					{ name: 'tools' },
					{ name: 'others' },
					{ name: 'page' }
				],


			 filebrowserBrowseUrl : '../ckfinder/ckfinder.html',
			 filebrowserImageBrowseUrl : '../ckfinder/ckfinder.html?Type=Images',
			 filebrowserFlashBrowseUrl : '../ckfinder/ckfinder.html?Type=Flash',
			 filebrowserUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
			 filebrowserImageUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
			 filebrowserFlashUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'

			});

		</script>
                    </p>

<p class="padding10">รายละเอียดเต็ม<br/>
        <textarea id="page_content_en" name="page_content_en" class="ckeditor">$page_content_en</textarea>
		<script>


			CKEDITOR.replace( 'page_content_en', {

				// แต่งสี
				uiColor		: '#A8A8A8',

				// ภาษา
				 language	: 'th',
				
				// กว้างยาว 
				height		: 500,
				width		: 800,

				// แก้ html ทั้งหน้า
				//fullMenu 1: true,

				allowedContent: true,

				// แต่งปุ่ม 
				toolbar : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
					{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'Menu 1Break', 'Iframe' ] },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
					{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
					{ name: 'styles', items: [  'Format', 'Font', 'FontSize' ] },
					{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
					{ name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
					{ name: 'others', items: [ '-' ] },
					{ name: 'page', items: [ 'About' ] }
				],

				// Toolbar groups configuration.
				toolbarGroups : [
					{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
					{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
					{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
					{ name: 'forms' },
					'/',
					{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
					{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
					{ name: 'links' },
					{ name: 'insert' },
					'/',
					{ name: 'styles' },
					{ name: 'colors' },
					{ name: 'tools' },
					{ name: 'others' },
					{ name: 'page' }
				],


			 filebrowserBrowseUrl : '../ckfinder/ckfinder.html',
			 filebrowserImageBrowseUrl : '../ckfinder/ckfinder.html?Type=Images',
			 filebrowserFlashBrowseUrl : '../ckfinder/ckfinder.html?Type=Flash',
			 filebrowserUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
			 filebrowserImageUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
			 filebrowserFlashUploadUrl : '../ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'

			});

		</script>
                    </p>
                    
<div class="clear"></div>
                  </div>                   
	</div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">แก้ไขเนื้อหา</a> 
</div>

<input name="action" type="hidden" id="action" value="edit" />
<input name="id" type="hidden" id="id" value="$id" />
<!--/SiXhEaD:STAFF_FORM-->




</form>