<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script language="Javascript"><!--
function VF_form_member_add(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,link,required,true,errMsg,กรุณาระบุ Link-->
<!--type,textarea,name,banner_intro,required,true,errMsg,กรุณาระบุเนื้อหาย่อ-->
<!--type,text,name,banner_small_text,required,true,errMsg,กรุณาระบุข้อความ 2-->
<!--type,text,name,banner_head_text,required,true,errMsg,กรุณาระบุข้อความ 1-->
<!--end_of_saved_settings-->
	var theForm = document.form_member_add;
	theForm.submit();
}//-->
</script>

<form action="" method="post" enctype="multipart/form-data" name="form_member_add" id="form_member_add" onsubmit="VF_form_member_add();return false;">


<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	Edit Banner : Edit Banner complete.<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "index.php?t=$t";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_ERROR--><br/>
            <div class="status error width600"><br/>
            	Edit Banner : Error please check again.<br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_ERROR-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	Edit Banner : Please insert information.<br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->

<!--SiXhEaD:STAFF_FORM-->

        <div class="form-left">
            <label for="pic">Banner Pic : <span class="required">*</span></label>
        </div>
        <div class="form-right">
          <img src="../../_files/images/thumb/$pic" style="padding-bottom:5px;" /><br />
          <input name="pic" type="file" class="width240" id="pic"  size="20" /><br />
          $TEXT_PIC
        </div>

$BLOCK_PIC11
<div id="divpic">
        <div class="form-left">
            <label for="banner_intro">Message : <span class="required">*</span></label>
        </div>
        <div class="form-right">
          <textarea name="banner_intro" cols="20" class="width240" id="banner_intro">$banner_intro</textarea>
        </div>
        
        <div class="form-left">
            <label for="link">Link : <span class="required">*</span></label>
        </div>
        <div class="form-right">
          <input name="link" type="text" class="width240" id="link" value="$link" size="20" />
        </div>
</div>
$BLOCK_PIC22
$BLOCK_FLASH11
<div id="divflash">
    <div class="form-left">
        <label for="youtube_id">Youtube ID : <span class="required">*</span></label>
    </div>
    <div class="form-right">
<iframe width="400" height="225" src="//www.youtube.com/embed/$youtube_id" frameborder="0" allowfullscreen></iframe>    
      <input name="youtube_id" type="text" class="width240" id="youtube_id" value="$youtube_id" size="20" style="margin-top:10px;" />
    </div>
</div>
$BLOCK_FLASH22

<div class="form-left">
	<label for="link">Display : <span class="required">*</span></label>
</div>
<div class="form-right">
  <input name="banner_status" type="radio" id="radio" value="S" $banner_status_s />
  Display 
  <input type="radio" name="banner_status" id="radio2" value="H"  $banner_status_h />
  Hide</div>

<div class="clear" style="text-align:right; width:450px; padding-top:30px;">
    	<a href="javascript:VF_form_member_add();" class="submit button large ui-corner-all">Edit Banner</a> 
</div>
 <input name="action" type="hidden" id="action" value="edit" />
 <input name="id" type="hidden" id="id" value="$id" />
 <input name="t" type="hidden" id="t" value="$t" />
<!--/SiXhEaD:STAFF_FORM-->

<input name="banner_type" type="hidden" id="banner_type" value="$banner_type" />
<input name="pictemp" type="hidden" id="pictemp" value="$pic" />
<input name="pictemp2" type="hidden" id="pictemp2" value="$pic2" />
<input name="banner_type" type="hidden" id="banner_type" value="pic" />
</form>