<!--SiXhEaD:CSS-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>$TITLE_WEBSITE</title>
    
    <!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
    <!-- End JQuery UI CSS Framework -->
	
    <!-- Styles specific for current page -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
     <!-- END Specific Styles -->
    
    <!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
    <!-- END General Styles -->
    
    <!-- Current Theme styles. These are changed via theme switcher -->	
	<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/globals.css" />
	<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/commons.css" />
	<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/plugins.css" />
	<!-- END Current Theme styles -->



<!--/SiXhEaD:CSS-->
<script language="Javascript"><!--
function VF_form_staff_add(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,mobile,required,true,errMsg,Please enter mobile-->
<!--type,text,name,email,required,true,isEmail,errMsg,Please enter Email ให้ถูกต้อง-->
<!--type,text,name,surname,required,true,errMsg,Please enter nickname-->
<!--type,text,name,name,required,true,errMsg,Please enter name-->
<!--type,text,name,nickname,required,true,errMsg,Please enter nickname-->
<!--type,password,name,p2,required,false,isEqualTo,p1,errMsg,Please enter รหัสผ่านให้ตรงกัน-->
<!--type,password,name,p1,required,false,isEqualTo,p2,errMsg,Please enter รหัสผ่านให้ตรงกัน-->
<!--type,text,name,username,required,true,errMsg,Please enter username-->
<!--end_of_saved_settings-->
	var theForm = document.form_staff_add;
	var emailRE = /^([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+$/;
	var errMsg = "";
	var setfocus = "";

	if (theForm['mobile'].value == ""){
		errMsg = "Please enter mobile";
		setfocus = "['mobile']";
	}
	if (!emailRE.test(theForm['email'].value)){
		errMsg = "Please enter Email.";
		setfocus = "['email']";
	}
	if (theForm['surname'].value == ""){
		errMsg = "Please enter nickname";
		setfocus = "['surname']";
	}
	if (theForm['name'].value == ""){
		errMsg = "Please enter name";
		setfocus = "['name']";
	}
	if (theForm['nickname'].value == ""){
		errMsg = "Please enter nickname";
		setfocus = "['nickname']";
	}
	if (theForm['p2'].value != ""){
		if (theForm['p2'].value != theForm['p1'].value){
			errMsg = "Please enter password.";
			setfocus = "['p2']";
		}
	}
	if (theForm['p1'].value != ""){
		if (theForm['p1'].value != theForm['p2'].value){
			errMsg = "Please enter password.";
			setfocus = "['p1']";
		}
	}
	if (theForm['username'].value == ""){
		errMsg = "Please enter username";
		setfocus = "['username']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'Alert');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}




	$(document).ready(function() {

		$('#status_level').change(function(){

			if ($("#status_level").val() =="ADMIN"){
				$('.access_level').removeAttr('checked');
				$('.access_level').attr('checked','checked');				
			}else{
				$('.access_level').removeAttr('checked');				
			}
			$(".access_level").uniform();
		});




	});


//-->
</script>
<form action="staff_edit.php" method="post" enctype="multipart/form-data" name="form_staff_add" id="form_staff_add" onsubmit="VF_form_staff_add();return false;">



<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	Edit Staff : Edit Staff complete.<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "index.php";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	EditStaff : Please enter information.<br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->

<div class="form-left">
	<label for="username">username : <span class="required">*</span></label>
</div>
<div class="form-right">
	<input name="username" type="text" class="width240"  id="username" value="$username" size="20" maxlength="100" />
</div>
<div class="form-left">
	<label for="password">password : <span class="required">*</span></label>
</div>
<div class="form-right">
	<input name="p1" type="password"  id="p1" size="20" maxlength="100" autocomplete="off" class="width240" />
</div>

<div class="form-left">
	<label for="password">password again : <span class="required">*</span></label>
</div>
<div class="form-right">
	<input name="p2" type="password"  id="p2" size="20" maxlength="100" autocomplete="off" class="width240" />
</div>

<div class="form-left">
	<label for="nickname">nickname : <span class="required">*</span></label>
</div>
<div class="form-right">
	<input name="nickname" type="text" class="width240"  id="nickname" value="$nickname" size="20" maxlength="100" />
</div>

<div class="form-left">
	<label for="name">name : <span class="required">*</span></label>
</div>
<div class="form-right">
	<input name="name" type="text" class="width240"  id="name" value="$name" size="20" maxlength="100" />
</div>

<div class="form-left">
	<label for="surname">nickname : <span class="required">*</span></label>
</div>
<div class="form-right">
	<input name="surname" type="text" class="width240"  id="surname" value="$surname" size="20" maxlength="100" />
</div>

<div class="form-left">
	<label for="email">Email : <span class="required">*</span></label>
</div>
<div class="form-right">
	<input name="email" type="text" class="width240"  id="email" value="$email" size="20" maxlength="100" />
</div>

<div class="form-left">
	<label for="mobile">mobile : <span class="required">*</span></label>
</div>
<div class="form-right">
	<input name="mobile" type="text" class="width240"  id="mobile" value="$mobile" size="20" maxlength="100" />
</div>

<div class="form-left">
	<label for="sex">sex : <span class="required">*</span></label>
</div>
<div class="form-right">
	<input name="sex" type="radio" id="radio" value="M" $select_m />Male&nbsp;&nbsp;<input type="radio" name="sex" id="radio2" value="F" $select_f />Female
</div>

<div class="form-left">
	<label for="status_level">status : <span class="required">*</span></label>
</div>
<div class="form-right">
    <select name="status_level" id="status_level" >
      <option  style="padding:3px;">Select</option>
      <option value="ADMIN" style="padding:3px;" $status1 >Admin</option>
      <option value="STAFF" style="padding:3px;" $status2 >Staff</option>
    </select>
</div>


<div class="form-left">
  <label for="status">Access : <span class="required">*</span></label>
</div>
<div class="form-right">
  
  <table width="200" border="0"  class="list-table"><thead>
    <tr>
      <th>Topic</th>
      <th>Read</th>
      <th>Add</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Import</th>
	  <th>Export</th>
    </tr></thead>
    
    <tbody>
<!--SiXhEaD:MEMBER_LIST-->	  
		<!--SUB:1-->	     
    <tr>
      <td>$MODULE_NAME</td>
      <td>$READ_CHECKBOX</td>
      <td>$WRITE_CHECKBOX</td>
      <td>$EDIT_CHECKBOX</td>
      <td>$DELETE_CHECKBOX</td>
      <td>$IMPORT_CHECKBOX</td>
      <td>$EXPORT_CHECKBOX</td>
    </tr>
		<!--/SUB:1-->
		<!--SUB:2-->	      
    <tr>
      <td>$MODULE_NAME</td>
      <td>$READ_CHECKBOX</td>
      <td>$WRITE_CHECKBOX</td>
      <td>$EDIT_CHECKBOX</td>
      <td>$DELETE_CHECKBOX</td>
      <td>$IMPORT_CHECKBOX</td>
      <td>$EXPORT_CHECKBOX</td>
    </tr>
		<!--/SUB:2-->
<!--/SiXhEaD:MEMBER_LIST-->	    
    </tbody>
  </table>
</div>

<div class="clear" style="text-align:right; width:450px; padding-top:30px;">
    	<a href="javascript:VF_form_staff_add();" class="submit button large ui-corner-all">Edit</a> 
</div>

<input name="action" type="hidden" id="action" value="edit" />
<input name="id" type="hidden" id="id" value="$id" />

<!--/SiXhEaD:STAFF_FORM-->




</form>
