<!--SiXhEaD:CSS-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>$TITLE_WEBSITE</title>
    
    <!-- JQuery UI CSS Framework -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
    <!-- End JQuery UI CSS Framework -->
	
    <!-- Styles specific for current page -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
     <!-- END Specific Styles -->
    
    <!-- General Styles common for all pages -->
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
    <link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
    <!-- END General Styles -->
    
    <!-- Current Theme styles. These are changed via theme switcher -->	
	<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/globals.css" />
	<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/commons.css" />
	<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/abstract-blue/css/plugins.css" />
	<!-- END Current Theme styles -->



<!--/SiXhEaD:CSS-->
<script type="text/javascript">
function staff_delete(id) {

		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการDeleteอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="window.location.href=\'staff_del.php?id='+id+'\';">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );
}
</script>

              <div style="margin:10px 15px 20px 10px; text-align:right;">
                	<a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">Add Staff</a>
                </div>
<table class="list-table">
            	<thead>
  <tr >
    <th width="5%" style="text-align:center;">ID</th>
    <th width="5%" >&nbsp;</th>
    <th width="14%" >username</th>
    <th width="35%" >detail</th>
    <th width="15%" >last access</th>
    <th width="10%" >status</th>
    <th colspan="2" style="text-align:center;">Action</th>
  </tr>
</thead>
                <tbody>
<!--SiXhEaD:MEMBER_LIST-->	  
		<!--SUB:1-->	  
  <tr>
    <td align="center" >$i.</td>
    <td ><img src="../../_files/member/$PIC" width="36" /></td>
    <td >$USERNAME</td>
    <td >$NAME $SURNAME ($NICKNAME)<br />
      $MOBILE $EMAIL</td>
    <td >$LASTLOGIN</td>
    <td >$STATUS</td>
    <td width="9%" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
 <td width="7%" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
  </tr>

		<!--/SUB:1-->
		<!--SUB:2-->	  
 <tr>
    <td align="center" >$i.</td>
    <td ><img src="../../_files/member/$PIC" width="36" /></td>
    <td >$USERNAME</td>
    <td >$NAME $SURNAME ($NICKNAME)<br />
      $MOBILE $EMAIL</td>
    <td >$LASTLOGIN</td>
    <td >$STATUS</td>
    <td width="9%" align="center" ><a href="$EDIT_LINK_HTML" class="edit-record">Edit</a></td>
 <td width="7%" align="center" ><a href="$DEL_LINK_HTML" class="delete-record">Delete</a></td>
  </tr>

		<!--/SUB:2-->
<!--/SiXhEaD:MEMBER_LIST-->	  
                </tbody>
</table>