<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->

<style>
.resource_block{
	display:block;
	float:left;
	width:180px;
	height:180px;
	padding:3px;
	text-align:center;
	background-color:#E8E8FF;
	padding-top:20px;
	margin:5px;
	padding-left:5px;
	padding-right:5px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}
</style>


<script type="text/javascript">
function image_delete(id) {   


		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<center><p>&nbsp;</p><p>กรุณายืนยันการลบอีกครั้ง</p><p>&nbsp;</p><p><span class="button submit medium green-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick="window.location.href=\'image_del.php?id='+id+'\';">ยืนยัน</span> <span class="button submit medium grey-back ui-corner-all" style="width:60px;text-align:center;font-size:12px;" onclick=\'$("#dialog-message").dialog("close");\'>ยกเลิก</span> </p><p>&nbsp;</p></center>');
		$( "#dialog-message" ).dialog( "open" );
}
</script>

<form action="edit.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_edit();return false;" >

              <div style="margin:10px 15px 20px 10px; text-align:right;">
                	<a href="$WRITE_LINK_HTML" id="add-page" class="submit button large ui-corner-all">แก้ไขข้อมูล</a>
                </div>


                <div id="tabs">
                  <ul>
                    <ul>
                        <li><a href="#tabs-content">รายละเอียด</a></li>                        
                        <li><a href="#tabs-gallery">รูป Gallery</a></li>
                    </ul>

                  </ul>
                    <div id="tabs-content">
<p class="padding10"><span class="bold">หัวข้อ</span><br/>
$about_topic</p>


<p class="padding10"><span class="bold">หัวย่อ</span><br />
  $about_intro_en  <br/>
</p>
<div class="clear"></div>
</div>

                    <div id="tabs-gallery">
                      <p class="padding10">
                      

<!--SiXhEaD:MEMBER_LIST-->	  
		<!--SUB:1-->	  
<div id="" class="resource_block">
<img src="../../_files/images/thumb/$resource_pic" width="160" /></div>
		<!--/SUB:1-->
<!--/SiXhEaD:MEMBER_LIST-->	  
                      
                      </p>
                      <div class="clear"></div>
</div>
  </div>
  <input name="action" type="hidden" id="action" value="edit" />
<input name="id" type="hidden" id="id" value="$id" />






</form>
