<!--SiXhEaD:CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>$TITLE_WEBSITE</title>
<!-- JQuery UI CSS Framework -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/ui-lightness/jquery-ui-1.8.4.custom.css"  />
<!-- End JQuery UI CSS Framework -->
<!-- Styles specific for current page -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/markitup/sets/html/style.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/js/jqplot/jquery.jqplot.css" />
<!-- END Specific Styles -->
<!-- General Styles common for all pages -->
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/globals.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/commons.css" />
<link rel="stylesheet" type="text/css" href="$BASEURL/chicadmin/css/plugins.css" />
<!-- END General Styles -->
<!-- Current Theme styles. These are changed via theme switcher -->
<link rel="stylesheet" id="active-theme-globals" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/globals.css" />
<link rel="stylesheet" id="active-theme-commons" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/commons.css" />
<link rel="stylesheet" id="active-theme-plugins" type="text/css" href="$BASEURL/chicadmin/themes/clean-grey/css/plugins.css" />
<!-- END Current Theme styles -->
<!--/SiXhEaD:CSS-->
<script type="text/javascript" src="$BASEURL/chicadmin/ckeditor/ckeditor.js"></script>
<script language="Javascript"><!--
function VF_change_password(){ //v2.0
<!--start_of_saved_settings-->
<!--type,text,name,dealer_zip,required,true,isNum,errMsg,กรุณาระบุรหัสไปรษณีย์-->
<!--type,text,name,dealer_tel,required,true,errMsg,กรุณาระบุเบอร์โทรศัพท์-->
<!--type,text,name,dealer_address,required,true,errMsg,กรุณาระบุที่อยู่-->
<!--type,text,name,dealer_name,required,true,errMsg,กรุณาระบุชื่อบริษัท-->
<!--type,select,name,dealer_province,isDefault,errMsg,กรุณาระบุจังหวัด-->
<!--end_of_saved_settings-->
	var theForm = document.change_password;
	var numRE = /^\d+$/;
	var sFlg_dealer_province = false;
	var errMsg = "";
	var setfocus = "";

	for(var s0=0;s0<theForm['dealer_province'].length;s0++){if(theForm['dealer_province'].options[s0].selected){if(theForm['dealer_province'].options[s0].text==theForm['dealer_province'].options[0].text)sFlg_dealer_province=true;}}


	if (theForm['dealer_tel'].value == ""){
		errMsg = "กรุณาระบุเบอร์โทรศัพท์";
		setfocus = "['dealer_tel']";
	}
	if (theForm['dealer_address'].value == ""){
		errMsg = "กรุณาระบุที่อยู่";
		setfocus = "['dealer_address']";
	}
	if (theForm['dealer_name'].value == ""){
		errMsg = "กรุณาระบุชื่อบริษัท";
		setfocus = "['dealer_name']";
	}
	if (sFlg_dealer_province){
		errMsg = "กรุณาระบุจังหวัด";
		setfocus = "['dealer_province']";
	}
	if (errMsg != ""){
		$( "#dialog-message").dialog('option', 'title', 'แจ้งเตือน');
		$( "#dialog-message" ).html('<p>&nbsp;</p><p>'+errMsg+'</p><p>&nbsp;</p>');
		$( "#dialog-message" ).dialog( "open" );
		eval("theForm" + setfocus + ".focus()");
	}
	else theForm.submit();
}//-->
</script>

<form action="add.php" method="post" enctype="multipart/form-data" name="change_password" id="change_password" onsubmit="VF_change_password();return false;" >

<!--SiXhEaD:STAFF_SUCCESS--><br/>
            <div class="status success width600"><br/>
            	เพิ่มร้านค้าทีวีดาวเทียม : เพิ่มข้อมูลเรียบร้อยแล้ว<br/>
            <br/></div><br/>
            <script language="Javascript">
				setTimeout(function() {  window.location.href = "index.php?t=$dealer_province";}, 500);
			</script>
<!--/SiXhEaD:STAFF_SUCCESS-->

<!--SiXhEaD:STAFF_INFO--><br/>
            <div class="status info width600"><br/>
            	เพิ่มร้านค้าทีวีดาวเทียม : กรุณาระบุข้อมูลให้ครบถ้วน <br/>
           <br/> </div><br/>
<!--/SiXhEaD:STAFF_INFO-->



<!--SiXhEaD:STAFF_FORM-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-news">ข้อมูล</a></li>
                    </ul>
                    <div id="tabs-news">
<table width="100%" border="0" cellpadding="5" cellspacing="0">
  <tr>
    <td width="50"><p class="padding10">จังหวัด<br/>
 <select name="dealer_province" id="dealer_province">
$PROVINCE_HTML  
  </select>
    </p></td>
    </tr>
  <tr>
    <td width="50"><p class="padding10">ชื่อบริษัท<br/>
      <input name="dealer_name" type="text" id="dealer_name" value="$dealer_name"  maxlength="400" style="width:700px;" />
      </p></td>
  </tr>
  <tr>
    <td><p class="padding10">ที่อยู่<br/>
      <input name="dealer_address" type="text" id="dealer_address" value="$dealer_address"  maxlength="400" style="width:700px;" />
    </p></td>
  </tr>
  <tr>
    <td><p class="padding10">เบอร์ติดต่อ<br/>
      <input name="dealer_tel" type="text" id="dealer_tel" value="$dealer_tel"  maxlength="400" style="width:700px;" />
    </p></td>
  </tr>
  <tr>
    <td><p class="padding10">รหัสไปรษณีย์<br/>
      <input name="dealer_zip" type="text" id="dealer_zip" value="$dealer_zip"  maxlength="5" style="width:700px;" />
    </p></td>
  </tr>
  <tr>
    <td><p class="padding10">
      <input name="content_status" type="checkbox" id="content_status" value="Y" checked="checked" />
      แสดงผล</p></td>
  </tr>
</table>
<div class="clear"></div>
</div>
    </div>

<div style="margin:10px 15px 20px 10px; text-align:right;">
    	<a href="javascript:VF_change_password();" class="submit button large ui-corner-all">เพิ่มร้านค้าทีวีดาวเทียม</a> 
</div>

<input name="action" type="hidden" id="action" value="add" />
<input name="t" type="hidden" id="t" value="$t" />

<!--/SiXhEaD:STAFF_FORM-->





</form>
