

SPAN.tagMatches {
	margin-left: 10px;
	padding-bottom: 20px;  

}  
      
SPAN.tagMatches SPAN {
	padding: 5px;
	margin-right: 4px;
	line-height: 24pt; 
	background-color: #0099CC;
	color: #fff;
	cursor: pointer;
}
SPAN.tagMatchesdisplay {
	margin-left: 10px;
	padding-bottom: 10px;  
}  
      
SPAN.tagMatchesdisplay SPAN {
	padding: 3px;
	margin-right: 4px;
	line-height: 24pt; 
	background-color: #0099CC;
	color: #fff;
}

.TAG_CLEAR{
	padding: 5px;
	margin-right: 4px;
	line-height: 24pt; 
	background-color: #FF99CC;
	color: #fff;
	cursor: pointer;
	text-decoration:none;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.tagMatches a{
		text-decoration:none;
}

._tag_suggestion{
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}